﻿@using AWESAirline.Models
@using AWESAirline.Controllers
@using wwweasyflyawes.Models
<div class="row">
    <div class="small-9 columns">
        @if (@ViewBag.paymentMethod == "EFECTY" || @ViewBag.paymentMethod == "BALOTO" || @ViewBag.paymentMethod == "Referenciado")
        {
            <h2 class="margin_top3">Resumen de reserva</h2>
            
                <h4>Gracias por viajar con Easyfly</h4>
            <p>
                Realice su pago en @ViewBag.paymentMethod con el Código No. <span class="coigo">@ViewBag.order</span> y el convenio No. <span class="coigo">@ViewBag.agreement</span><br>
                Una vez realizado el pago, nuestro sistema confirmará vía e-mail emitiendo un documento<br>
                con el cual podrá presentarse en el aeropuerto de la ciudad de salida
            </p>
        }
        else
        {
            <h2 class="margin_top3">Resumen de compra</h2>
        <h4>Transacción aprobada. Gracias por viajar con Easyfly</h4>
            <p>
                Hemos enviado un e-mail de confirmación a @ViewBag.ETKT.Rows[0]["Email"].ToString() incluyendo un
                eTicket para cada pasajero, es importante que Ud. lea este documento. Si tiene alguna duda favor llame a nuestro Call center.
            </p>
        }
    </div>
    <div class="small-3 columns">
        <div class="small-12 columns e-ticket margin-top">
            <img src="/Content/img/e-ticket.jpg" alt="" />
        </div>
        @if (AWESMVCCommon.Security.userAdministrator.instance.user.isAuthenticated) { 
            <div class="small-12 columns bg-naranja0">
                <div class="small-8 columns">
                    <span>Código de Reserva</span>
                </div>
                <div class="small-4 columns">
                    @ViewBag.Code
                </div>
            </div>
        }
    </div>
    @if (@ViewBag.paymentMethod == "EFECTY" || @ViewBag.paymentMethod == "BALOTO" || @ViewBag.paymentMethod == "Referenciado")
    {
        <div class="small-12 columns bg-azul3 padding_2 margin-top">

            <div class="small-2 columns label_table">
                Código de pago
            </div>
            <div class="small-3 columns ">
                @ViewBag.order
            </div>
            <div class="small-2 columns label_table">
                Código de convenio
            </div>
            <div class="small-3 columns ">
                @ViewBag.agreement
            </div>
        </div>
        <div class="small-12 columns bg-azul3 padding_2 margin-top">

            <div class="small-2 columns label_table">
                Fecha de reserva
            </div>
            <div class="small-3 columns ">
                @Convert.ToDateTime(@ViewBag.reservationDate).AddHours(-5)
            </div>
            <div class="small-2 columns label_table">
                Fecha de expiración
            </div>
            <div class="small-3 columns ">
                @Convert.ToDateTime(@ViewBag.expirationDate).AddHours(-5)
            </div>
        </div>
    }
    else
    {
        <div class="small-12 columns bg-azul3 padding_2 margin-top">
            <div class="small-2 columns label_table">
                Fecha de Emisión
            </div>
            <div class="small-3 columns ">
                @DateTime.Now
            </div>
            @*<div class="small-2 columns label_table">

                </div>*@
            <div class="small-2 columns ">
                @ViewBag.flayerCode
            </div>
        </div>
    }
    <h2 class="margin_top left">ITINERARIO</h2>

    <table width="100%" border="0" cellspacing="3">
        <thead>
            <tr>
                <td>Nº Vuelo</td>
                <td>Origen</td>
                <td>Destino</td>
                <td>salida</td>
                <td>Llegada</td>
                <td>Reserva de Silla</td>
                <td>Equipaje Chequeado</td>
                <td>Tarifa</td>
            </tr>
        </thead>
        <tr>
            <td>EF @ViewBag.departureFlight</td>
            <td>@ViewBag.origin</td>
            <td>@ViewBag.destination</td>
            <td>@ViewBag.departureTime</td>
            <td>@ViewBag.arrivalTime</td>
            <td>NO TIENE RESERVA</td>
            <td>MAX 1 PIEZA QUE PESE 15 Kg.</td>
            <td>@ViewBag.departureClass</td>
        </tr>
        @if (ViewBag.typeFlight == 1)
        {
            <tr>
                <td>EF @ViewBag.returnFlight</td>
                <td>@ViewBag.destination</td>
                <td>@ViewBag.origin</td>
                <td>@ViewBag.departureTimeReturn</td>
                <td>@ViewBag.arrivalTimeReturn</td>
                <td>NO TIENE RESERVA</td>
                <td>MAX 1 PIEZA QUE PESE 15 Kg.</td>
                <td>@ViewBag.returnClass</td>
            </tr>
        }
    </table>

    <h2>PASAJEROS</h2>
    @foreach (Pax pax in ViewBag.paxList)
    {
        <div class="small-12 columns bg-azul2 padding_2">
            <div class="small-2 columns label_table">
                Nombre pasajero
            </div>
            <div class="small-2 columns ">
                @pax.Name @pax.LastName
            </div>
            <div class="small-3 columns label_table">
                Doc. de identificación
            </div>
            <div class="small-2 columns ">
                @pax.DocumentType @pax.DocumentNumber
            </div>
            <div class="small-2 columns label_table">
                Tipo pasajero
            </div>
            @if (pax.PaxType == "ADT")
            {
                <div class="small-1 columns ">
                    Adulto
                </div>
            }
            else if (pax.PaxType == "CNN")
            {
                <div class="small-1 columns ">
                    NIÑO
                </div>
            }
            else if (pax.PaxType == "INF")
            {
                <div class="small-1 columns ">
                    INFANTE
                </div>
            }
            @*<div class="small-1 columns label_table">
                    Tiquete
                </div>
                <div class="small-2 columns ">
                    @foreach (System.Data.DataRow TKT in ViewBag.ETKT.Rows)
                    {
                        if (pax.DocumentNumber == TKT["DocId"].ToString())
                        {
                            @TKT["ETKT"].ToString()
                        }
                    }
                </div>*@
        </div>
    }

    <h2 class=" margin_top left">INFORMACIÓN DE PAGO</h2>

    <table width="100%" border="0" cellspacing="3">
        <thead>
            <tr>
                <td>Concepto</td>
                <td>Tipo</td>
                <td>Tarifa + combustible</td>
                <td>Tasa Administrativa</td>
                <td>Tasas e Impuestos</td>
                <td>Valor Total</td>
            </tr>
        </thead>
        <tr>
            @if (ViewBag.typeFlight == 0)
            {
                <td>PASAJE @ViewBag.origin-@ViewBag.destination</td>
            }
            else
            {
                <td>PASAJE @ViewBag.origin-@ViewBag.destination-@ViewBag.origin</td>
            }
            <td>@ViewBag.paymentMethod</td>
            <td>COP @string.Format("{0:$ #,###}", Convert.ToDouble(ViewBag.value) - Convert.ToDouble(ViewBag.valueCO) - Convert.ToDouble(ViewBag.valueYS) - Convert.ToDouble(ViewBag.valueTB) - Convert.ToDouble(ViewBag.valueTA))</td>
            <td>COP @string.Format("{0:$ #,###}", Convert.ToDouble(ViewBag.valueTA))</td>
            <td>COP @string.Format("{0:$ #,###}", Convert.ToDouble(ViewBag.valueCO) + Convert.ToDouble(ViewBag.valueYS) + Convert.ToDouble(ViewBag.valueTB))</td>
            <td>COP @string.Format("{0:$ #,###}", ViewBag.value)</td>
        </tr>
    </table>

    <div class="small-12 columns margin_top3 ">
        <div class="small-6 columns bg-azul">
            <div class="small-6 columns">
                <img src="/Content/img/call_center.png" alt="" />
            </div>
            <div class="small-6 columns">
                <span class="horario_tit">Horario de Atención Call Center:</span>
                <span class="horario_txt">LUN - VIE de 05:00AM a 09:00PM </span>
                <span class="horario_txt">Sábado, domingo y feriados06:00AM a 08:00PM</span>
            </div>
        </div>
        @*<div class="small-6 columns">
                <div class="small-3 columns">
                    <img src="/Content/img/imprimir.png" alt="" class="right" />
                </div>
                <div class="small-9 columns">
                    <div class="bot_naranja">Imprimir E-ticket</div>
                </div>
            </div>*@
    </div>
</div>
<script>

(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('send', 'pageview');
    ga('require', 'ecommerce');

    if (!("@ViewBag.paymentMethod" == "EFECTY" || "@ViewBag.paymentMethod" == "BALOTO")) {
        var code="@ViewBag.Code";
        if('@ViewBag.Code'==""){
            code="EFECTY";
        }

        var tax= parseFloat("@ViewBag.valueCO") + parseFloat("@ViewBag.valueYS") + parseFloat("@ViewBag.valueTB") + "";

        ga('ecommerce:addTransaction', {
            'id': code,
            'affiliation': 'EasyFly Principal',
            'revenue': '@ViewBag.value',
            'shipping': '0',
            'tax': tax,
        });

        ga('ecommerce:send');

        @*_gaq.push(['_addTrans',
      code,           // transaction ID - required
      'EasyFly Principal',  // affiliation or store name
      '@ViewBag.value',          // total - required
      tax,           // tax
      '0',              // shipping
      'Bogotá',       // city
      'Bogotá',     // state or province
      'Colombia'             // country
        ]);

        // add item might be called for every item in the shopping cart
        // where your ecommerce engine loops through each item in the cart and
        // prints out _addItem for each
        _gaq.push(['_addItem',
         code,           // transaction ID - required
         'ETKT001',           // SKU/code - required
         '@ViewBag.origin-@ViewBag.destination',        // product name
         '@ViewBag.departureClass @ViewBag.returnClass',   // category or variation
         '@ViewBag.value',          // unit price - required
         '@ViewBag.paxList.Count'         // quantity - required
        ]);
        _gaq.push(['_trackTrans']); //submits transaction to the Analytics servers*@
    }
</script>
<!-- Google Code for Compra Pasaje (Nuevo Site) Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 994704783;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "alXlCP7cj2IQj_un2gM";
    var google_conversion_value = @ViewBag.value;
    var google_conversion_currency = "COP";
    var google_remarketing_only = false;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/994704783/?value=1.00&amp;currency_code=COP&amp;label=alXlCP7cj2IQj_un2gM&amp;guid=ON&amp;script=0" />
    </div>
</noscript>
