﻿@model AWESAirline.Controllers.logInModel

@{
    ViewBag.Title = "logIn";
}
<div class="row margin_top">
    <h2>Ingreso EasyFlyer</h2>
        <div class="large-12 columns bg-azul2 margin_top">
            <h4>Ingreso</h4>
        </div>
    <form action="/access/logInHome" method="POST" id="sendLogIn">
        @*@Html.AntiForgeryToken()*@
        <div class="large-12 columns bg-azul5" style="margin-top:-1px;">
            @*<div class="form-group">
                    @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", onkeyup = "emailValidation(this.value)" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="log in" class="btn btn-default" />
                    </div>
                </div>*@
            <div class="large-11 small-12 columns large-centered padding">
                <div class="large-4 small-12 columns">
                    <label class="margin_left">Email</label>
                    <input id="emailInLogIn" class="" name="userEmail" type="text" placeholder="Email" onchange="email(this.value)">
                </div>
                <div class="large-4 small-12 columns">
                    <label class="margin_left">Password</label>
                    <input id="passInLogIn" name="userPassword" class="" type="password" placeholder="Password">
                </div>
                <div class="large-4 small-12 columns">
                    <a href="javascript:send()" class="small-12 columns bot_naranja2">ENVIAR</a>
                </div>
            </div>
        </div>
    </form>
    @*<div class="bordered">
        <ul>
            @foreach (string error in ViewBag.errores)
            {
                <li>
                    @error
                </li>
            }
        </ul>
    </div>*@

</div>
<script>
    var emailIsRight = false;
    function email(value) {
        if (value != "" && value != null) {
            if (emailValidation(value)) {
                emailIsRight = true;
            } else {
                emailIsRight = false;
                $("#email").attr("value", "");
            }
        } else {
            emailIsRight = false;
        }
    }
    function send() {
        var email = $("#emailInLogIn").val();
        var pass = $("#passInLogIn").val();

        $.getJSON("/base/logInModal", { email: email, pass: pass, emailRemember: false }, processLogIn)
            .fail(function (jqXHR, textStatus, data) {
                mixpanel.track("Error", { "Number": "11001", "Page": "login", "url": "/base/logInModal", "Details": "no se pudo loguear usuario" });
                errorObject = JSON.parse(jqXHR.responseText);
                log("processRegister::error:" + errorObject.Message);
            })
    }
    function processLogIn(data, textStatus, jqXHR) {
        if (data.data == "OK") {
            location.href = "/Home/Index";
        } else {
            alert("Hubo un error al intentar ingresar, porfavor verifique que escribió bien sus credenciales");
            location.href = "/access/login";
        }
    }
</script>
