﻿@model AWESAirline.Controllers.passwordRecoverModel

@{
    ViewBag.Title = "password Recovery";
}

<div class="row margin_top">
    <h2>EasyFlyer</h2>
    <div class="large-12 columns bg-azul2 margin_top">
        <h4>Recuperar contraseña</h4>
    </div>
    <form action="/access/passwordRecovery" method="POST" id="sendLogIn">
        @*@Html.AntiForgeryToken()*@
        <div class="large-12 columns bg-azul5" style="margin-top:-1px;">
            @*<div class="form-group">
                    @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", onkeyup = "emailValidation(this.value)" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="log in" class="btn btn-default" />
                    </div>
                </div>*@
            <div class="large-11 small-12 columns large-centered padding">
                <div class="large-4 small-12 columns">
                    <label class="margin_left">Email</label>
                    <input id="emailInLogIn" class="" name="userEmail" type="text" placeholder="Email" onchange="email(this.value)">
                </div>
                <div class="large-4 small-12 columns" style="right:300px;">
                    <a href="javascript:send()" class="small-12 columns bot_naranja2">ENVIAR</a>
                </div>
            </div>
        </div>
    </form>
    @*<div class="bordered">
            <ul>
                @foreach (string error in ViewBag.errores)
                {
                    <li>
                        @error
                    </li>
                }
            </ul>
        </div>*@

</div>

<script>
    var emailIsRight = false;
    function email(value) {
        if (value != "" && value != null) {
            if (emailValidation(value)) {
                emailIsRight = true;
            } else {
                emailIsRight = false;
                $("#email").attr("value", "");
            }
        } else {
            emailIsRight = false;
        }
    }
    function send() {
        var email = $("#emailInLogIn").val();
        $.blockUI();
        $.getJSON("/access/passwordRecovery", { email: email }, passwordRecoveryResponse)
            .fail(function (jqXHR, textStatus, data) {
                $.unblockUI();
                mixpanel.track("Error", { "Number": "12001", "Page": "passRecovery", "url": "/access/passwordRecovery", "Details": "no se pudo recuperar contraseña" });
                errorObject = JSON.parse(jqXHR.responseText);
                log("processRegister::error:" + errorObject.Message);
            })
    }
    function passwordRecoveryResponse(data, textStatus, jqXHR) {
        $.unblockUI();
        if (data.OK == "SUCCESS") {
            invokeModalError(data.data);
        } else {
            invokeModalError(data.data);
        }
    }
</script>

@*<h2>password Recovery</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>passwordRecoverModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", onChange = "emailValidation(this.value)" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        <div class="bordered">
            <ul>
                @foreach (string error in ViewBag.errors)
                {
                    <li>
                        @error
                    </li>
                }
            </ul>
        </div>
    </div>
}*@
