﻿@using AWESMVCCommon.Security;
@using wwweasyflyawes.Models
@model Utilidades.Models.mdlCompra
@if (userAdministrator.instance.user.isAuthenticated)
{ 
    <p hidden id="isAuth">Auth</p>
}
<div class="row margin_top">
    <div class="large-7 columns">
        <h2> Información de pasajeros</h2>
    </div>
    <div class="large-5 columns">
        <div class="row">
            <div class="pasos">
                <div class="paso1">
                    <span class="numero">3</span>
                    <span class="pasos_tit">Pago</span>
                </div>
                <div class="paso1">
                    <span class="numero active">2</span>
                    <span class="pasos_tit">Pasajeros</span>
                </div>
                <div class="paso1">
                    <span class="numero selected">1</span>
                    <span class="pasos_tit">Vuelos</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <h4>Itinerario Seleccionado <span>@(Model.Adultos + Model.Niños + Model.Infantes) pasajero(s)</span></h4>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="row resumen_top">
            <div class="large-7 medium-6 small-5 columns">
                <div class="info_final">
                    <div class="ico_ida">
                        <span class="info_hora">@ViewBag.origin - @ViewBag.destination</span>
                        <span class="info_ciudad">@ViewBag.departureTime.ToString().Substring(8, 2)/@ViewBag.departureTime.ToString().Substring(5, 2)   @ViewBag.departureTime.ToString().Substring(11, 5) - @ViewBag.arrivalTime.ToString().Substring(11, 5)</span>
                    </div>
                    <div class="txt_ida large-3 show-for-large-only columns">
                        IDA
                    </div>
                </div>
                @if (ViewBag.typeFlight == 1)
                { 
                <div class="info_final" style="margin-top:5px;">
                    <div class="txt_regreso large-5 show-for-large-only columns">
                        REGRESO
                    </div>
                    <div class="ico_regreso">
                        <span class="info_hora">@ViewBag.destination - @ViewBag.origin</span>
                        <span class="info_ciudad">@ViewBag.departureTimeReturn.ToString().Substring(8, 2)/@ViewBag.departureTimeReturn.ToString().Substring(5, 2)   @ViewBag.departureTimeReturn.ToString().Substring(11, 5) - @ViewBag.arrivalTimeReturn.ToString().Substring(11, 5)</span>
                    </div>
                </div>
                }
            </div>

            <div class="large-5  medium-6 small-7 columns">
                <div class="info_final2">
                    <div class="small-6 columns columna1">
                        <span>Tarifa</span>
                        @*<span>Combustible</span>*@
                        <span>Cargo Administrativo</span>
                        <span>Tasas e impuestos</span>
                        @if (Convert.ToString(ViewBag.discountPercentage) == "")
                        {                            
                            <span class="total">Total</span>
                        }
                        else
                        {
                            <span>Descuento @ViewBag.discountPercentage %</span>
                            <span class="total">Total</span>
                        }
                    </div>
                    <div class="small-6 columns columna2">
                        <span>@string.Format("{0:$ #,###}", ViewBag.price)</span>
                        @*<span>$60.000</span>*@
                        <span>@string.Format("{0:$ #,###}", ViewBag.fee)</span>
                        <span>@string.Format("{0:$ #,###}", ViewBag.tax)</span>
                        @if (Convert.ToString(ViewBag.discountPercentage) == "")
                        {
                            <span class="total">@string.Format("{0:$ #,###}", Convert.ToDouble(ViewBag.price) + Convert.ToDouble(ViewBag.tax) + Convert.ToDouble(ViewBag.fee))</span>
                        }
                        else
                        {
                            <span>@string.Format("{0:$ #,###}", (Convert.ToDouble(ViewBag.price) + (Convert.ToDouble(ViewBag.price) * 0.16)) * (Convert.ToDouble(ViewBag.discountPercentage) / 100))</span>
                            <span class="total">@string.Format("{0:$ #,###}", Convert.ToDouble(ViewBag.price) + Convert.ToDouble(ViewBag.tax) + Convert.ToDouble(ViewBag.fee) - ((Convert.ToDouble(ViewBag.price) + (Convert.ToDouble(ViewBag.price) * 0.16)) * (Convert.ToDouble(ViewBag.discountPercentage) / 100)))</span>
                        }
                    </div>
                </div>
            </div>
        </div>
        <form action="" method="post" id="formPax">

            @if (userAdministrator.instance.user.isAuthenticated)
            {
                <div class="row ">
                    <div id="AdultsID" class="small-12 columns margin_top bg-azul">
                        <h2 class="small-12 columns">Adultos <span><a href="#" data-reveal-id="modal3">(Editar Adultos)</a></span></h2>
                        <div class="large-11 medium-12 small-12 large-centered columns margin_top">
                            <h3 class="small-12 columns color_azul2">1. PASAJERO PRINCIPAL (Debe ser una persona mayor de 12 años)</h3>

                            <div class="small-12 columns">
                                <div class="large-4 small-12 columns">
                                    <label>Nombre pasajero 1</label>
                                </div>
                                <div class="large-4 small-12 columns">
                                    <select name="" id="loginPaxAP" class="select_2">
                                        <option></option>
                                    </select>
                                </div>
                                <div class="large-4 small-12 columns">
                                    <a class="agregar1">Agregar un pasajero que no esta en la lista</a>
                                </div>
                                <div class="large-4 small-12 columns">
                                </div>
                            </div>
                            <div class="small-12 columns">
                                <div class="large-4 small-12 columns">
                                    <label></label>
                                </div>
                                <div class="large-4 small-12 columns">
                                    @Html.TextBoxFor(modelItem => modelItem._paxAdultos[0].Nombre, new { @class = "auto-hint", maxlength = "15", title = "Nombre", ID = "txtNameAP", onkeyup = "esTextoNombre(this.value)", @placeholder = "Ingrese nombre" })
                                    @*<input type="text" id="txtNameA" />*@
                                </div>
                                <div class="large-4 small-12 columns">
                                </div>
                            </div>
                            <div class="small-12 columns">
                                <div class="large-4 small-12 columns">
                                    <label>Apellido</label>
                                </div>

                                <div class="large-4 small-12 columns">
                                    @Html.TextBoxFor(modelItem => modelItem._paxAdultos[0].Apellido, new { @class = "auto-hint", maxlength = "15", title = "Apellido", id = "txtLastNameAP", onkeyup = "esTextoNombre(this.value)", placeholder = "Ingrese apellido" })
                                </div>
                                <div class="large-4 small-12 columns">
                                </div>
                            </div>
                            <div class="small-12 columns">
                                <div class="large-4 small-12 columns">
                                    <label>No. Identificación</label>
                                </div>
                                <div class="large-4 small-12 columns">
                                    @Html.TextBoxFor(modelItem => modelItem._paxAdultos[0].NumeroDocumento, new { @class = "auto-hint", maxlength = "11", title = "No. de documento", id = "txtDocumentAP" })
                                </div>
                                <div class="large-4 small-12 columns">
                                </div>
                            </div>
                            <div class="small-12 columns">
                                <div class="large-4 small-12 columns">
                                    <label>No. Teléfono Colombia</label>
                                </div>
                                <div class="large-4 small-12 columns">
                                    @Html.EditorFor(modelItem => modelItem._comprador.TelefonoCelular, "Comprador", new { @class = "auto-hint", maxlength = "20", title = "Celular", id = "txtCelular" })
                                </div>
                                <div class="large-4 small-12 columns">
                                </div>
                            </div>
                            <div class="small-12 columns">
                                <div class="large-4 small-12 columns">
                                    <label>Correo electrónico</label>
                                </div>
                                <div class="large-4 small-12 columns">
                                    @*Html.EditorFor(modelItem => Model._comprador.Email, "Comprador", new { @class = "auto-hint", maxlength = "100", title = "Correo", id = "txtCorreo", onkeyup = "emailValidation(this.value)" })*@
                                    <input class="text-box single-line" id="txtCorreo" name="_comprador.Email" type="text">
                                </div>
                                <div class="large-4 small-12 columns">
                                </div>
                            </div>
                        </div>

                        @if (Model.Adultos > 1)
                        {
                            <h3 id="otherPassangersID" class="small-12 columns color_azul2">OTROS PASAJEROS (mayores de 12 años)</h3>
                            for (int intContador = 1; intContador < Model.Adultos; intContador++)
                            {
                                <div class="small-12 columns margin_top">
                                    <div class="large-4 small-12 columns">
                                        <label>Pasajero @(intContador + 1) Adulto</label>
                                    </div>
                                    <div class="large-4 small-12 columns">
                                        <select name="" id="loginPaxAS" class="select_2">
                                            <option></option>
                                        </select>
                                    </div>
                                    <div class="large-4 small-12 columns">
                                        <a class="agregar2">Agregar un pasajero que no esta en la lista</a>
                                    </div>
                                    <div class="small-12 columns margin_top">
                                        <div class="large-4 small-12 columns">
                                            <label>Nombre pasajero @(intContador + 1)</label>
                                        </div>
                                        <div class="large-4 small-12 columns">
                                            @Html.TextBoxFor(modelItem => modelItem._paxAdultos[intContador].Nombre, new { @class = "auto-hint", maxlength = "15", title = "Nombre", id = "txtNameAS", onkeyup = "esTextoNombre(this.value)" })
                                        </div>
                                        <div class="large-4 small-12 columns">
                                        </div>
                                    </div>
                                    <div class="small-12 columns">
                                        <div class="large-4 small-12 columns">
                                            <label>Apellido</label>
                                        </div>
                                        <div class="large-4 small-12 columns">
                                            @Html.TextBoxFor(modelItem => modelItem._paxAdultos[intContador].Apellido, new { @class = "auto-hint", maxlength = "15", title = "Apellido", id = "txtLastNameAS", onkeyup = "esTextoNombre(this.value)" })
                                        </div>
                                        <div class="large-4 small-12 columns">
                                        </div>
                                    </div>
                                    <div class="small-12 columns">
                                        <div class="large-4 small-12 columns">
                                            <label>No. Identificación</label>
                                        </div>
                                        <div class="large-4 small-12 columns">
                                            @Html.TextBoxFor(modelItem => modelItem._paxAdultos[intContador].NumeroDocumento, new { @class = "auto-hint", maxlength = "11", title = "No. de documento", id = "txtDocumentAS" })
                                        </div>
                                        <div class="large-4 small-12 columns">
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    </div>

                    </div>
                

                <div class="row">
                    <div id="agregar_aID" class="large-11 small-12 columns margin_top2 bg-azul-2 large-centered agregar_a">
                        <div class="cerrar1"></div>
                        <h2 class="small-12 columns">Agregar un nuevo pasajero</h2>
                        <div class="large-11 medium-12 small-12 large-centered columns">

                            <div class="small-12 columns margin_top">
                                <div class="large-4 small-12 columns">
                                    <label>Nombre</label>
                                </div>
                                <div class="large-4 small-12 columns">
                                    <input name="" id="namePaxLoginA" type="text">
                                </div>
                                <div class="large-4 small-12 columns">
                                </div>
                            </div>
                            <div class="small-12 columns">
                                <div class="large-4 small-12 columns">
                                    <label>Apellido</label>
                                </div>
                                <div class="large-4 small-12 columns">
                                    <input name="" id="lastNamePaxLoginA" type="text">
                                </div>
                                <div class="large-4 small-12 columns">
                                </div>
                            </div>

                            <div class="small-12 columns">
                                <div class="large-4 small-12 columns">
                                    <label>No. Identificación</label>
                                </div>
                                <div class="large-4 small-12 columns">
                                    <input name="" id="documentPaxLoginA" type="text">
                                </div>
                                <div class="large-4 small-12 columns">
                                    <input type="button" id="btnSendPaxA" rel="A" value="GUARDAR" class=" bot_guardar" onclick="addPaxLoginData('A');" />
                                    @*<a href="#" class=" bot_guardar">GUARDAR</a>*@
                                </div>
                            </div>

                        </div>
                    </div>
                    <span id="messaggeConfirmation" style="color:red;"></span>
                </div>

                for (int intContador = 0; intContador < Model.Niños; intContador++)
                {
                    <div class="row">
                        <div id="kidsID" class="small-12 columns margin_top bg-azul">
                            <h2 class=" small-12 columns">2. Niños (Entre 2 y 11 años)<span>(Editar Niños)</span></h2>
                            <div class="large-11 medium-12 small-12 large-centered columns">

                                <div class="small-12 columns margin_top">
                                    <div class="large-4 small-12 columns">
                                        <label>Nombre niño 1</label>
                                    </div>
                                    <div class="large-4 small-12 columns">
                                        <select name="" id="loginPaxN" class="select_2">
                                            <option></option>
                                        </select>
                                    </div>
                                    <div class="large-4 small-12 columns">
                                        <a class="agregar3">Agregar un pasajero niño que no esta en la lista</a>
                                    </div>
                                </div>
                                <div class="small-12 columns">
                                    <div class="large-4 small-12 columns">
                                        <label>Nombre niño @(intContador + 1)</label>
                                    </div>
                                    <div class="large-4 small-12 columns">
                                        @Html.TextBoxFor(modelItem => modelItem._paxNiños[intContador].Nombre, new { @class = "auto-hint", maxlength = "15", title = "Nombre", id = "txtNameN", onkeyup = "esTextoNombre(this.value)" })
                                    </div>
                                    <div class="large-4 small-12 columns">
                                    </div>
                                </div>
                                <div class="small-12 columns">
                                    <div class="large-4 small-12 columns">
                                        <label>Apellido</label>
                                    </div>
                                    <div class="large-4 small-12 columns">
                                        @Html.TextBoxFor(modelItem => modelItem._paxNiños[intContador].Apellido, new { @class = "auto-hint", maxlength = "15", title = "Apellido", id = "txtLastNameN", onkeyup = "esTextoNombre(this.value)" })
                                    </div>
                                    <div class="large-4 small-12 columns">
                                    </div>
                                </div>
                                <div class="small-12 columns">
                                    <div class="large-4 small-12 columns">
                                        <label>No. Identificación</label>
                                    </div>
                                    <div class="large-4 small-12 columns">
                                        @Html.TextBoxFor(modelItem => modelItem._paxNiños[intContador].NumeroDocumento, new { @class = "auto-hint", maxlength = "11", title = "No. de documento", id = "txtDocumentN" })
                                    </div>
                                    <div class="large-4 small-12 columns">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="row">
                    <div id="agregar_nID" class="large-11  small-12 columns margin_top2 bg-azul-2 large-centered agregar_n">
                        <div class="cerrar2"></div>
                        <h2 class="small-12 columns">Agregar un nuevo pasajero niño</h2>
                        <div class="large-11 medium-12 small-12 large-centered columns">

                            <div class="small-12 columns margin_top">
                                <div class="large-4 small-12 columns">
                                    <label>Nombre</label>
                                </div>
                                <div class="large-4 small-12 columns">
                                    <input name="" id="namePaxLoginN" type="text">
                                </div>
                                <div class="large-4 small-12 columns">
                                </div>
                            </div>
                            <div class="small-12 columns">
                                <div class="large-4 small-12 columns">
                                    <label>Apellido</label>
                                </div>
                                <div class="large-4 small-12 columns">
                                    <input name="" id="lastNamePaxLoginN" type="text">
                                </div>
                                <div class="large-4 small-12 columns">
                                </div>
                            </div>

                            <div class="small-12 columns">
                                <div class="large-4 small-12 columns">
                                    <label>No. Identificación</label>
                                </div>
                                <div class="large-4 small-12 columns">
                                    <input name="" id="documentPaxLoginN" type="text">
                                </div>
                                <div class="large-4 small-12 columns">
                                    <input type="button" id="btnSendPaxN" rel="N" value="GUARDAR" class=" bot_guardar" onclick="addPaxLoginData('N');" />
                                    @*<a href="#" class=" bot_guardar">GUARDAR</a>*@
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                for (int intContador = 0; intContador < Model.Infantes; intContador++)
                {
                    <div class="row">
                        <div id="InfantsID" class="small-12 columns bg-azul7">
                            <h2 class="small-12 columns">3. Infantes (Menor de 2 años)</h2>
                            <div class="large-11 medium-12 small-12 large-centered columns">

                                <div class="small-12 columns margin_top">
                                    <div class="large-4 small-12 columns">
                                        <label>Nombre infante @(intContador + 1)</label>
                                    </div>
                                    <div class="large-4 small-12 columns">
                                        <select name="" id="loginPaxI" class="select_2">
                                            <option></option>
                                        </select>
                                    </div>
                                    <div class="large-4 small-12 columns">
                                        <a class="agregar4">Agregar un pasajero niño que no esta en la lista</a>
                                    </div>
                                </div>
                                <div class="small-12 columns margin_top">
                                    <div class="large-4 small-12 columns">
                                        <label>Nombre infante @(intContador + 1)</label>
                                    </div>
                                    <div class="large-4 small-12 columns">
                                        @Html.TextBoxFor(modelItem => modelItem._paxInfantes[intContador].Nombre, new { @class = "auto-hint", maxlength = "15", title = "Nombre", id = "txtNameI", onkeyup = "esTextoNombre(this.value)" })
                                    </div>
                                    <div class="large-4 small-12 columns">
                                    </div>
                                </div>
                                <div class="small-12 columns">
                                    <div class="large-4 small-12 columns">
                                        <label>Apellido</label>
                                    </div>
                                    <div class="large-4 small-12 columns">
                                        @Html.TextBoxFor(modelItem => modelItem._paxInfantes[intContador].Apellido, new { @class = "auto-hint", maxlength = "15", title = "Apellido", id = "txtLastNameI", onkeyup = "esTextoNombre(this.value)" })
                                    </div>
                                    <div class="large-4 small-12 columns">
                                    </div>
                                </div>
                                <div class="small-12 columns">
                                    <div class="large-4 small-12 columns">
                                        <label>No. Identificación</label>
                                    </div>
                                    <div class="large-4 small-12 columns">
                                        @Html.TextBoxFor(modelItem => modelItem._paxInfantes[intContador].NumeroDocumento, new { @class = "auto-hint", maxlength = "11", title = "No. de documento", id = "txtDocumentI" })

                                    </div>
                                    <div class="large-4 small-12 columns">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                }

                <div class="row">
                    <div id="agregar_iID" class="large-11  small-12 columns margin_top2 bg-azul-2 large-centered agregar_i">
                        <div class="cerrar3"></div>
                        <h2 class="small-12 columns">Agregar un nuevo pasajero infante</h2>
                        <div class="large-11 medium-12 small-12 large-centered columns">

                            <div class="small-12 columns margin_top">
                                <div class="large-4 small-12 columns">
                                    <label>Nombre</label>
                                </div>
                                <div class="large-4 small-12 columns">
                                    <input name="" id="namePaxLoginC" type="text">
                                </div>
                                <div class="large-4 small-12 columns">
                                </div>
                            </div>
                            <div class="small-12 columns">
                                <div class="large-4 small-12 columns">
                                    <label>Apellido</label>
                                </div>
                                <div class="large-4 small-12 columns">
                                    <input name="" id="lastNamePaxLoginC" type="text">
                                </div>
                                <div class="large-4 small-12 columns">
                                </div>
                            </div>

                            <div class="small-12 columns">
                                <div class="large-4 small-12 columns">
                                    <label>No. Identificación</label>
                                </div>
                                <div class="large-4 small-12 columns">
                                    <input name="" id="documentPaxLoginC" type="text">
                                </div>
                                <div class="large-4 small-12 columns">
                                    <input type="button" id="btnSendPaxC" rel="C" value="GUARDAR" class=" bot_guardar" onclick="addPaxLoginData('I');" />
                                    @*<a href="#" class=" bot_guardar">GUARDAR</a>*@
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row ">
                    <div id="AdultsID" class="small-12 columns margin_top bg-azul2">
                        <h2 class="small-12 columns" style="margin:0">Pasajeros</h2>
                    </div>

                    <div class="small-12 columns bg-azul7">
                        <h2 id="AdultsID" class="small-12 columns">Adultos</h2>
                        <div class="large-11 medium-12 small-12 large-centered columns margin_top">


                            <h3 class="small-12 columns color_azul2">1. PASAJERO PRINCIPAL (Debe ser una persona mayor de 12 años)</h3>

                            <div class="small-12 columns margin_top">
                                <div class="large-4 small-12 columns">
                                    <label>Nombre pasajero 1</label>
                                </div>
                                <div class="large-4 small-12 columns">
                                    @Html.EditorFor(modelItem => modelItem._paxAdultos[0].Nombre, "paxAdultos", new { @class = "auto-hint", maxlength = "15", title = "Nombre", id = "txtNombre", onkeyup = "esTextoNombre(this.value)", @placeholder = "Ingrese nombre" })
                                </div>
                                <div class="large-4 small-12 columns">
                                </div>
                            </div>
                            <div class="small-12 columns">
                                <div class="large-4 small-12 columns">
                                    <label>Apellido</label>
                                </div>
                                <div class="large-4 small-12 columns">
                                    @Html.EditorFor(modelItem => modelItem._paxAdultos[0].Apellido, "paxAdultos", new { @class = "auto-hint", maxlength = "15", title = "Apellido", id = "txtApellido", onkeyup = "esTextoNombre(this.value)", placeholder = "Ingrese apellido" })
                                </div>
                                <div class="large-4 small-12 columns">
                                </div>
                            </div>
                            <div class="small-12 columns">
                                <div class="large-4 small-12 columns">
                                    <label>No. Identificación</label>
                                </div>
                                <div class="large-4 small-12 columns">
                                    @Html.EditorFor(modelItem => modelItem._paxAdultos[0].NumeroDocumento, "paxAdultos", new { @class = "auto-hint", maxlength = "11", title = "No. de documento", id = "txtDocumento" })
                                </div>
                                <div class="large-4 small-12 columns">
                                </div>
                            </div>
                            <div class="small-12 columns">
                                <div class="large-4 small-12 columns">
                                    <label>No. Teléfono Colombia</label>
                                </div>
                                <div class="large-4 small-12 columns">
                                    @Html.EditorFor(modelItem => modelItem._comprador.TelefonoCelular, "Comprador", new { @class = "auto-hint", maxlength = "20", title = "Celular", id = "txtCelular" })
                                </div>
                                <div class="large-4 small-12 columns">
                                    <span class="nota">Sólo llamaremos si surge algun problema con la reserva</span>
                                </div>
                            </div>

                            <div class="small-12 columns">
                                <div class="large-4 small-12 columns">
                                    <label>Correo electrónico</label>
                                </div>
                                <div class="large-4 small-12 columns">
                                    @*Html.EditorFor(modelItem => Model._comprador.Email, "Comprador", new { @class = "auto-hint", maxlength = "100", title = "Correo", id = "txtCorreo", onkeyup = "emailValidation(this.value)" })*@
                                    <input class="text-box single-line" id="txtCorreo" name="_comprador.Email" type="text">
                                </div>
                                <div class="large-4 small-12 columns">
                                </div>
                            </div>
                            @if (Model.Adultos > 1)
                            {
                                <h3 id="otherPassangersID" class="small-12 columns color_azul2">OTROS PASAJEROS (mayores de 12 años)</h3>
                                for (int intContador = 1; intContador < Model.Adultos; intContador++)
                                {
                                    <div class="small-12 columns margin_top">
                                        <div class="large-4 small-12 columns">
                                            <label>Nombre pasajero @(intContador + 1)</label>
                                        </div>
                                        <div class="large-4 small-12 columns">
                                            @Html.EditorFor(modelItem => modelItem._paxAdultos[intContador].Nombre, "paxAdultos", new { @class = "auto-hint", maxlength = "15", title = "Nombre", id = "txtNombre", onkeyup = "esTextoNombre(this.value)" })
                                        </div>
                                        <div class="large-4 small-12 columns">
                                        </div>
                                    </div>
                                    <div class="small-12 columns">
                                        <div class="large-4 small-12 columns">
                                            <label>Apellido</label>
                                        </div>
                                        <div class="large-4 small-12 columns">
                                            @Html.EditorFor(modelItem => modelItem._paxAdultos[intContador].Apellido, "paxAdultos", new { @class = "auto-hint", maxlength = "15", title = "Apellido", id = "txtApellido", onkeyup = "esTextoNombre(this.value)" })
                                        </div>
                                        <div class="large-4 small-12 columns">
                                        </div>
                                    </div>
                                    <div class="small-12 columns">
                                        <div class="large-4 small-12 columns">
                                            <label>No. Identificación</label>
                                        </div>
                                        <div class="large-4 small-12 columns">
                                            @Html.EditorFor(modelItem => modelItem._paxAdultos[intContador].NumeroDocumento, "paxAdultos", new { @class = "auto-hint", maxlength = "11", title = "No. de documento", id = "txtDocumento" })
                                        </div>
                                        <div class="large-4 small-12 columns">
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                for (int intContador = 0; intContador < Model.Niños; intContador++)
                {
                    <div class="row">
                        <div id="kidsID" class="small-12 columns bg-azul7">
                            <h2 class="small-12 columns">2. Niños (Entre 2 y 11 años)</h2>
                            <div class="large-11 medium-12 small-12 large-centered columns">
                                <div class="small-12 columns">
                                    <div class="large-4 small-12 columns">
                                        <label>Nombre niño @(intContador + 1)</label>
                                    </div>
                                    <div class="large-4 small-12 columns">
                                        @Html.EditorFor(modelItem => modelItem._paxNiños[intContador].Nombre, "paxNiños", new { @class = "auto-hint", maxlength = "15", title = "Nombre", id = "txtNombre", onkeyup = "esTextoNombre(this.value)" })
                                    </div>
                                    <div class="large-4 small-12 columns">
                                    </div>
                                </div>
                                <div class="small-12 columns">
                                    <div class="large-4 small-12 columns">
                                        <label>Apellido</label>
                                    </div>
                                    <div class="large-4 small-12 columns">
                                        @Html.EditorFor(modelItem => modelItem._paxNiños[intContador].Apellido, "paxNiños", new { @class = "auto-hint", maxlength = "15", title = "Apellido", id = "txtApellido", onkeyup = "esTextoNombre(this.value)" })
                                    </div>
                                    <div class="large-4 small-12 columns">
                                    </div>
                                </div>
                                <div class="small-12 columns">
                                    <div class="large-4 small-12 columns">
                                        <label>No. Identificación</label>
                                    </div>
                                    <div class="large-4 small-12 columns">
                                        @Html.EditorFor(modelItem => modelItem._paxNiños[intContador].NumeroDocumento, "paxNiños", new { @class = "auto-hint", maxlength = "11", title = "No. de documento", id = "txtDocumento" })
                                    </div>
                                    <div class="large-4 small-12 columns">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                }

                for (int intContador = 0; intContador < Model.Infantes; intContador++)
                {
                    <div class="row">
                        <div id="InfantsID" class="small-12 columns bg-azul7">
                            <h2 class="small-12 columns">3. Infantes (Menor de 2 años)</h2>
                            <div class="large-11 medium-12 small-12 large-centered columns">

                                <div class="small-12 columns margin_top">
                                    <div class="large-4 small-12 columns">
                                        <label>Nombre infante @(intContador + 1)</label>
                                    </div>
                                    <div class="large-4 small-12 columns">
                                        @Html.EditorFor(modelItem => modelItem._paxInfantes[intContador].Nombre, "paxInfantes", new { @class = "auto-hint", maxlength = "15", title = "Nombre", id = "txtNombre", onkeyup = "esTextoNombre(this.value)" })
                                    </div>
                                    <div class="large-4 small-12 columns">
                                    </div>
                                </div>
                                <div class="small-12 columns">
                                    <div class="large-4 small-12 columns">
                                        <label>Apellido</label>
                                    </div>
                                    <div class="large-4 small-12 columns">
                                        @Html.EditorFor(modelItem => modelItem._paxInfantes[intContador].Apellido, "paxInfantes", new { @class = "auto-hint", maxlength = "15", title = "Apellido", id = "txtApellido", onkeyup = "esTextoNombre(this.value)" })
                                    </div>
                                    <div class="large-4 small-12 columns">
                                    </div>
                                </div>
                                <div class="small-12 columns">
                                    <div class="large-4 small-12 columns">
                                        <label>No. Identificación</label>
                                    </div>
                                    <div class="large-4 small-12 columns">
                                        @Html.EditorFor(modelItem => modelItem._paxInfantes[intContador].NumeroDocumento, "paxInfantes", new { @class = "auto-hint", maxlength = "11", title = "No. de documento", id = "txtDocumento" })

                                    </div>
                                    <div class="large-4 small-12 columns">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                }
                <div class="small-12 columns bg-azul9"></div>
            }
        </form>

        <br />
        <div class="row">
            <input name="" type="submit" value="CONTINUAR CON INFORMACION DE PAGO" id="btnContinuarPax" onclick="javascript: canContinue();" class="large-8 medium-12 small-12 large-centered columns bot_naranja margin-top">
        </div>
    </div>
</div>
<div id="modal3" class="reveal-modal modal1 modal2" data-reveal>
    <h2>EDITAR PASAJEROS FRECUENTES</h2>
    <span>Borre o edite pasajeros frecuentes</span>
    @*<div class="modal_inner" style="margin:0">
        <div class="small-12 columns">
            <div class="small-5 columns">
                <label>Nombre Pasajero Principal</label>
            </div>
            <div class="small-5 columns">
                <input type="text" value="ALFONSO AVILA CORCHUELO" class="input1">
            </div>
            <div class="small-2 columns">
                <input name="" type="button" class="editar1">
                <input name="" type="button" class="borrar">
            </div>
        </div>
        <div class="small-12 columns">
            <div class="small-5 columns">
                <label>Nombre Pasajero 2</label>
            </div>
            <div class="small-5 columns">
                <input name="" type="text" value="ANA MILENA BERMUDEZ" class="input2">
            </div>
            <div class="small-2 columns">
                <input name="" type="button" class="editar2">
                <input name="" type="button" class="borrar">
            </div>
        </div>
        <div class="small-12 columns">
            <div class="small-5 columns">
                <label>Nombre Pasajero 3</label>
            </div>
            <div class="small-5 columns">
                <input name="" type="text" value="BODHY AVILA" class="input3">
            </div>
            <div class="small-2 columns">
                <input name="" type="button" class="editar3">
                <input name="" type="button" class="borrar">
            </div>
        </div>
    </div>*@
    <table id="contentBodyPax" name="contentBodyPax" style="width:100%; border:solid 1px #808080"></table>
    <div class="modal_inner bg_alerta">
        ESTA SEGURO QUE DESEA BORRAR ESTE PASAJERO?
        <input name="" type="button" class="cerrar3">
        <input name="" type="button" class="confirmar">
    </div>
    <div class="modal_inner bg_azul3">
        <h3>EDITE PASAJERO FRECUENTE</h3>
        <input name="" type="hidden" id="txtIdEdit">
        <input name="" type="hidden" id="txtPaxTypeEdit">
        <div class="small-12 columns">
            <div class="small-5 columns">
                <label>Editar nombre</label>
            </div>
            <div class="small-5 columns">
                <input name="" type="text" id="txtNameEdit">
            </div>
            <div class="small-2 columns">
            </div>
        </div>
        <div class="small-12 columns">
            <div class="small-5 columns">
                <label>Editar apellido</label>
            </div>
            <div class="small-5 columns">
                <input name="" type="text" id="txtLastNameEdit">
            </div>
            <div class="small-2 columns">
            </div>
        </div>
        <div class="small-12 columns">
            <div class="small-5 columns">
                <label>Editar No. Identificación</label>
            </div>
            <div class="small-5 columns">
                <input name="" type="text" id="txtDocumentEdit">
            </div>
            <div class="small-2 columns"></div>
        </div>
    </div>
    <div class="small-12 columns">
        <a href="" class="bot_buscar" onclick="editPax();">ENVIAR</a>
    </div>
    <a class="close-reveal-modal"></a>
</div>
@section Scripts
{
    @Scripts.Render("~/bundles/siteScripts")
}

<script>
        document.write('<script src=js/vendor/' +
        ('__proto__' in {} ? 'zepto' : 'jquery') +
        '.js><\/script>')
</script>
<script src="js/foundation.min.js"></script>
<script>
          $(document).foundation();
</script>

