﻿@using AWESCommon.Configuration
@model Utilidades.Models.mdlCompra

@{
    string flight = "";
    int posicion = 0;
    int classE = -1;
    int classP = -1;
    double lowRate = 0;
    Dictionary<string, string> dictCities = ViewBag.dictCities;
}
<div>
    <div id="responseFlight">
        <div></div>
    </div>
</div>
<div class="row">
    <div class="row margin-top">
        <div class="large-12 columns">
            <div class="row margin_top">
                <div class="large-7 columns">
                    <h2>Seleccione sus vuelos</h2>
                </div>
                <div class="large-5 columns">
                    <div class="row">
                        <div class="pasos">
                            <div class="paso1">
                                <span class="numero">3</span>
                                <span class="pasos_tit">Pago</span>
                            </div>
                            <div class="paso1">
                                <span class="numero">2</span>
                                <span class="pasos_tit">Pasajeros</span>
                            </div>
                            <div class="paso1">
                                <span class="numero selected">1</span>
                                <span class="pasos_tit">Vuelos</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (ViewBag.PromotionValid == false && ViewBag.DiscountCode != "")
            {
                <span>*Código promocional inválido</span>
            }
            <form action="" method="get" id="frmAvail">
                <div class="row">
                    <div class="large-12 columns">
                        <div id="ida" class="ida">
                            <span class="tit">Vuelo de</span>
                            <span class="subtit">IDA</span>
                        </div>
                        @for (int intcontador = 0; intcontador < 1; intcontador++)
                        {
                            /*vuelo de ida*/

                            DateTime dteFechaMinima = new DateTime(DateTime.Now.Year,
                                                                       DateTime.Now.Month,
                                                                       DateTime.Now.Day, 0, 0, 0);

                            DateTime dteFechaVuelo = new DateTime(@ViewBag.departureDate.Year,
                                                                       @ViewBag.departureDate.Month,
                                                                       @ViewBag.departureDate.Day, 0, 0, 0);
                            string mesHead = "";

                            DateTime dteFechaInicio = dteFechaVuelo;

                            dteFechaInicio = dteFechaMinima > dteFechaInicio ? new DateTime(dteFechaMinima.Year,
                                                                                            dteFechaMinima.Month,
                                                                                            dteFechaMinima.Day, 0, 0, 0) : dteFechaInicio;

                            switch (dteFechaInicio.AddDays(intcontador).Month)
                            {
                                case 1: mesHead = "ENERO";
                                    break;
                                case 2: mesHead = "FEBRERO";
                                    break;
                                case 3: mesHead = "MARZO";
                                    break;
                                case 4: mesHead = "ABRIL";
                                    break;
                                case 5: mesHead = "MAYO";
                                    break;
                                case 6: mesHead = "JUNIO";
                                    break;
                                case 7: mesHead = "JULIO";
                                    break;
                                case 8: mesHead = "AGOSTO";
                                    break;
                                case 9: mesHead = "SEPTIEMBRE";
                                    break;
                                case 10: mesHead = "OCTUBRE";
                                    break;
                                case 11: mesHead = "NOVIEMBRE";
                                    break;
                                case 12: mesHead = "DICIEMBRE";
                                    break;
                                default: mesHead = "error";
                                    break;
                            }
                            string nameDes = "";
                            string nameOri = "";
                            if (dictCities.Keys.Contains(Model.IATADestino + ""))
                            {
                                nameDes = dictCities[Model.IATADestino + ""];
                            }
                            if (dictCities.Keys.Contains(Model.IATAOrigen + ""))
                            {
                                nameOri = dictCities[Model.IATAOrigen + ""];
                            }
                            
                            <span class="datos_vuelo">@nameDes (@Model.IATAOrigen) - @nameOri (@Model.IATADestino)</span>
                            <span class="datos_vuelo no_border">@mesHead @dteFechaInicio.AddDays(0).Day</span>
                        }

                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        <div class="elastislide-carousel">

                            <ul class="elastislide-list">
                                <li>
                                    <a href="/flights/atrasIDA1">
                                        <div class="elastislide-prev nav"></div>
                                    </a>
                                </li>
                                @for (int intcontador = 0; intcontador < 7; intcontador++)
                                {
                                    /*vuelo de ida*/

                                    DateTime dteFechaMinima = new DateTime(DateTime.Now.Year,
                                                                               DateTime.Now.Month,
                                                                               DateTime.Now.Day, 0, 0, 0);

                                    DateTime dteFechaVuelo = new DateTime(@ViewBag.departureDate.Year,
                                                                               @ViewBag.departureDate.Month,
                                                                               @ViewBag.departureDate.Day, 0, 0, 0);


                                    DateTime dteFechaInicio = dteFechaVuelo.AddDays(-3);

                                    dteFechaInicio = dteFechaMinima > dteFechaInicio ? new DateTime(dteFechaMinima.Year,
                                                                                                    dteFechaMinima.Month,
                                                                                                    dteFechaMinima.Day, 0, 0, 0) : dteFechaInicio;

                                    if (dteFechaInicio.AddDays(intcontador) == @ViewBag.departureDate)
                                    {
                                        posicion = intcontador;
                                    }
                                }
                                @for (int intcontador = 0; intcontador < 7; intcontador++)
                                {
                                    /*vuelo de ida*/

                                    DateTime dteFechaMinima = new DateTime(DateTime.Now.Year,
                                                                               DateTime.Now.Month,
                                                                               DateTime.Now.Day, 0, 0, 0);

                                    DateTime dteFechaVuelo = new DateTime(@ViewBag.departureDate.Year,
                                                                               @ViewBag.departureDate.Month,
                                                                               @ViewBag.departureDate.Day, 0, 0, 0);
                                    string mes = "";
                                    string dia = "";

                                    DateTime dteFechaInicio = dteFechaVuelo.AddDays(-3);

                                    dteFechaInicio = dteFechaMinima > dteFechaInicio ? new DateTime(dteFechaMinima.Year,
                                                                                                    dteFechaMinima.Month,
                                                                                                    dteFechaMinima.Day, 0, 0, 0) : dteFechaInicio;
                                    int desplazamientoAd = (intcontador + 1);
                                    int desplazamientoAt = (-3 + intcontador);

                                    switch (dteFechaInicio.AddDays(intcontador).Month)
                                    {
                                        case 1: mes = "Ene";
                                            break;
                                        case 2: mes = "Feb";
                                            break;
                                        case 3: mes = "Mar";
                                            break;
                                        case 4: mes = "Abr";
                                            break;
                                        case 5: mes = "May";
                                            break;
                                        case 6: mes = "Jun";
                                            break;
                                        case 7: mes = "Jul";
                                            break;
                                        case 8: mes = "Ago";
                                            break;
                                        case 9: mes = "Sep";
                                            break;
                                        case 10: mes = "Oct";
                                            break;
                                        case 11: mes = "Nov";
                                            break;
                                        case 12: mes = "Dic";
                                            break;
                                        default: mes = "error";
                                            break;
                                    }
                                    if (dteFechaInicio.AddDays(intcontador).DayOfWeek.ToString() == "Monday") { dia = "Lun"; }
                                    else if (dteFechaInicio.AddDays(intcontador).DayOfWeek.ToString() == "Tuesday") { dia = "Mar"; }
                                    else if (dteFechaInicio.AddDays(intcontador).DayOfWeek.ToString() == "Wednesday") { dia = "Mie"; }
                                    else if (dteFechaInicio.AddDays(intcontador).DayOfWeek.ToString() == "Thursday") { dia = "Jue"; }
                                    else if (dteFechaInicio.AddDays(intcontador).DayOfWeek.ToString() == "Friday") { dia = "Vie"; }
                                    else if (dteFechaInicio.AddDays(intcontador).DayOfWeek.ToString() == "Saturday") { dia = "Sab"; }
                                    else if (dteFechaInicio.AddDays(intcontador).DayOfWeek.ToString() == "Sunday") { dia = "Dom"; }

                                    try
                                    {
                                        if (posicion == intcontador)
                                        {
                                            <li>
                                                <div class="carrucel_li selected">

                                                    <span class="precio">@dia</span>
                                                    <span class="fecha"></span>
                                                    <span class="precio">@mes @dteFechaInicio.AddDays(intcontador).Day</span>
                                                    <span class="sillas"></span>
                                                </div>
                                            </li>
                                        }
                                        else if (posicion != 0 && intcontador < posicion)
                                        {
                                            <li>
                                                <div class="carrucel_li">
                                                    @if (ViewBag.availDaysDeparture.Rows[intcontador]["Rate"].ToString() != "")
                                                    {
                                                        <a href="/flights/atrasIDA@(posicion - intcontador)">
                                                            <span class="dia">@dia</span>
                                                            <span class="fecha">@mes @dteFechaInicio.AddDays(intcontador).Day</span>

                                                            @if (Model.TipoVuelo == 1)
                                                            {
                                                                <span class="precio">@string.Format("{0:$ #,###}", (Convert.ToDouble(ViewBag.availDaysDeparture.Rows[intcontador]["Rate"]) + Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador]["Fuel"].ToString()) + Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador]["Tax"].ToString()) + ((Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador]["Fee"].ToString()) + Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador]["Fee"].ToString()) * 0.16) / 2) + (Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador]["Rate"]) + Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador]["Fuel"].ToString())) * 0.16))</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="precio">@string.Format("{0:$ #,###}", (Convert.ToDouble(ViewBag.availDaysDeparture.Rows[intcontador]["Rate"]) + Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador]["Fuel"].ToString()) + Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador]["Tax"].ToString()) + ((Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador]["Fee"].ToString()) + Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador]["Fee"].ToString()) * 0.16)) + (Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador]["Rate"]) + Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador]["Fuel"].ToString())) * 0.16))</span>
                                                            }
                                                            @if (Convert.ToInt32(ViewBag.availDaysDeparture.Rows[intcontador]["ClassQuantity"]) > 1 && Convert.ToInt32(ViewBag.availDaysDeparture.Rows[intcontador]["ClassQuantity"]) <= 4)
                                                            {
                                                                <span class="sillas">@ViewBag.availDaysDeparture.Rows[intcontador]["ClassQuantity"] Sillas</span>
                                                            }
                                                            
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <span class="dia">@dia</span>
                                                        <span class="fecha">@mes @dteFechaInicio.AddDays(intcontador).Day</span>
                                                    }
                                                </div>
                                            </li>

                                        }
                                        else if (posicion != 0 && intcontador > posicion)
                                        {
                                            <li>
                                                <div class="carrucel_li">
                                                    @if (ViewBag.availDaysDeparture.Rows[intcontador - 1]["Rate"].ToString() != "")
                                                    {
                                                        <a href="/flights/adelanteIDA@(intcontador - posicion)">
                                                            <span class="dia">@dia</span>
                                                            <span class="fecha">@mes @dteFechaInicio.AddDays(intcontador).Day</span>

                                                            @if (Model.TipoVuelo == 1)
                                                            {
                                                                <span class="precio">@string.Format("{0:$ #,###}", (Convert.ToDouble(ViewBag.availDaysDeparture.Rows[intcontador - 1]["Rate"]) + Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador - 1]["Fuel"].ToString()) + Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador - 1]["Tax"].ToString()) + ((Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador - 1]["Fee"].ToString()) + Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador - 1]["Fee"].ToString()) * 0.16) / 2) + (Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador - 1]["Rate"]) + Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador - 1]["Fuel"].ToString())) * 0.16))</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="precio">@string.Format("{0:$ #,###}", (Convert.ToDouble(ViewBag.availDaysDeparture.Rows[intcontador - 1]["Rate"]) + Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador - 1]["Fuel"].ToString()) + Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador - 1]["Tax"].ToString()) + ((Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador - 1]["Fee"].ToString()) + Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador - 1]["Fee"].ToString()) * 0.16)) + (Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador - 1]["Rate"]) + Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador - 1]["Fuel"].ToString())) * 0.16))</span>
                                                            }
                                                            @if (Convert.ToInt32(ViewBag.availDaysDeparture.Rows[intcontador - 1]["ClassQuantity"]) > 1 && Convert.ToInt32(ViewBag.availDaysDeparture.Rows[intcontador - 1]["ClassQuantity"]) <= 4)
                                                            {
                                                                <span class="sillas">@ViewBag.availDaysDeparture.Rows[intcontador - 1]["ClassQuantity"] Sillas</span>
                                                            }
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <span class="dia">@dia</span>
                                                        <span class="fecha">@mes @dteFechaInicio.AddDays(intcontador).Day</span>
                                                    }
                                                </div>
                                            </li>
                                        }
                                        else if (posicion == 0 && intcontador > posicion)
                                        {
                                            <li>
                                                <div class="carrucel_li">
                                                    @if (ViewBag.availDaysDeparture.Rows[intcontador - 1]["Rate"].ToString() != "")
                                                    {
                                                        <a href="/flights/adelanteIDA@(intcontador)">
                                                            <span class="dia">@dia</span>
                                                            <span class="fecha">@mes @dteFechaInicio.AddDays(intcontador).Day</span>

                                                            @if (Model.TipoVuelo == 1)
                                                            {
                                                                <span class="precio">@string.Format("{0:$ #,###}", (Convert.ToDouble(ViewBag.availDaysDeparture.Rows[intcontador - 1]["Rate"]) + Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador - 1]["Fuel"].ToString()) + Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador - 1]["Tax"].ToString()) + ((Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador - 1]["Fee"].ToString()) + Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador - 1]["Fee"].ToString()) * 0.16) / 2) + (Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador - 1]["Rate"]) + Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador - 1]["Fuel"].ToString())) * 0.16))</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="precio">@string.Format("{0:$ #,###}", (Convert.ToDouble(ViewBag.availDaysDeparture.Rows[intcontador - 1]["Rate"]) + Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador - 1]["Fuel"].ToString()) + Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador - 1]["Tax"].ToString()) + ((Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador - 1]["Fee"].ToString()) + Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador - 1]["Fee"].ToString()) * 0.16)) + (Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador - 1]["Rate"]) + Convert.ToDouble(@ViewBag.availDaysDeparture.Rows[intcontador - 1]["Fuel"].ToString())) * 0.16))</span>
                                                            }
                                                            @if (Convert.ToInt32(ViewBag.availDaysDeparture.Rows[intcontador - 1]["ClassQuantity"]) > 1 && Convert.ToInt32(ViewBag.availDaysDeparture.Rows[intcontador - 1]["ClassQuantity"]) <= 4)
                                                            {
                                                                <span class="sillas">@ViewBag.availDaysDeparture.Rows[intcontador - 1]["ClassQuantity"] Sillas</span>
                                                            }                                            
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <span class="dia">@dia</span>
                                                        <span class="fecha">@mes @dteFechaInicio.AddDays(intcontador).Day</span>
                                                    }
                                                </div>
                                            </li>
                                        }
                                    }
                                    catch
                                    {

                                    }
                                }
                                <li>
                                    <a href="/flights/adelanteIDA1">
                                        <div class="elastislide-next nav"></div>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                @if (Model.dtAvail.Rows.Count == 0 || @Model.dtAvail == null)
                {
                    <span>No hay vuelos disponibles</span>
                }
                
                else
                {
                    <div class="info info_vuelo" style="width:495px; padding-left: 14px;padding-right: 10px;">
                        <h2>Información de Vuelo </h2>
                    </div>

                    <div class="info economica" style="width:240px; margin-left: 10px; padding-right: 13px;">
                        <h2 class="tarifa">
                            <img src="/Content/img/ico_economica.png" alt="" /> Económica<a href="#tarifa" class="ico_info modal_eco"></a>
                            <div class="modal_eco2" data-reveal>
                                <h2><img src="/Content/img/ico_economica.png" alt="" /> Tarifa Económica Easyfly@*<a href="#tarifa" data-reveal-id="modal_economica">Ver detalles</a>*@</h2>
                                <ul>
                                    <li>• Penalidad $90,000 por cambio de Ruta, Fecha y vuelo</li>
                                    <li>• Revisable a tarifa superior</li>
                                    <li>• Tarifa No reembolsable.</li>
                                    <li>• Penalidad de $90.000 por cambio de nombre</li>
                                    <li>• Menores pagan el 100% de la tarifa <span>(de 2 a 11 años de edad)</span></li>
                                </ul>
                                <a class="close-reveal-modal"></a>
                            </div>
                        </h2>
                    </div>

                    <div class="info preferencial" style="width:240px;  padding-left: 13px;">
                        <h2 class="tarifa">
                            <img src="/Content/img/ico_preferencial.png" alt="" /> Preferencial<a href="#tarifa" class="ico_info modal_pref"></a>
                            <div class="modal_pref2" data-reveal>
                                <h2><img src="/Content/img/ico_preferencial.png" alt="" /> Tarifa Preferencial Easyfly@*<a href="#tarifa" data-reveal-id="modal_preferencial">Ver detalles</a>*@</h2>
                                <ul>
                                    <li>• Reembolsable con penalidad $90,000</li>
                                    <li>• 100% Transferible</li>
                                    <li>• Revisable SIN PENALIDAD<span>(a tarifa superior por cambio de ruta, fecha y vuelo)</span></li>
                                    <li>• Menores pagan el 2/3 partes de la tarifa<span>(de 2 a 11 años de edad)</span></li>
                                </ul>
                                <a class="close-reveal-modal"></a>
                            </div>
                        </h2>
                    </div>
                    if (lowRate == 0)
                    { lowRate = Convert.ToDouble(@Model.dtAvail.Rows[0]["Rate"]); }
                    int isOdd = -1;
                    string classToPaint = "info2";
                    for (int i = 0; i < @Model.dtAvail.Rows.Count; i++)
                    {
                        isOdd = isOdd + 1;
                        if (isOdd % 2 == 0)
                        {
                            classToPaint = "info3";
                        }
                        else
                        {
                            classToPaint = "info2";
                        }
                        if (flight != @Model.dtAvail.Rows[i]["FlightNumber"].ToString())
                        {
                            for (int j = 0; j < @Model.dtAvail.Rows.Count; j++)
                            {
                                if (@Model.dtAvail.Rows[i]["FlightNumber"].ToString() == @Model.dtAvail.Rows[j]["FlightNumber"].ToString())
                                {
                                    if (@Model.dtAvail.Rows[j]["Description"].ToString() == "E")
                                    {
                                        classE = j;
                                    }
                                    if (@Model.dtAvail.Rows[j]["Description"].ToString() == "P")
                                    {
                                        classP = j;
                                    }
                                }
                                if (lowRate > Convert.ToDouble(@Model.dtAvail.Rows[j]["Rate"]))
                                {
                                    lowRate = Convert.ToDouble(@Model.dtAvail.Rows[j]["Rate"]);
                                }
                            }

                            <div class="row ">
                                <div class="large-12 columns">
                                    <div class="large-6 columns">
                                        <div class="@classToPaint margin2">
                                            <div class="info_inner">
                                                <span class="info_hora">@Model.dtAvail.Rows[i]["DepartureDateTime"].ToString().Substring(11, 5)</span>
                                                <span class="info_ciudad">@Model.dtAvail.Rows[i]["Origin"]</span>
                                            </div>
                                            <div class="info_arrow">
                                            </div>
                                            <div class="info_inner">
                                                <span class="info_hora">@Model.dtAvail.Rows[i]["ArrivalDateTime"].ToString().Substring(11, 5)</span>
                                                <span class="info_ciudad">@Model.dtAvail.Rows[i]["Destination"]</span>
                                            </div>
                                            <div class="info_inner">
                                                <span class="info_vuelo1">Vuelo</span>
                                                <span class="info_vuelo2">EF @Model.dtAvail.Rows[i]["FlightNumber"]</span>
                                                @*<span class="info_vuelo3">@Model.dtAvail[0].Rows[i]["AirEquipType"]</span>*@
                                            </div>
                                            <span class="tiempo_vieje">Tiempo de Viaje Total: @Model.dtAvail.Rows[i]["Duration"]</span>
                                        </div>
                                    </div>


                                    @if (classE != -1)
                                    {
                                        <div class="large-3 columns">

                                            <div class="@classToPaint margin2 D" id="divSelect-@i" rel="E"
                                                 name='@Model.TipoVuelo^@Model.dtAvail.Rows[classE]["FlightNumber"]^@Model.dtAvail.Rows[classE]["Class"]^@Model.dtAvail.Rows[classE]["Rate"]^@Model.dtAvail.Rows[classE]["DepartureDateTime"]^@Model.dtAvail.Rows[classE]["ArrivalDateTime"]^1^@i^E^@Model.dtAvail.Rows[classE]["Fuel"].ToString()^@Model.dtAvail.Rows[classE]["Tax"].ToString()^@ViewBag.Discount^@Model.dtAvail.Rows[classE]["Fee"].ToString()'>
                                                <input type="radio" name="radiog_darkD" id="radio-@i" class="css-checkbox" />
                                                <label for="radio-@i" class="css-label radGroup1"></label>
                                                @if (lowRate == Convert.ToDouble(@Model.dtAvail.Rows[classE]["Rate"]))
                                                {
                                                    if (Model.TipoVuelo == 1)
                                                    {
                                                        @*<span class="precio txt_naranja">@string.Format("{0:$ #,###}", (Convert.ToDouble(@Model.dtAvail[0].Rows[classE]["Rate"]) + Convert.ToDouble(@Model.dtAvail[0].Rows[classE]["Fuel"].ToString()) + Convert.ToDouble(@Model.dtAvail[0].Rows[classE]["Tax"].ToString()) + ((Convert.ToDouble(configurationReader.read("feeAdministrativo", "MVCFuncional")) + Convert.ToDouble(configurationReader.read("feeAdministrativo", "MVCFuncional")) * 0.16) / 2) + (Convert.ToDouble(@Model.dtAvail[0].Rows[classE]["Rate"]) + Convert.ToDouble(@Model.dtAvail[0].Rows[classE]["Fuel"].ToString())) * 0.16))</span>*@
                                                        <span class="precio">@string.Format("{0:$ #,###}", (Convert.ToDouble(@Model.dtAvail.Rows[classE]["Rate"]) + Convert.ToDouble(@Model.dtAvail.Rows[classE]["Fuel"].ToString()) + Convert.ToDouble(@Model.dtAvail.Rows[classE]["Tax"].ToString()) + ((Convert.ToDouble(@Model.dtAvail.Rows[classE]["Fee"].ToString()) + Convert.ToDouble(@Model.dtAvail.Rows[classE]["Fee"].ToString()) * 0.16) / 2) + (Convert.ToDouble(@Model.dtAvail.Rows[classE]["Rate"]) + Convert.ToDouble(@Model.dtAvail.Rows[classE]["Fuel"].ToString())) * 0.16))</span>
                                                    }
                                                    else
                                                    {
                                                        @*<span class="precio txt_naranja">@string.Format("{0:$ #,###}", (Convert.ToDouble(@Model.dtAvail[0].Rows[classE]["Rate"]) + Convert.ToDouble(@Model.dtAvail[0].Rows[classE]["Fuel"].ToString()) + Convert.ToDouble(@Model.dtAvail[0].Rows[classE]["Tax"].ToString()) + (Convert.ToDouble(configurationReader.read("feeAdministrativo", "MVCFuncional")) + Convert.ToDouble(configurationReader.read("feeAdministrativo", "MVCFuncional")) * 0.16) + (Convert.ToDouble(@Model.dtAvail[0].Rows[classE]["Rate"]) + Convert.ToDouble(@Model.dtAvail[0].Rows[classE]["Fuel"].ToString())) * 0.16))</span>*@
                                                        <span class="precio">@string.Format("{0:$ #,###}", (Convert.ToDouble(@Model.dtAvail.Rows[classE]["Rate"]) + Convert.ToDouble(@Model.dtAvail.Rows[classE]["Fuel"].ToString()) + Convert.ToDouble(@Model.dtAvail.Rows[classE]["Tax"].ToString()) + (Convert.ToDouble(@Model.dtAvail.Rows[classE]["Fee"].ToString()) + Convert.ToDouble(@Model.dtAvail.Rows[classE]["Fee"].ToString()) * 0.16) + (Convert.ToDouble(@Model.dtAvail.Rows[classE]["Rate"]) + Convert.ToDouble(@Model.dtAvail.Rows[classE]["Fuel"].ToString())) * 0.16))</span>
                                                    }
                                                }
                                                else
                                                {
                                                    if (Model.TipoVuelo == 1)
                                                    {
                                                        <span class="precio">@string.Format("{0:$ #,###}", (Convert.ToDouble(@Model.dtAvail.Rows[classE]["Rate"]) + Convert.ToDouble(@Model.dtAvail.Rows[classE]["Fuel"].ToString()) + Convert.ToDouble(@Model.dtAvail.Rows[classE]["Tax"].ToString()) + ((Convert.ToDouble(@Model.dtAvail.Rows[classE]["Fee"].ToString()) + Convert.ToDouble(@Model.dtAvail.Rows[classE]["Fee"].ToString()) * 0.16) / 2) + (Convert.ToDouble(@Model.dtAvail.Rows[classE]["Rate"]) + Convert.ToDouble(@Model.dtAvail.Rows[classE]["Fuel"].ToString())) * 0.16))</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="precio">@string.Format("{0:$ #,###}", (Convert.ToDouble(@Model.dtAvail.Rows[classE]["Rate"]) + Convert.ToDouble(@Model.dtAvail.Rows[classE]["Fuel"].ToString()) + Convert.ToDouble(@Model.dtAvail.Rows[classE]["Tax"].ToString()) + (Convert.ToDouble(@Model.dtAvail.Rows[classE]["Fee"].ToString()) + Convert.ToDouble(@Model.dtAvail.Rows[classE]["Fee"].ToString()) * 0.16) + (Convert.ToDouble(@Model.dtAvail.Rows[classE]["Rate"]) + Convert.ToDouble(@Model.dtAvail.Rows[classE]["Fuel"].ToString())) * 0.16))</span>
                                                    }
                                                }
                                                @if (Convert.ToInt32(Model.dtAvail.Rows[classE]["ClassQuantity"]) == 1)
                                                {
                                                    <span class="n_sillas">Última silla</span>
                                                }
                                                @if (Convert.ToInt32(Model.dtAvail.Rows[classE]["ClassQuantity"]) > 1 && Convert.ToInt32(Model.dtAvail.Rows[classE]["ClassQuantity"]) <= 4)
                                                {
                                                    <span class="n_sillas">@Model.dtAvail.Rows[classE]["ClassQuantity"].ToString() sillas</span>
                                                }

                                            </div>

                                        </div>
                                                classE = -1;
                                    }
                                    else
                                    {
                                        <div class="large-3 columns">
                                            <div class="@classToPaint margin2">
                                                <span class="precio" style="padding-top:25px">No disponible</span>
                                                <span class="n_sillas"></span>
                                            </div>
                                        </div>
                                    }
                                    @if (classP != -1)
                                    {
                                        <div class="large-3 columns">

                                            <div class="@classToPaint margin2 D" id="divSelectP-@i" rel="P"
                                                 name='@Model.TipoVuelo^@Model.dtAvail.Rows[i]["FlightNumber"]^@Model.dtAvail.Rows[classP]["Class"]^@Model.dtAvail.Rows[classP]["Rate"]^@Model.dtAvail.Rows[classP]["DepartureDateTime"]^@Model.dtAvail.Rows[classP]["ArrivalDateTime"]^1^@i^P^@Model.dtAvail.Rows[classP]["Fuel"].ToString()^@Model.dtAvail.Rows[classP]["Tax"].ToString()^@ViewBag.Discount^@Model.dtAvail.Rows[classP]["Fee"].ToString()'>
                                                <input type="radio" name="radiog_darkD" id="radioP-@i" class="css-checkbox" />
                                                <label for="radioP-@i" class="css-label radGroup1"> </label>
                                                @if (lowRate == Convert.ToDouble(@Model.dtAvail.Rows[classP]["Rate"]))
                                                {
                                                    if (Model.TipoVuelo == 1)
                                                    {
                                                        @*<span class="precio txt_naranja">@string.Format("{0:$ #,###}", (Convert.ToDouble(@Model.dtAvail[0].Rows[classP]["Rate"]) + Convert.ToDouble(@Model.dtAvail[0].Rows[classP]["Fuel"].ToString()) + Convert.ToDouble(@Model.dtAvail[0].Rows[classP]["Tax"].ToString()) + ((Convert.ToDouble(configurationReader.read("feeAdministrativo", "MVCFuncional")) + Convert.ToDouble(configurationReader.read("feeAdministrativo", "MVCFuncional")) * 0.16) / 2) + (Convert.ToDouble(@Model.dtAvail[0].Rows[classP]["Rate"]) + Convert.ToDouble(@Model.dtAvail[0].Rows[classP]["Fuel"].ToString())) * 0.16))</span>*@
                                                        <span class="precio">@string.Format("{0:$ #,###}", (Convert.ToDouble(@Model.dtAvail.Rows[classP]["Rate"]) + Convert.ToDouble(@Model.dtAvail.Rows[classP]["Fuel"].ToString()) + Convert.ToDouble(@Model.dtAvail.Rows[classP]["Tax"].ToString()) + ((Convert.ToDouble(@Model.dtAvail.Rows[classP]["Fee"].ToString()) + Convert.ToDouble(@Model.dtAvail.Rows[classP]["Fee"].ToString()) * 0.16) / 2) + (Convert.ToDouble(@Model.dtAvail.Rows[classP]["Rate"]) + Convert.ToDouble(@Model.dtAvail.Rows[classP]["Fuel"].ToString())) * 0.16))</span>
                                                    }
                                                    else
                                                    {
                                                        @*<span class="precio txt_naranja">@string.Format("{0:$ #,###}", (Convert.ToDouble(@Model.dtAvail[0].Rows[classP]["Rate"]) + Convert.ToDouble(@Model.dtAvail[0].Rows[classP]["Fuel"].ToString()) + Convert.ToDouble(@Model.dtAvail[0].Rows[classP]["Tax"].ToString()) + (Convert.ToDouble(configurationReader.read("feeAdministrativo", "MVCFuncional")) + Convert.ToDouble(configurationReader.read("feeAdministrativo", "MVCFuncional")) * 0.16) + (Convert.ToDouble(@Model.dtAvail[0].Rows[classP]["Rate"]) + Convert.ToDouble(@Model.dtAvail[0].Rows[classP]["Fuel"].ToString())) * 0.16))</span>*@
                                                        <span class="precio">@string.Format("{0:$ #,###}", (Convert.ToDouble(@Model.dtAvail.Rows[classP]["Rate"]) + Convert.ToDouble(@Model.dtAvail.Rows[classP]["Fuel"].ToString()) + Convert.ToDouble(@Model.dtAvail.Rows[classP]["Tax"].ToString()) + (Convert.ToDouble(@Model.dtAvail.Rows[classP]["Fee"].ToString()) + Convert.ToDouble(@Model.dtAvail.Rows[classP]["Fee"].ToString()) * 0.16) + (Convert.ToDouble(@Model.dtAvail.Rows[classP]["Rate"]) + Convert.ToDouble(@Model.dtAvail.Rows[classP]["Fuel"].ToString())) * 0.16))</span>
                                                    }
                                                }
                                                else
                                                {
                                                    if (Model.TipoVuelo == 1)
                                                    {
                                                        <span class="precio">@string.Format("{0:$ #,###}", (Convert.ToDouble(@Model.dtAvail.Rows[classP]["Rate"]) + Convert.ToDouble(@Model.dtAvail.Rows[classP]["Fuel"].ToString()) + Convert.ToDouble(@Model.dtAvail.Rows[classP]["Tax"].ToString()) + ((Convert.ToDouble(@Model.dtAvail.Rows[classP]["Fee"].ToString()) + Convert.ToDouble(@Model.dtAvail.Rows[classP]["Fee"].ToString()) * 0.16) / 2) + (Convert.ToDouble(@Model.dtAvail.Rows[classP]["Rate"]) + Convert.ToDouble(@Model.dtAvail.Rows[classP]["Fuel"].ToString())) * 0.16))</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="precio">@string.Format("{0:$ #,###}", (Convert.ToDouble(@Model.dtAvail.Rows[classP]["Rate"]) + Convert.ToDouble(@Model.dtAvail.Rows[classP]["Fuel"].ToString()) + Convert.ToDouble(@Model.dtAvail.Rows[classP]["Tax"].ToString()) + (Convert.ToDouble(@Model.dtAvail.Rows[classP]["Fee"].ToString()) + Convert.ToDouble(@Model.dtAvail.Rows[classP]["Fee"].ToString()) * 0.16) + (Convert.ToDouble(@Model.dtAvail.Rows[classP]["Rate"]) + Convert.ToDouble(@Model.dtAvail.Rows[classP]["Fuel"].ToString())) * 0.16))</span>
                                                    }
                                                }
                                                @if (Convert.ToInt32(Model.dtAvail.Rows[classP]["ClassQuantity"]) == 1)
                                                {
                                                    <span class="n_sillas">Última silla</span>
                                                }
                                                @if (Convert.ToInt32(Model.dtAvail.Rows[classP]["ClassQuantity"]) > 1 && Convert.ToInt32(Model.dtAvail.Rows[classP]["ClassQuantity"]) <= 4)
                                                {
                                                    <span class="n_sillas">@Model.dtAvail.Rows[classP]["ClassQuantity"].ToString() sillas</span>
                                                }

                                            </div>
                                        </div>
                                                classP = -1;
                                    }
                                    else
                                    {
                                        <div class="large-3 columns">
                                            <div class="@classToPaint margin2">
                                                <span class="precio" style="padding-top:25px">No disponible</span>
                                                <span class="n_sillas"></span>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                        flight = @Model.dtAvail.Rows[i]["FlightNumber"].ToString();
                    }
                }
                @if (Model.TipoVuelo == 1)
                {

                    <div class="row">
                        <div class="large-12 columns margin-top">
                            <div id="regreso" class="regreso">
                                <span class="tit">Vuelo de</span>
                                <span class="subtit">REGRESO</span>
                            </div>
                            @for (int intcontador = 0; intcontador < 1; intcontador++)
                            {
                                /*vuelo de ida*/

                                DateTime dteFechaMinima = new DateTime(DateTime.Now.Year,
                                                                           DateTime.Now.Month,
                                                                           DateTime.Now.Day, 0, 0, 0);

                                DateTime dteFechaVuelo = new DateTime(@ViewBag.returnDate.Year,
                                                                           @ViewBag.returnDate.Month,
                                                                           @ViewBag.returnDate.Day, 0, 0, 0);
                                string mesHead = "";

                                DateTime dteFechaInicio = dteFechaVuelo;

                                dteFechaInicio = dteFechaMinima > dteFechaInicio ? new DateTime(dteFechaMinima.Year,
                                                                                                dteFechaMinima.Month,
                                                                                                dteFechaMinima.Day, 0, 0, 0) : dteFechaInicio;

                                switch (dteFechaInicio.AddDays(intcontador).Month)
                                {
                                    case 1: mesHead = "ENERO";
                                        break;
                                    case 2: mesHead = "FEBRERO";
                                        break;
                                    case 3: mesHead = "MARZO";
                                        break;
                                    case 4: mesHead = "ABRIL";
                                        break;
                                    case 5: mesHead = "MAYO";
                                        break;
                                    case 6: mesHead = "JUNIO";
                                        break;
                                    case 7: mesHead = "JULIO";
                                        break;
                                    case 8: mesHead = "AGOSTO";
                                        break;
                                    case 9: mesHead = "SEPTIEMBRE";
                                        break;
                                    case 10: mesHead = "OCTUBRE";
                                        break;
                                    case 11: mesHead = "NOVIEMBRE";
                                        break;
                                    case 12: mesHead = "DICIEMBRE";
                                        break;
                                    default: mesHead = "error";
                                        break;
                                }
                                string nameDes = "";
                                string nameOri = "";
                                if (dictCities.Keys.Contains(Model.IATADestino + ""))
                                {
                                    nameDes = dictCities[Model.IATADestino + ""];
                                }
                                if (dictCities.Keys.Contains(Model.IATAOrigen + ""))
                                {
                                    nameOri = dictCities[Model.IATAOrigen + ""];
                                }
                                <span class="datos_vuelo">@nameDes (@Model.IATADestino) - @nameOri (@Model.IATADestino)</span>
                                <span class="datos_vuelo no_border">@mesHead @dteFechaInicio.AddDays(0).Day</span>
                            }

                        </div>
                    </div>


                    <div class="row">
                        <div class="large-12 columns">
                            <div class="elastislide-carousel">

                                <ul class="elastislide-list">
                                    <li>
                                        <a href="/flights/atrasREGRESO1">
                                            <div class="elastislide-prev nav"></div>
                                        </a>
                                    </li>
                                    @for (int intcontador = 0; intcontador < 7; intcontador++)
                                    {
                                        /*vuelo de ida*/

                                        DateTime dteFechaMinima = new DateTime(DateTime.Now.Year,
                                                                                   DateTime.Now.Month,
                                                                                   DateTime.Now.Day, 0, 0, 0);

                                        DateTime dteFechaVuelo = new DateTime(@ViewBag.returnDate.Year,
                                                                                   @ViewBag.returnDate.Month,
                                                                                   @ViewBag.returnDate.Day, 0, 0, 0);


                                        DateTime dteFechaInicio = dteFechaVuelo.AddDays(-3);

                                        dteFechaInicio = dteFechaMinima > dteFechaInicio ? new DateTime(dteFechaMinima.Year,
                                                                                                        dteFechaMinima.Month,
                                                                                                        dteFechaMinima.Day, 0, 0, 0) : dteFechaInicio;
                                        if (dteFechaInicio.AddDays(intcontador) == @ViewBag.returnDate)
                                        {

                                            posicion = intcontador;

                                        }
                                    }
                                    @for (int intcontador = 0; intcontador < 7; intcontador++)
                                    {
                                        /*vuelo de ida*/

                                        DateTime dteFechaMinima = new DateTime(DateTime.Now.Year,
                                                                                   DateTime.Now.Month,
                                                                                   DateTime.Now.Day, 0, 0, 0);

                                        DateTime dteFechaVuelo = new DateTime(@ViewBag.returnDate.Year,
                                                                                   @ViewBag.returnDate.Month,
                                                                                   @ViewBag.returnDate.Day, 0, 0, 0);
                                        string mes = "";
                                        string dia = "";

                                        DateTime dteFechaInicio = dteFechaVuelo.AddDays(-3);

                                        dteFechaInicio = dteFechaMinima > dteFechaInicio ? new DateTime(dteFechaMinima.Year,
                                                                                                        dteFechaMinima.Month,
                                                                                                        dteFechaMinima.Day, 0, 0, 0) : dteFechaInicio;
                                        int desplazamientoAd = (intcontador + 1);
                                        int desplazamientoAt = (-3 + intcontador);

                                        switch (dteFechaInicio.AddDays(intcontador).Month)
                                        {
                                            case 1: mes = "Ene";
                                                break;
                                            case 2: mes = "Feb";
                                                break;
                                            case 3: mes = "Mar";
                                                break;
                                            case 4: mes = "Abr";
                                                break;
                                            case 5: mes = "May";
                                                break;
                                            case 6: mes = "Jun";
                                                break;
                                            case 7: mes = "Jul";
                                                break;
                                            case 8: mes = "Ago";
                                                break;
                                            case 9: mes = "Sep";
                                                break;
                                            case 10: mes = "Oct";
                                                break;
                                            case 11: mes = "Nov";
                                                break;
                                            case 12: mes = "Dic";
                                                break;
                                            default: mes = "error";
                                                break;
                                        }
                                        if (dteFechaInicio.AddDays(intcontador).DayOfWeek.ToString() == "Monday") { dia = "Lun"; }
                                        else if (dteFechaInicio.AddDays(intcontador).DayOfWeek.ToString() == "Tuesday") { dia = "Mar"; }
                                        else if (dteFechaInicio.AddDays(intcontador).DayOfWeek.ToString() == "Wednesday") { dia = "Mie"; }
                                        else if (dteFechaInicio.AddDays(intcontador).DayOfWeek.ToString() == "Thursday") { dia = "Jue"; }
                                        else if (dteFechaInicio.AddDays(intcontador).DayOfWeek.ToString() == "Friday") { dia = "Vie"; }
                                        else if (dteFechaInicio.AddDays(intcontador).DayOfWeek.ToString() == "Saturday") { dia = "Sab"; }
                                        else if (dteFechaInicio.AddDays(intcontador).DayOfWeek.ToString() == "Sunday") { dia = "Dom"; }
                                        try
                                        {
                                            if (posicion == intcontador)
                                            {
                                                <li>
                                                    <div class="carrucel_li selected">

                                                        <span class="precio">@dia</span>
                                                        <span class="fecha"></span>
                                                        <span class="precio">@mes @dteFechaInicio.AddDays(intcontador).Day</span>
                                                        <span class="sillas"></span>
                                                    </div>
                                                </li>
                                            }
                                            else if (posicion != 0 && intcontador < posicion)
                                            {
                                                <li>
                                                    <div class="carrucel_li">
                                                        @if (ViewBag.availDaysReturn.Rows[intcontador]["Rate"].ToString() != "")
                                                        {
                                                            <a href="/flights/atrasREGRESO@(posicion - intcontador)">
                                                                <span class="dia">@dia</span>
                                                                <span class="fecha">@mes @dteFechaInicio.AddDays(intcontador).Day</span>

                                                                @if (Model.TipoVuelo == 1)
                                                                {
                                                                    <span class="precio">@string.Format("{0:$ #,###}", (Convert.ToDouble(ViewBag.availDaysReturn.Rows[intcontador]["Rate"]) + Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador]["Fuel"].ToString()) + Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador]["Tax"].ToString()) + ((Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador]["Fee"].ToString()) + Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador]["Fee"].ToString()) * 0.16) / 2) + (Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador]["Rate"]) + Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador]["Fuel"].ToString())) * 0.16))</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="precio">@string.Format("{0:$ #,###}", (Convert.ToDouble(ViewBag.availDaysReturn.Rows[intcontador]["Rate"]) + Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador]["Fuel"].ToString()) + Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador]["Tax"].ToString()) + ((Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador]["Fee"].ToString()) + Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador]["Fee"].ToString()) * 0.16)) + (Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador]["Rate"]) + Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador]["Fuel"].ToString())) * 0.16))</span>
                                                                }
                                                                @if (Convert.ToInt32(ViewBag.availDaysReturn.Rows[intcontador]["ClassQuantity"]) > 1 && Convert.ToInt32(ViewBag.availDaysReturn.Rows[intcontador]["ClassQuantity"]) <= 4)
                                                                {
                                                                    <span class="sillas">@ViewBag.availDaysReturn.Rows[intcontador]["ClassQuantity"] Sillas</span>
                                                                }  
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <span class="dia">@dia</span>
                                                            <span class="fecha">@mes @dteFechaInicio.AddDays(intcontador).Day</span>
                                                        }
                                                    </div>
                                                </li>
                                            }
                                            else if (posicion != 0 && intcontador > posicion)
                                            {
                                                <li>
                                                    <div class="carrucel_li">
                                                        @if (ViewBag.availDaysReturn.Rows[intcontador - 1]["Rate"].ToString() != "")
                                                        {
                                                            <a href="/flights/adelanteREGRESO@(intcontador - posicion)">
                                                                <span class="dia">@dia</span>
                                                                <span class="fecha">@mes @dteFechaInicio.AddDays(intcontador).Day</span>

                                                                @if (Model.TipoVuelo == 1)
                                                                {
                                                                    <span class="precio">@string.Format("{0:$ #,###}", (Convert.ToDouble(ViewBag.availDaysReturn.Rows[intcontador - 1]["Rate"]) + Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador - 1]["Fuel"].ToString()) + Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador - 1]["Tax"].ToString()) + ((Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador - 1]["Fee"].ToString()) + Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador - 1]["Fee"].ToString()) * 0.16) / 2) + (Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador - 1]["Rate"]) + Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador - 1]["Fuel"].ToString())) * 0.16))</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="precio">@string.Format("{0:$ #,###}", (Convert.ToDouble(ViewBag.availDaysReturn.Rows[intcontador - 1]["Rate"]) + Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador - 1]["Fuel"].ToString()) + Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador - 1]["Tax"].ToString()) + ((Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador - 1]["Fee"].ToString()) + Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador - 1]["Fee"].ToString()) * 0.16)) + (Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador - 1]["Rate"]) + Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador - 1]["Fuel"].ToString())) * 0.16))</span>
                                                                }
                                                                @if (Convert.ToInt32(ViewBag.availDaysReturn.Rows[intcontador - 1]["ClassQuantity"]) > 1 && Convert.ToInt32(ViewBag.availDaysReturn.Rows[intcontador - 1]["ClassQuantity"]) <= 4)
                                                                {
                                                                    <span class="sillas">@ViewBag.availDaysReturn.Rows[intcontador - 1]["ClassQuantity"] Sillas</span>
                                                                } 
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <span class="dia">@dia</span>
                                                            <span class="fecha">@mes @dteFechaInicio.AddDays(intcontador).Day</span>
                                                        }
                                                    </div>
                                                </li>
                                            }
                                            else if (posicion == 0 && intcontador > posicion)
                                            {
                                                <li>
                                                    <div class="carrucel_li">
                                                        @if (ViewBag.availDaysReturn.Rows[intcontador - 1]["Rate"].ToString() != "")
                                                        {
                                                            <a href="/flights/adelanteREGRESO@(intcontador - posicion)">
                                                                <span class="dia">@dia</span>
                                                                <span class="fecha">@mes @dteFechaInicio.AddDays(intcontador).Day</span>

                                                                @if (Model.TipoVuelo == 1)
                                                                {
                                                                    <span class="precio">@string.Format("{0:$ #,###}", (Convert.ToDouble(ViewBag.availDaysReturn.Rows[intcontador - 1]["Rate"]) + Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador - 1]["Fuel"].ToString()) + Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador - 1]["Tax"].ToString()) + ((Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador - 1]["Fee"].ToString()) + Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador - 1]["Fee"].ToString()) * 0.16) / 2) + (Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador - 1]["Rate"]) + Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador - 1]["Fuel"].ToString())) * 0.16))</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="precio">@string.Format("{0:$ #,###}", (Convert.ToDouble(ViewBag.availDaysReturn.Rows[intcontador - 1]["Rate"]) + Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador - 1]["Fuel"].ToString()) + Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador - 1]["Tax"].ToString()) + ((Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador - 1]["Fee"].ToString()) + Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador - 1]["Fee"].ToString()) * 0.16)) + (Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador - 1]["Rate"]) + Convert.ToDouble(@ViewBag.availDaysReturn.Rows[intcontador - 1]["Fuel"].ToString())) * 0.16))</span>
                                                                }
                                                                @if (Convert.ToInt32(ViewBag.availDaysReturn.Rows[intcontador - 1]["ClassQuantity"]) > 1 && Convert.ToInt32(ViewBag.availDaysReturn.Rows[intcontador - 1]["ClassQuantity"]) <= 4)
                                                                {
                                                                    <span class="sillas">@ViewBag.availDaysReturn.Rows[intcontador - 1]["ClassQuantity"] Sillas</span>
                                                                }
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <span class="dia">@dia</span>
                                                            <span class="fecha">@mes @dteFechaInicio.AddDays(intcontador).Day</span>
                                                        }
                                                    </div>
                                                </li>
                                            }
                                        }
                                        catch
                                        {

                                        }
                                    }
                                    <li>
                                        <a href="/flights/adelanteREGRESO1">
                                            <div class="elastislide-next nav"></div>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    if (@Model.dtAvailReturn.Rows.Count == 0 || @Model.dtAvailReturn == null)
                    {
                        <span>No hay vuelos disponibles</span>
                    }
                    else
                    {
                        <div class="info info_vuelo" style="width:495px; padding-left: 14px;padding-right: 10px;">
                            <h2>Información de Vuelo </h2>
                        </div>

                        <div class="info economica" style="width:240px; margin-left: 10px; padding-right: 13px;">
                            <h2 class="tarifa">
                                <img src="/Content/img/ico_economica.png" alt="" /> Económica<a href="#tarifa" class="ico_info modal_eco"></a>
                                <div class="modal_eco2" data-reveal>
                                    <h2><img src="/Content/img/ico_economica.png" alt="" /> Tarifa Económica Easyfly<a href="#tarifa" data-reveal-id="modal_economica">Ver detalles</a></h2>
                                    <ul>
                                        <li>• Penalidad $90,000 por cambio de Ruta, Fecha y vuelo</li>
                                        <li>• Revisable a tarifa superior</li>
                                        <li>• Tarifa No reembolsable.</li>
                                        <li>• Penalidad de $90.000 por cambio de nombre</li>
                                        <li>• Menores pagan el 100% de la tarifa <span>(de 2 a 11 años de edad)</span></li>
                                    </ul>
                                    <a class="close-reveal-modal"></a>
                                </div>
                            </h2>
                        </div>

                        <div class="info preferencial" style="width:240px; padding-left: 13px;">
                            <h2 class="tarifa">
                                <img src="/Content/img/ico_preferencial.png" alt="" /> Preferencial<a href="#tarifa" class="ico_info modal_pref"></a>
                                <div class="modal_pref2" data-reveal>
                                    <h2><img src="/Content/img/ico_preferencial.png" alt="" /> Tarifa Preferencial Easyfly<a href="#tarifa" data-reveal-id="modal_preferencial">Ver detalles</a></h2>
                                    <ul>
                                        <li>• Reembolsable con penalidad $90,000</li>
                                        <li>• 100% Transferible</li>
                                        <li>• Revisable SIN PENALIDAD<span>(a tarifa superior por cambio de ruta, fecha y vuelo)</span></li>
                                        <li>• Menores pagan el 2/3 partes de la tarifa<span>(de 2 a 11 años de edad)</span></li>
                                    </ul>
                                    <a class="close-reveal-modal"></a>
                                </div>
                            </h2>
                        </div>
                        if (classE != -1 || classP != -1)
                        {
                            classE = -1;
                            classP = -1;
                        }
                        lowRate = Convert.ToDouble(@Model.dtAvailReturn.Rows[0]["Rate"]);
                        int isOdd = -1;
                        string classToPaint = "info2";
                        for (int i = 0; i < @Model.dtAvailReturn.Rows.Count; i++)
                        {
                            isOdd = isOdd + 1;
                            if (isOdd % 2 == 0)
                            {
                                classToPaint = "info3";
                            }
                            else
                            {
                                classToPaint = "info2";
                            }
                            if (flight != @Model.dtAvailReturn.Rows[i]["FlightNumber"].ToString())
                            {
                                for (int j = 0; j < @Model.dtAvailReturn.Rows.Count; j++)
                                {
                                    if (@Model.dtAvailReturn.Rows[i]["FlightNumber"].ToString() == @Model.dtAvailReturn.Rows[j]["FlightNumber"].ToString())
                                    {
                                        if (@Model.dtAvailReturn.Rows[j]["Description"].ToString() == "E")
                                        {
                                            classE = j;
                                        }
                                        if (@Model.dtAvailReturn.Rows[j]["Description"].ToString() == "P")
                                        {
                                            classP = j;
                                        }
                                    }
                                    if (lowRate > Convert.ToDouble(@Model.dtAvailReturn.Rows[j]["Rate"]))
                                    {
                                        lowRate = Convert.ToDouble(@Model.dtAvailReturn.Rows[j]["Rate"]);
                                    }
                                }

                                <div class="row ">
                                    <div class="large-12 columns">
                                        <div class="large-6 columns">
                                            <div class="@classToPaint margin2">


                                                <div class="info_inner">
                                                    <span class="info_hora">@Model.dtAvailReturn.Rows[i]["DepartureDateTime"].ToString().Substring(11, 5)</span>
                                                    <span class="info_ciudad">@Model.dtAvailReturn.Rows[i]["Origin"]</span>
                                                </div>
                                                <div class="info_arrow">
                                                </div>
                                                <div class="info_inner">
                                                    <span class="info_hora">@Model.dtAvailReturn.Rows[i]["ArrivalDateTime"].ToString().Substring(11, 5)</span>
                                                    <span class="info_ciudad">@Model.dtAvailReturn.Rows[i]["Destination"]</span>
                                                </div>
                                                <div class="info_inner">
                                                    <span class="info_vuelo1">Vuelo</span>
                                                    <span class="info_vuelo2">EF @Model.dtAvailReturn.Rows[i]["FlightNumber"]</span>
                                                    @*<span class="info_vuelo3">@Model.dtAvail[1].Rows[i]["AirEquipType"]</span>*@
                                                </div>
                                                <span class="tiempo_vieje">Tiempo de Viaje Total: @Model.dtAvailReturn.Rows[i]["Duration"]</span>
                                            </div>
                                        </div>


                                        @if (classE != -1)
                                        {
                                            <div class="large-3 columns">

                                                <div class="@classToPaint margin2 R" id="divSelectR-@i" rel="ER"
                                                     name='@Model.TipoVuelo^@Model.dtAvailReturn.Rows[classE]["FlightNumber"]^@Model.dtAvailReturn.Rows[classE]["Class"]^@Model.dtAvailReturn.Rows[classE]["Rate"]^@Model.dtAvailReturn.Rows[classE]["DepartureDateTime"]^@Model.dtAvailReturn.Rows[classE]["ArrivalDateTime"]^2^@i^ER^@Model.dtAvailReturn.Rows[classE]["Fuel"].ToString()^@Model.dtAvailReturn.Rows[classE]["Tax"].ToString()^@ViewBag.Discount^@Model.dtAvailReturn.Rows[classE]["Fee"].ToString()'>
                                                    <input type="radio" name="radiog_darkR" id="radioR-@i" class="css-checkbox" />
                                                    <label for="radioR-@i" class="css-label radGroup1"></label>
                                                    @if (lowRate == Convert.ToDouble(@Model.dtAvailReturn.Rows[classE]["Rate"]))
                                                    {
                                                        @*<span class="precio txt_naranja">@string.Format("{0:$ #,###}", (Convert.ToDouble(@Model.dtAvail[1].Rows[classE]["Rate"]) + Convert.ToDouble(@Model.dtAvail[1].Rows[classE]["Fuel"].ToString()) + Convert.ToDouble(@Model.dtAvail[1].Rows[classE]["Tax"].ToString()) + ((Convert.ToDouble(configurationReader.read("feeAdministrativo", "MVCFuncional")) + Convert.ToDouble(configurationReader.read("feeAdministrativo", "MVCFuncional")) * 0.16) / 2) + (Convert.ToDouble(@Model.dtAvail[1].Rows[classE]["Rate"]) + Convert.ToDouble(@Model.dtAvail[1].Rows[classE]["Fuel"].ToString())) * 0.16))</span>*@
                                                        <span class="precio">@string.Format("{0:$ #,###}", (Convert.ToDouble(@Model.dtAvailReturn.Rows[classE]["Rate"]) + Convert.ToDouble(@Model.dtAvailReturn.Rows[classE]["Fuel"].ToString()) + Convert.ToDouble(@Model.dtAvailReturn.Rows[classE]["Tax"].ToString()) + ((Convert.ToDouble(@Model.dtAvailReturn.Rows[classE]["Fee"].ToString()) + Convert.ToDouble(@Model.dtAvailReturn.Rows[classE]["Fee"].ToString()) * 0.16) / 2) + (Convert.ToDouble(@Model.dtAvailReturn.Rows[classE]["Rate"]) + Convert.ToDouble(@Model.dtAvailReturn.Rows[classE]["Fuel"].ToString())) * 0.16))</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="precio">@string.Format("{0:$ #,###}", (Convert.ToDouble(@Model.dtAvailReturn.Rows[classE]["Rate"]) + Convert.ToDouble(@Model.dtAvailReturn.Rows[classE]["Fuel"].ToString()) + Convert.ToDouble(@Model.dtAvailReturn.Rows[classE]["Tax"].ToString()) + ((Convert.ToDouble(@Model.dtAvailReturn.Rows[classE]["Fee"].ToString()) + Convert.ToDouble(@Model.dtAvailReturn.Rows[classE]["Fee"].ToString()) * 0.16) / 2) + (Convert.ToDouble(@Model.dtAvailReturn.Rows[classE]["Rate"]) + Convert.ToDouble(@Model.dtAvailReturn.Rows[classE]["Fuel"].ToString())) * 0.16))</span>
                                                    }
                                                    @if (Convert.ToInt32(Model.dtAvailReturn.Rows[classE]["ClassQuantity"]) == 1)
                                                    {
                                                        <span class="n_sillas">Última silla</span>
                                                    }
                                                    @if (Convert.ToInt32(Model.dtAvailReturn.Rows[classE]["ClassQuantity"]) > 1 && Convert.ToInt32(Model.dtAvailReturn.Rows[classE]["ClassQuantity"]) <= 4)
                                                    {
                                                        <span class="n_sillas">@Model.dtAvailReturn.Rows[classE]["ClassQuantity"].ToString() Sillas</span>
                                                    }
                                                </div>

                                            </div>
                                                    classE = -1;
                                        }
                                        else
                                        {
                                            <div class="large-3 columns">
                                                <div class="@classToPaint margin2">
                                                    <span class="precio" style="padding-top:25px">No disponible</span>
                                                    <span class="n_sillas"></span>
                                                </div>
                                            </div>
                                        }
                                        @if (classP != -1)
                                        {
                                            <div class="large-3 columns">

                                                <div class="@classToPaint margin2 R" id="divSelectPR-@i" rel="PR"
                                                     name='@Model.TipoVuelo^@Model.dtAvailReturn.Rows[i]["FlightNumber"]^@Model.dtAvailReturn.Rows[classP]["Class"]^@Model.dtAvailReturn.Rows[classP]["Rate"]^@Model.dtAvailReturn.Rows[classP]["DepartureDateTime"]^@Model.dtAvailReturn.Rows[classP]["ArrivalDateTime"]^2^@i^PR^@Model.dtAvailReturn.Rows[classP]["Fuel"].ToString()^@Model.dtAvailReturn.Rows[classP]["Tax"].ToString()^@ViewBag.Discount^@Model.dtAvailReturn.Rows[classP]["Fee"].ToString()'>
                                                    <input type="radio" name="radiog_darkR" id="radioPR-@i" class="css-checkbox" />
                                                    <label for="radioPR-@i" class="css-label radGroup1"> </label>
                                                    @if (lowRate == Convert.ToDouble(@Model.dtAvailReturn.Rows[classP]["Rate"]))
                                                    {
                                                        @*<span class="precio txt_naranja">@string.Format("{0:$ #,###}", (Convert.ToDouble(@Model.dtAvail[1].Rows[classP]["Rate"]) + Convert.ToDouble(@Model.dtAvail[1].Rows[classP]["Fuel"].ToString()) + Convert.ToDouble(@Model.dtAvail[1].Rows[classP]["Tax"].ToString()) + ((Convert.ToDouble(configurationReader.read("feeAdministrativo", "MVCFuncional")) + Convert.ToDouble(configurationReader.read("feeAdministrativo", "MVCFuncional")) * 0.16) / 2) + (Convert.ToDouble(@Model.dtAvail[1].Rows[classP]["Rate"]) + Convert.ToDouble(@Model.dtAvail[1].Rows[classP]["Fuel"].ToString())) * 0.16))</span>*@
                                                        <span class="precio">@string.Format("{0:$ #,###}", (Convert.ToDouble(@Model.dtAvailReturn.Rows[classP]["Rate"]) + Convert.ToDouble(@Model.dtAvailReturn.Rows[classP]["Fuel"].ToString()) + Convert.ToDouble(@Model.dtAvailReturn.Rows[classP]["Tax"].ToString()) + ((Convert.ToDouble(@Model.dtAvailReturn.Rows[classP]["Fee"].ToString()) + Convert.ToDouble(@Model.dtAvailReturn.Rows[classP]["Fee"].ToString()) * 0.16) / 2) + (Convert.ToDouble(@Model.dtAvailReturn.Rows[classP]["Rate"]) + Convert.ToDouble(@Model.dtAvailReturn.Rows[classP]["Fuel"].ToString())) * 0.16))</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="precio">@string.Format("{0:$ #,###}", (Convert.ToDouble(@Model.dtAvailReturn.Rows[classP]["Rate"]) + Convert.ToDouble(@Model.dtAvailReturn.Rows[classP]["Fuel"].ToString()) + Convert.ToDouble(@Model.dtAvailReturn.Rows[classP]["Tax"].ToString()) + ((Convert.ToDouble(@Model.dtAvailReturn.Rows[classP]["Fee"].ToString()) + Convert.ToDouble(@Model.dtAvailReturn.Rows[classP]["Fee"].ToString()) * 0.16) / 2) + (Convert.ToDouble(@Model.dtAvailReturn.Rows[classP]["Rate"]) + Convert.ToDouble(@Model.dtAvailReturn.Rows[classP]["Fuel"].ToString())) * 0.16))</span>
                                                    }
                                                    @if (Convert.ToInt32(Model.dtAvailReturn.Rows[classP]["ClassQuantity"]) == 1)
                                                    {
                                                        <span class="n_sillas">Última silla</span>
                                                    }
                                                    @if (Convert.ToInt32(Model.dtAvailReturn.Rows[classP]["ClassQuantity"]) > 1 && Convert.ToInt32(Model.dtAvailReturn.Rows[classP]["ClassQuantity"]) <= 4)
                                                    {
                                                        <span class="n_sillas">@Model.dtAvailReturn.Rows[classP]["ClassQuantity"].ToString() Sillas</span>
                                                    }
                                                </div>
                                            </div>
                                                    classP = -1;
                                        }
                                        else
                                        {
                                            <div class="large-3 columns">
                                                <div class="@classToPaint margin2">
                                                    <span class="precio" style="padding-top:25px">No disponible</span>
                                                    <span class="n_sillas"></span>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                            flight = @Model.dtAvailReturn.Rows[i]["FlightNumber"].ToString();
                        }
                    }
                }
                @if (Convert.ToInt32(ViewBag.Discount) != 0)
                {
                    <input type='hidden' name='tstPostDisc' value='tstPostDisc' />
                }
                else
                {
                    <input type='hidden' name='tstPost' value='tstPost' />
                }
            </form>

            <div class="row">
                <div class="large-7 columns margin-top">
                    <h2 class="H2Book">Itinerario Seleccionado<span>@(Model.Adultos + Model.Niños + Model.Infantes) pasajero(s)</span></h2>
                </div>
                <a href="/" class="large-5 columns editar margin-top">Editar selección</a>
            </div>

            <div class="row">
                <div class="large-7 columns">
                    <div class="info_final">
                        <div class="txt_ida">
                            IDA
                        </div>
                        <div class="ico_ida" id="ico_ida">
                            <span class="info_hora">@Model.IATAOrigen - @Model.IATADestino</span>
                            @*@if (Model.fechaSalida != null && Model.fechaLlegada != null)
                                {*@
                            <span id="mdblItinerarioIda"></span>
                            @*}*@
                        </div>
                    </div>
                    @if (Model.TipoVuelo == 1)
                    {
                        <div class="info_final" style="margin-top:5px;">
                            <div class="txt_regreso">
                                REGRESO
                            </div>
                            <div class="ico_regreso" id="ico_regreso">
                                <span class="info_hora">@Model.IATADestino - @Model.IATAOrigen</span>
                                @*@if (Model.fechaRegresoSalida != null && @Model.fechaRegresoLlegada != null)
                                    {*@
                                <span id="mdblItinerarioRegreso"></span>
                                @*}*@
                            </div>
                        </div>
                    }
                </div>

                <div class="large-5 columns">
                    <div class="info_final2">
                        <div class="large-6 columns columna1">
                            <span>Tarifa</span>
                            @*<span>Combustible</span>*@
                            <span>Cargo Administrativo</span>
                            <span>Tasas e impuestos</span>
                            @if (ViewBag.PromotionValid == true)
                            {
                                <span>Descuento @ViewBag.Discount %</span>
                                <span class="total">Total</span>
                            }
                            else
                            {
                                <span class="total">Total</span>
                            }
                        </div>
                        <div class="large-6 columns columna2">
                            <span id="mdblValor">@string.Format("{0:$ #,###}", Model.TarifaTotal.mdblValor + Model.TarifaTotal.mdblCombustible)</span>
                            @*<span id="mdblCombustible">@string.Format("{0:$ #,###}", Model.TarifaTotal.mdblCombustible)</span>*@
                            <span id="mdblCargoAdministrativo">@string.Format("{0:$ #,###}", Model.TarifaTotal.mdblCargoAdministrativo)</span>
                            <span id="mdblTasas">@string.Format("{0:$ #,###}", Model.TarifaTotal.mdblIVAValor + Model.TarifaTotal.mdblIVACombustible + Model.TarifaTotal.mdblIVACargoAdministrativo + Model.TarifaTotal.mdblTasa)</span>
                            @if (ViewBag.PromotionValid == true)
                            {
                                <span class="total" id="mdblValorDescontado">@string.Format("{0:$ #,###}", Model.TarifaTotal.mdblValorDescontado)</span>
    <span class="total" id="mdblTotalConDescuento">@string.Format("{0:$ #,###}", Model.TarifaTotal.mdblValorConDescuento)</span>
                            }
                            else
                            {
                                <span class="total" id="mdblTotal">@string.Format("{0:$ #,###}", Model.TarifaTotal.mdblTotal)</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <span id="errorMessage" class="tiempo_vieje" style="display: none; color:red;">Tiempo de Viaje Total: 00:50:00</span>
            @*<span style="font-size:13px; text-align:justify;">
                Tarifas económicas: No reembolsable. Aplica penalidad de $60.000 por cambio de nombre, ruta, fecha, vuelo y por no presentación al aeropuerto. En todos los casos se revisa a tarifa superior.<br />

                Tarifas preferenciales: Reembolsable con penalidad de $60.000. No aplica penalidad por cambio de nombre, ruta, fecha o vuelo antes del viaje.  Aplica penalidad de $60.000 por cambios en vuelo después de operado. En todos los casos se revisa a tarifa superior.<br />

                Derecho a retracto: El derecho de retracto deberá ejercerse en un plazo de 48 horas a partir de la compra y 8 días antes del vuelo.
            </span>*@
            <br />
            <br />
            <a id="refoundTexta"><b><u>Conozco y acepto las condiciones particulares de la tarifa seleccionada</u></b></a>
            <input type="checkbox" name="refoundText" id="refoundText" class="css-checkbox">
            <label for="refoundText" class="css-label radGroup1"> </label>
            <div class="row">
                <input name="" type="button" value="CONTINUAR" id="btnContinuar" onclick="javascript: toPaxPage();" class="large-3 medium-6 small-12 large-centered columns bot_naranja margin-top">
                @*<a href="~/Pax" class="large-3 medium-6 small-12 large-centered columns bot_naranja margin-top">CONTINUAR</a>*@
            </div>
        </div>
    </div>

    <div class="resumen" id="divResumen">
        <div class="header">
            <div class="but"></div>
            <span class="tit">Resumen de su itinerario</span>
            <span class="subtit"></span>
            <div id="precio">
                <span class="precio" id='mdblTotalPopUp1'>@string.Format("{0:$ #,###}", Model.TarifaTotal.mdblTotal)</span>
            </div>
        </div>
        <div class="display" id="divDisplay">
            <div class="vuelo_ida">
                <a href="/" class="editar">Editar búsqueda</a>
                <span class="n_pasajeros" id="n_pasajeros">1 viajero ida y regreso</span>
                <span class="ciudades" id="ciudades">@Model.IATAOrigen a @Model.IATADestino</span>
            </div>
            <div class="vuelo_ida">
                <span class="tit_ida">Vuelo de Ida</span>
                <div class="ciudad_origen">
                    <span class="ciudad0 ciudad1" id="ciudad1">@Model.IATAOrigen</span>
                    @if (Model.fechaSalida != null)
                    {
                        <span class="fecha_hora" id="mdblItinerarioIdaPopUp"></span>
                    }
                </div>
                <span class="flechas_azul"></span>
                <div class="ciudad_origen">
                    <span class="ciudad0 ciudad2" id="ciudad2">@Model.IATADestino</span>
                    @if (Model.fechaLlegada != null)
                    {
                        <span class="fecha_hora" id="mdblItinerarioIdaLlegadaPopUp"></span>
                    }
                </div>
            </div>
            <div class="vuelo_regreso">
                <span class="tit_regreso">Vuelo de Regreso</span>
                <div class="ciudad_origen">
                    <span class="ciudad3 ciudad4" id="ciudad4">@Model.IATADestino</span>
                    @if (Model.fechaRegresoSalida != null)
                    {
                        <span class="fecha_hora" id="mdblItinerarioRegresoPopUp"></span>
                    }
                </div>
                <span class="flechas_naranja"></span>
                <div class="ciudad_origen">
                    <span class="ciudad3 ciudad5" id="ciudad5">@Model.IATAOrigen</span>
                    @if (Model.fechaRegresoLlegada != null)
                    {
                        <span class="fecha_hora" id="mdblItinerarioRegresoLlegadaPopUp"></span>
                    }
                </div>
            </div>
            <div class="txt_tarifas">
                <div>
                    <span class="txt_tarifas_inner">Tarifa</span>
                    <span class="precios_tafifas" id="mdblValorPopUp">@string.Format("{0:$ #,###}", Model.TarifaTotal.mdblValor + Model.TarifaTotal.mdblCombustible)</span>
                </div>
                @*<div>
                    <span class="txt_tarifas_inner">Combustible</span>
                    <span class="precios_tafifas" id="mdblCombustiblePopUp">@string.Format("{0:$ #,###}", Model.TarifaTotal.mdblCombustible)</span>
                </div>*@
                <div>
                    <span class="txt_tarifas_inner">Cargo Administrativo</span>
                    <span class="precios_tafifas" id="mdblCargoAdministrativoPopUp">@string.Format("{0:$ #,###}", Model.TarifaTotal.mdblCargoAdministrativo)</span>
                </div>
                <div>
                    <span class="txt_tarifas_inner">Tasas e impuestos</span>
                    <span class="precios_tafifas" id="mdblTasasPopUp">@string.Format("{0:$ #,###}", Model.TarifaTotal.mdblIVAValor + Model.TarifaTotal.mdblIVACombustible + Model.TarifaTotal.mdblIVACargoAdministrativo + Model.TarifaTotal.mdblTasa)</span>
                </div>
            </div>
            @if (ViewBag.PromotionValid == true)
            {
                <div class="barra_total">
                    <span class="total">Descuento @ViewBag.Discount %</span>
                    <span class="precio" id="mdblValorDescontadoP2">@string.Format("{0:$ #,###}", Model.TarifaTotal.mdblValorDescontado)</span>
                </div>
                <div class="barra_total">
                    <span class="total">Total</span>
                    <span class="precio" id="mdblTotalConDescuentoP2">@string.Format("{0:$ #,###}", Model.TarifaTotal.mdblValorConDescuento)</span>
                </div>
            }
            else
            {
                <div class="barra_total">
                    <span class="total">Total</span>
                    <span class="precio" id="mdblTotalPopUp2">@string.Format("{0:$ #,###}", Model.TarifaTotal.mdblTotal)</span>
                </div>
            }
        </div>
    </div>
</div>

<div id="modal" class="reveal-modal modal1" data-reveal>
    <h2>SU BÚSQUEDA CADUCÓ</h2>
    <p class="lead">Para volver a cargar su busqueda, haga click en buscar otra vez.</p>
    <a href="" class="bot_buscar">Buscar otra vez</a>
    <a class="close-reveal-modal"></a>
</div>

@section Scripts
{
    @*@Scripts.Render("~/Content/js/siteScripts/flights.js")*@
    @Scripts.Render("~/bundles/siteScripts")
}









