﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<AWESCommon.webCheckInSupport.POCOFlightInfoEntry> flightsInfo = ViewBag.checkInInfo;
    Dictionary<string, bool> canCheckIn = ViewBag.canCheckIn;
    string pnr = ViewBag.codReservation;
    string lastName = ViewBag.LastName;
    string email = ViewBag.email;
    AWESCommon.webCheckInSupport.POCOFlightInfoEntry flightToCheckIn = new AWESCommon.webCheckInSupport.POCOFlightInfoEntry();
    string flightSerialized = ViewBag.flightSerialized;
    bool moreCheckIn = ViewBag.moreCheckIn;
    Dictionary<string, string> idETKT = ViewBag.idETKT;
}

<div class="row margin_top">
    <h2>Estas son las reservas disponibles para hacer web check-in</h2>
    <div class="large-7 medium-12 small-12 columns margin_top">
        <div class="identificador">IDENTIFICADOR DE RESERVA:<span>@pnr</span></div>
    </div>
    <div class="large-5 medium-12 small-12 columns margin_top">
        <img src="~/Content/img/check_in.png" alt="" />
    </div>
</div>

@foreach (AWESCommon.webCheckInSupport.POCOFlightInfoEntry flight in flightsInfo)
{
    if (canCheckIn[flight.flight])
    {
        flightToCheckIn = flight;
        <div class="row">
            <div class="large-12 small-12 columns bg-azul8">
                <div class="ico_ida large-9 small-12 columns">
                    <span class="info_hora">@flight.departureCity - @flight.arrivalCity</span>
                    <span class="info_ciudad">@flight.departureDateTime.ToString().Substring(8, 2)/@flight.departureDateTime.ToString().Substring(5, 2)   @flight.departureDateTime.ToString().Substring(11, 5) - @flight.arrivalDateTime.ToString().Substring(11, 5)</span>
                </div>
                <div class="large-3 small-12 columns">
                    <div class="large-7 medium-7 small-7 columns vuelo">
                        VUELO No:
                        AERONAVE:
                    </div>
                    <div class="large-5 medium-5 small-5 columns n_vuelo">
                        EF @flight.flight
                        @if (flight.equipment == "AT5")
                        {
                            string AT5 = "ATR-42";
                            @AT5
                        }
                        else
                            if (flight.equipment == "J41")
                            {
                                string J41 = "JS-41";
                                @J41
                            }
                    </div>
                </div>
            </div>
            <div class="large-12 medium-12 small-12 columns bg-azul5">
                <div class="large-2 medium-2 small-2 columns tit_2">
                    Tipo
                </div>
                <div class="large-4 medium-2 small-2 columns tit_2">
                    Nombre
                </div>
                <div class="large-2 medium-2 small-2 columns tit_2">
                    Documento
                </div>
                <div class="large-2 medium-2 small-2 columns tit_2">
                    Silla
                </div>
                <div class="large-2 medium-2 small-2 columns tit_2">
                    Web Check in
                </div>
            </div>
            @foreach (AWESCommon.webCheckInSupport.POCOPaxEntry pax in flight.passangers)
            {
                string classSeat = pax.DocumentNumber + "seat";
                string classStatus = pax.DocumentNumber + "status";
                string className = pax.DocumentNumber + "name";
                string notAssign = "SIN ASIGNAR";
                string pending = "PENDIENTE";
                string Assigned = "ASIGNADO";
                string radioId = "radio" + pax.DocumentNumber;
                <p hidden id="@pax.DocumentNumber" class="seatPaxSelected">0</p>
                <div class="large-12 medium-12 small-12 columns datos_pasajero" id="@pax.DocumentNumber" name="@idETKT[pax.DocumentNumber]">
                    <div class="large-1 medium-1 small-1 columns tit_2">
                        <input type="checkbox" name="Group1" id="@radioId" class="css-checkbox" />
                        <label for="@radioId" class="css-label label4"> </label>
                    </div>
                    <div class="large-1 medium-1 small-1 columns">@pax.PaxType</div>
                    <div class="large-4 medium-2 small-2 columns @className">@pax.Name @pax.LastName</div>
                    <div class="large-2 medium-2 small-2 columns">@pax.DocumentNumber</div>
                    <div class="large-2 medium-2 small-2 columns @classSeat">
                        @if (string.IsNullOrEmpty(pax.Seat))
                        {@notAssign
                        }
                        else if (!string.IsNullOrEmpty(pax.Seat.Trim()))
                        {@:@pax.Seat.Trim()
}
                        else
                        {@notAssign
                        }
                    </div>
                    <div class="large-2 medium-2 small-2 columns @classStatus">
                        @if (string.IsNullOrEmpty(pax.Seat))
                        {@pending}
                        else if (!string.IsNullOrEmpty(pax.Seat.Trim()))
                        {@Assigned
                        }
                        else
                        {@pending
                        }
                    </div>
                </div>
            }
        </div>
        <div class="row margin_top3 planos" id="sillas" style="display: block;">
            <h4 style="text-align:center;" id="textAircraft">Seleccione el pasajero y la silla que desea asignar</h4>
            @{
            string planeClass = "";
            if (flight.equipment == "J41")
            {
                planeClass = "plano2";
            }
            else if (flight.equipment == "AT5")
            {
                planeClass = "plano1";
            }
            }
            <div class="@planeClass">
                @foreach (KeyValuePair<string, bool> seat in flight.seatMap)
                {
                    string aircraftClass = "silla silla" + seat.Key + " disponible";
                    if (!seat.Value)
                    {
                        aircraftClass = aircraftClass.Replace("disponible", "ocupada");
                    }
                    string letter = seat.Key.Substring(0, 1);
                    string seatModified = seat.Key + letter;
                    seatModified = seatModified.Remove(0, 1);
                    <div class="@aircraftClass">@seatModified</div>
                }
                <span class="tipo_avion">
                    @if (flight.equipment == "AT5")
                    {@:ATR 42
}
                    else if (flight.equipment == "J41")
                    {@:JS 41
}
                </span>
                <span class="silla_asignada">Silla asignada</span>
                <span class="silla_disponible">Silla disponible</span>
                <span class="silla_ocupada">Silla ocupada</span>
            </div>
        </div>
        <div class="margin_bottom">
            <a class="large-5 medium-12 small-12 large-centered columns bot_naranja margin-top realizar_checkin" href="#" data-reveal-id="modal2">REALIZAR WEB CHECK-IN</a>
        </div>
        <div id="modal1" class="reveal-modal modal3" data-reveal>
            <h2>Web Check-in No Disponible para este vuelo</h2>
            <div class="modal_inner">
                <p>Debido a un cambio de operación en este vuelo, el servicio de Web Check-in no está disponible, Favor realice Check-in en el Aeropuerto.</p>
                <div class="small-6 columns small-centered">
                    <a class="bot_naranja cerrar_lb">CERRAR</a>
                </div>
                <a class="close-reveal-modal"></a>
            </div>
        </div>
        <div id="modal2" class="reveal-modal modal3" data-reveal style="width:690px !important;">
            <h2>Confirmación de WebCheck-in Reserva: @pnr</h2>

            <p class="text_modal3">Estimado usuario, Gracias por hacer Web Check-in en Easyfly, este proceso facilita y agiliza su experiencia con nosotros y en el aeropuerto, enviaremos los pasabordos para los siguientes pasajeros al correo electrónico que nos suministre en esta confirmación.</p>
            <a class="close-reveal-modal"></a>

            <table class="tabla_confirmacion" id="confirmationTable" align="center">
                <thead>
                    <tr>
                        <td>No. Tiquete</td>
                        <td>Pasajeros</td>
                        <td>Silla Asignada</td>
                        <td>Vuelo</td>
                    </tr>
                </thead>
            </table>
            <div class="row">
                <div class="small-10 columns small-centered">
                    <h4 style="text-align:center">Escriba el correo electrónico para envio de pasabordos </h4>
                    <div class="small-6 columns">
                        <input type="text" placeholder="correo electrónico" id="alternativeEmail" onchange="email(this.value)">
                    </div>
                    <div class="small-6 columns">
                        <input type="text" placeholder="confirmacion de correo electrónico" id="alternativeEmailConfirmation" onchange=" email(this.value)">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-8 columns small-centered">
                    @{
                    var isLastFlight = true;
                    foreach (KeyValuePair<string, bool> item in canCheckIn)
                    {
                        if (item.Key != flight.flight)
                        {
                            if (item.Value)
                            {
                                isLastFlight = false;
                                break;
                            }
                        }
                    }
                    if (isLastFlight)
                    {
                        <a class="bot_naranja cerrar_lb" href="javascript:checkIn()">ENVIAR PASABORDOS Y FINALIZAR</a>
                    }
                    else
                    {
                        <a class="bot_naranja cerrar_lb" href="javascript:checkIn()">ENVIAR PASABORDOS Y CONTINUAR</a>
                    }
}
                    
                </div>
            </div>
        </div>

        <form action="/webCheckIn/checkIn" method="POST" id="checkIn">
            <input type="hidden" name="pnr" value="">
            <input type="hidden" name="flightInfo" value="">
            <input type="hidden" name="lastName" value="">
            <input type="hidden" name="email" value="">
            <input type="hidden" name="alternativeEmail" value="">
            <input type="hidden" name="alternativeEmailConfirmation" value="">
            <input type="hidden" name="seat" value="">
            <input type="hidden" name="flightChecked" value="">
        </form>
                    break;
    }
    else
    {
        <input type="hidden" class="flightCheckedClass" id="@flight.flight">
    }
}

<script>
    var emailIsRight = true;
    $(".datos_pasajero").click(function () {
        //var documentNumber = $(".pasajero_selec").attr("id");
        var documentNumber = $(this).attr("id");
        if ($.trim($("." + documentNumber + "status").html()) != "ASIGNADO" && !($("#radio" + documentNumber).is(":checked"))) {
            $(this).addClass("pasajero_selec").siblings('').removeClass("pasajero_selec");
            $(':checkbox').prop('checked', false);
            $("#radio" + documentNumber).prop('checked', true);
        } else {
            if ($.trim($("." + documentNumber + "status").html()) != "ASIGNADO" && $("#radio" + documentNumber).is(":checked")) {
                $("#radio" + documentNumber).prop('checked', false);
                $(this).removeClass("pasajero_selec");
            } else {
                if ($.trim($("." + documentNumber + "status").html()) == "ASIGNADO" && $("#radio" + documentNumber).is(":checked")) {
                    $("#radio" + documentNumber).prop('checked', false);
                }
            }
        }
    });
    $(".seleccionar_sillas").click(function () {
        $(".planos").show();
        $(".seleccionar_sillas").hide();
    });
    $(".disponible").click(function () {
        var documentNumber = $(".pasajero_selec").attr("id");
        var ETKT = $(".pasajero_selec").attr("name");
        var passangerConfirmedID = "passangerConfirmed" + documentNumber;
        if ((!$(this).hasClass("asignada") && documentNumber != undefined) || $(this).hasClass(documentNumber)) {
            if ($(this).hasClass(documentNumber)) {
                $(this).removeClass("asignada" + " " + documentNumber);
                $("." + documentNumber + "seat").html("SIN ASIGNAR");
                $("." + documentNumber + "status").html("PENDIENTE");
                $("#" + passangerConfirmedID).remove();
                $("#" + documentNumber).html("0");
            } else {
                $(this).addClass("asignada" + " " + documentNumber).siblings("." + documentNumber).removeClass("asignada" + " " + documentNumber);
                $("." + documentNumber + "seat").html($(this).html());
                $("." + documentNumber + "status").html("SELECCIONADO");
                $("#" + documentNumber).html($(this).html());
                $("#" + passangerConfirmedID).remove();
                $("#confirmationTable").append("<tbody>");
                $("#confirmationTable").append("<tr id='" + passangerConfirmedID + "'>" +
                "<td>" + ETKT + "</td>" +
                "<td>" + $.trim($("." + documentNumber + "name").html()) + "</td>" +
                "<td>" + $(this).html() + "</td>" +
                "<td>EF " + @flightToCheckIn.flight + "</td>" +
                "</tr>");
                $("#confirmationTable").append("</tbody>");
            }
        }
        if (documentNumber == undefined) {
            $("#textAircraft").html("Por favor seleccionar un pasajero primero");
        } else {
            $("#textAircraft").html("Seleccione el pasajero y la silla que desea asignar");
        }
    });
    function checkIn(lastFlight) {
        $.blockUI({
            message: $('#domMessage'),
            css: { backgroundColor: 'transparent', color: '#fff', border: "none" }
        });

        var pnr = "@pnr";
        var flightInfo = "@flightSerialized";
        var lastName = "@lastName";
        var email = "@email";
        var alternativeEmail = $("#alternativeEmail").val();
        var alternativeEmailConfirmation = $("#alternativeEmailConfirmation").val();
        var idSeat = {};
        var flightCheckedArray = [];
        var anySeatWasSelected = false;

        $(".seatPaxSelected").each(function () {
            idSeat[$(this).attr("id")] = $(this).html();
            if ($.trim($(this).html()) != "0") {
                anySeatWasSelected = true;
            }
        })
        var seat = JSON.stringify(idSeat);

        $(".flightCheckedClass").each(function (i) {
            flightCheckedArray.push($(this).attr("id"));
        })
        flightCheckedArray.push("@flightToCheckIn.flight");

        var flightChecked = JSON.stringify(flightCheckedArray);

        $('#checkIn [name="pnr"]').val(pnr);
        $('#checkIn [name="flightInfo"]').val(flightInfo);
        $('#checkIn [name="lastName"]').val(lastName);
        $('#checkIn [name="email"]').val(email);
        $('#checkIn [name="alternativeEmail"]').val(alternativeEmail);
        $('#checkIn [name="alternativeEmailConfirmation"]').val(alternativeEmailConfirmation);
        $('#checkIn [name="seat"]').val(seat);
        $('#checkIn [name="flightChecked"]').val(flightChecked);
        if (anySeatWasSelected) {
            if (emailIsRight && alternativeEmail == alternativeEmailConfirmation) {
                $('#checkIn').submit();
            } else {
                alert("El correo puede estar mal escrito o los correos no son iguales");
            }
        } else {
            alert("CheckIn no pudo ser realizado debido a que no hay ninguna silla seleccionada");
        }
        $.unblockUI();
        //var urlPayment = "/webCheckIn/checkIn";
        // SENDS DATA
        @*$.ajax({
            url: urlPayment,
            data: { pnr: pnr, flightInfo: flightInfo, lastName: lastName, email: email, seat: seat, moreCheckIn:@moreCheckIn },
            traditional: true,
            success: okCheckIn
        })
            .fail(function (data, textStatus, jqXHR) {
                $.unblockUI();
                errorObject = JSON.parse(data.responseText);
                log("error:" + errorObject.Message);
            })*@
        //location.href = "/webCheckIn/checkIn?pnr=" + pnr + "&flight=" + flightInfo + "&lastName=" + lastName + "&email=" + email + "&seat=" + seat;
    }
    //function okCheckIn(data, textStatus, jqXHR) {
    //    $.unblockUI();
    //    var dataloaded = JSON.parse(data.data);
    //    var checked=false;
    //    var morePassanger=false;
    //    $.each(dataloaded,function (i,value){
    //        if(value[4]=="false"){
    //            checked=false;
    //            morePassanger=true;
    //        }
    //        else{
    //            checked=true;
    //        }
    //        if(checked){

    //        }
    //    })
    //}
    function email(value) {
        if (value != "" && value != null) {
            emailIsRight = emailValidation(value);
        } else {
            emailIsRight = true;
        }
    }
</script>

<script>
    document.write('<script src=js/vendor/' +
    ('__proto__' in {} ? 'zepto' : 'jquery') +
    '.js><\/script>')
</script>
