﻿@using AWESAirline.Models
@using AWESAirline.Controllers
<div class="row">
    <label id="txtReservaGenerada">@ViewBag.Code</label>
</div>

<div class="row margin_top">
    <div class="large-7 columns">
        <h2>Información de Pago</h2>
    </div>
    <div class="large-5 columns">
        <div class="row">
            <div class="pasos">
                <div class="paso1">
                    <span class="numero active">3</span>
                    <span class="pasos_tit">Pago</span>
                </div>
                <div class="paso1">
                    <span class="numero selected">2</span>
                    <span class="pasos_tit">Pasajeros</span>
                </div>
                <div class="paso1">
                    <span class="numero selected">1</span>
                    <span class="pasos_tit">Vuelos</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <h4>Itinerario Seleccionado<span> (1 pasajero)</span></h4>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <div class="row resumen_top">
            <div class="large-7 medium-6 small-5 columns">
                <div class="info_final">
                    <div class="txt_ida large-3 show-for-large-only columns">
                        IDA
                    </div>
                    <div class="ico_ida">
                        <span class="info_hora">BOGOTA - NEIVA</span>
                        <span class="info_ciudad">02/15 - 6:00 - 6:45 am</span>
                    </div>
                </div>
                <div class="info_final" style="margin-top:5px;">
                    <div class="txt_regreso large-5 show-for-large-only columns">
                        REGRESO
                    </div>
                    <div class="ico_regreso">
                        <span class="info_hora">NEIVA - BOGOTA</span>
                        <span class="info_ciudad">02/19 - 6:00 - 6:45 am</span>
                    </div>
                </div>
            </div>

            <div class="large-5  medium-6 small-7 columns">
                <div class="info_final2">
                    <div class="small-6 columns columna1">
                        <span>Tarifa</span>
                        <span>Combustible</span>
                        <span>Cargo Administrativo</span>
                        <span>Tasas e impuestos</span>
                    </div>
                    <div class="small-6 columns columna2">
                        <span>$125.000</span>
                        <span>$60.000</span>
                        <span>$10.000</span>
                        <span>$35.000</span>
                        <span class="total">$185.000</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row acordion_pasajeros">
            <dl class="accordion small-12 columns" data-accordion>
                <dd class="accordion-navigation">
                    <div class="large-12 small-12 columns margin_top bg-azul6 accordion_item2">
                        <a href="#panel1" class="flecha_accordion"></a>
                        <h3 class="left">6 Pasajeros en este itinerario </h3>
                        <span class="nota_2 left">( click aquí para ver nombres y documentos de identificación )</span>
                    </div>

                    <div id="panel1" class="content small-12 columns bg-azul3">
                        <div class="small-6 columns ico_pasajero"><span class="nombre_pasajero">Alfonso Avila Corchuelo</span> - CC 79.564.708</div>
                        <div class="small-6 columns ico_pasajero"><span class="nombre_pasajero">Diego Fernando Bernal</span> - CC 80.894.456</div>
                        <div class="small-6 columns ico_pasajero"><span class="nombre_pasajero">Juan Carlos Cruz</span> - CC 80.894.456</div>
                        <div class="small-6 columns ico_pasajero"><span class="nombre_pasajero">Ana Milena Bermudez</span> - CC 52.454.708</div>
                        <div class="small-6 columns ico_pasajero"><span class="nombre_pasajero">Leonardo Almonacid</span> - CC 65.434.708</div>
                        <div class="small-6 columns ico_pasajero"><span class="nombre_pasajero">Luis Eduardo Acuña</span> - CC 79.739.070</div>
                </dd>
            </dl>
        </div>

        <div class="row ">
            <div class="large-12 small-12 columns margin_top bg-azul6">
                <h3>Ya casi estamos listos...</h3>
            </div>
            <div class="small-12 columns bg-azul3">

                <span class="numero"> 1 </span><p>Comprar un seguro de Viaje</p><input type="checkbox" name="radiog_dark" id="radio1" class="css-checkbox" />
                <label for="radio1" class="css-label radGroup1 margin_top"> Quiero comprar un seguro para mi viaje por $10.000 <a href="#">(Más información)<img src="img/ver_mas.png" alt="" /></a></label>
            </div>
        </div>

        <div class="row">
            <div class="large-12 small-12 columns margin_top bg-azul2">
                <span class="numero">2</span><p>Elegir la forma de pago</p>
            </div>


            <dl class="accordion" data-accordion>
                <dd class="accordion-navigation">
                    <div class="accordion_item" id="divCredit">
                        <a href="#panel1b" class="flecha_accordion"></a>
                        <div class="small-7 columns no_padding">
                            <input id="radio4" class="css-checkbox " type="radio" name="radiog_dark">
                            <label class="css-label radGroup3" for="radio4">Tarjeta de Crédito</label>
                        </div>
                    </div>
                    <div id="panel1b" class="content bg-azul7" style="padding:0 !important">

                        <div class="large-10 medium-12 small-12 large-centered columns" style="padding: 20px 0;">
                            <div class="small-8 columns ">
                                <p>Easyfly recibe las siguientes tarjetas de crédito</p>
                            </div>
                            <div class="small-4 columns ">
                                <img src="/Content/img/tarjetas.png" width="244" height="39">
                            </div>
                            <div class="small-12 columns margin-top">
                                @*<div class="large-4 small-12 columns">
                                    <input type="text" id="nameOnCard" value="" placeholder="nameOnCard" />
                                </div>*@
                                <input type="hidden" id="Referencia" value="@ViewBag.reference" />
                                <input type="hidden" id="valor" value="@ViewBag.valueToPay" />
                                <div class="large-4 small-12 columns">
                                    <input type="text" id="Email" value="" placeholder="Email" />
                                </div>
                                @*<div class="large-4 small-12 columns">
                                    <input type="text" id="state" value="" placeholder="State" />
                                </div>*@
                                <div class="large-4 small-12 columns">
                                    <input type="text" id="numeroDocumento" value="" placeholder="numeroDocumento" />
                                </div>
                                <div class="large-4 small-12 columns">
                                    <select id="tipoDocumento">
                                        @foreach (KeyValuePair<string, string> doc in @baseController.isoDOcumentos())
                                        {
                                            <option value="@doc.Key">@doc.Value</option>
                                        }
                                    </select>
                                </div>
                                @*<div class="large-4 small-12 columns">
                                    <select id="tipoPersona">
                                        <option value="-1">Seleccione</option>
                                        <option value="N" selected="selected">Natural</option>
                                        <option value="J">Juridica</option>
                                    </select>
                                </div>*@
                            </div>
                            <div class="small-12 columns margin-top">
                                <div class="large-2 small-12 columns">
                                    <label>Tipo de tarjeta</label>
                                </div>
                                <div class="large-4 small-12 columns">
                                    <select id="paymentMethod">
                                        <option id="MASTERCARD">MASTERCARD</option>
                                        <option id="AMEX">AMEX</option>
                                        <option id="VISA">VISA</option>
                                        <option id="DINERS">DINERS</option>
                                    </select>
                                </div>
                                <div class="large-2 small-12 columns">
                                    <label style="text-align:right">No. Tarjeta</label>
                                </div>
                                <div class="large-4 small-12 columns">
                                    <input type="text" id="cardNumber" value="" placeholder="0000 0000 0000 0000" />
                                </div>
                            </div>


                            <div class="small-12 columns">
                                <div class="large-6 small-12 columns">
                                    <label>Nombre</label>
                                    <input type="text" id="nomrbesYApellidos" value="" placeholder="Como aparece en la tarjeta" />
                                </div>
                                <div class="large-3 small-12 columns">
                                    <label>Caducidad</label>
                                    <div class="large-5 small-6 columns">
                                        @*<input type="text" id="expirationMonth" value="" />*@
                                        <select name="" class="select_1" id="expirationMonth">
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                    </div>
                                    <div class="large-7 small-6 columns">
                                        <input type="text" id="expirationYear" value="" />
                                        @*<select name="" class="select_1">
                                            <option>2017</option>
                                        </select>*@
                                    </div>
                                </div>
                                <div class="large-3 small-12 columns">
                                    <label>Cod. seg.</label>
                                    <input type="text" id="securityCode" value="" placeholder="000" />
                                </div>
                            </div>

                            <div class="small-12 columns">
                                <div class="large-6 small-12 columns">
                                    <label>Dirección de facturación</label>
                                    <input type="text" id="direccion" value="" placeholder="Ingrese dirección aquí" />
                                </div>
                                <div class="large-6 small-12 columns">
                                    <label>Teléfono</label>
                                    <input type="text" id="telefonoDiurno" value="" placeholder="Ingrese número de teléfono" />
                                </div>
                            </div>

                            <div class="small-12 columns">
                                <div class="large-4 small-12 columns">
                                    <label>País</label>
                                    <select name="country" id="country">
                                        <option value="">--</option>
                                        <option value="AF">Afghanistan</option>
                                        <option value="AL">Albania</option>
                                        <option value="DZ">Algeria</option>
                                        <option value="AS">American Samoa</option>
                                        <option value="AD">Andorra</option>
                                        <option value="AI">Anguilla</option>
                                        <option value="AQ">Antarctica</option>
                                        <option value="AG">Antigua and Barbuda</option>
                                        <option value="AR">Argentina</option>
                                        <option value="AM">Armenia</option>
                                        <option value="AW">Aruba</option>
                                        <option value="AU">Australia</option>
                                        <option value="AT">Austria</option>
                                        <option value="AZ">Azerbaijan</option>
                                        <option value="BS">Bahamas, The</option>
                                        <option value="BH">Bahrain</option>
                                        <option value="BD">Bangladesh</option>
                                        <option value="BB">Barbados</option>
                                        <option value="BY">Belarus</option>
                                        <option value="BE">Belgium</option>
                                        <option value="BZ">Belize</option>
                                        <option value="BJ">Benin</option>
                                        <option value="BM">Bermuda</option>
                                        <option value="BT">Bhutan</option>
                                        <option value="BO">Bolivia</option>
                                        <option value="BQ">Bonaire, Saint Eustatius and Saba</option>
                                        <option value="BA">Bosnia and Herzegovina</option>
                                        <option value="BW">Botswana</option>
                                        <option value="BV">Bouvet Island</option>
                                        <option value="BR">Brazil</option>
                                        <option value="IO">British Indian Ocean Territory</option>
                                        <option value="BN">Brunei Darussalam</option>
                                        <option value="BG">Bulgaria</option>
                                        <option value="BF">Burkina Faso</option>
                                        <option value="BI">Burundi</option>
                                        <option value="KH">Cambodia</option>
                                        <option value="CM">Cameroon</option>
                                        <option value="CA" selected="">Canada</option>
                                        <option value="CV">Cape Verde</option>
                                        <option value="KY">Cayman Islands</option>
                                        <option value="CF">Central African Republic</option>
                                        <option value="TD">Chad</option>
                                        <option value="CL">Chile</option>
                                        <option value="CN">China</option>
                                        <option value="CX">Christmas Island</option>
                                        <option value="CC">Cocos (Keeling) Islands</option>
                                        <option value="CO">Colombia</option>
                                        <option value="KM">Comoros</option>
                                        <option value="CG">Congo</option>
                                        <option value="CD">Congo, The Democratic Republic of the</option>
                                        <option value="CK">Cook Islands</option>
                                        <option value="CR">Costa Rica</option>
                                        <option value="CI">Cote D'ivoire</option>
                                        <option value="HR">Croatia</option>
                                        <option value="CW">Curaçao</option>
                                        <option value="CY">Cyprus</option>
                                        <option value="CZ">Czech Republic</option>
                                        <option value="DK">Denmark</option>
                                        <option value="DJ">Djibouti</option>
                                        <option value="DM">Dominica</option>
                                        <option value="DO">Dominican Republic</option>
                                        <option value="EC">Ecuador</option>
                                        <option value="EG">Egypt</option>
                                        <option value="SV">El Salvador</option>
                                        <option value="GQ">Equatorial Guinea</option>
                                        <option value="ER">Eritrea</option>
                                        <option value="EE">Estonia</option>
                                        <option value="ET">Ethiopia</option>
                                        <option value="FK">Falkland Islands (Malvinas)</option>
                                        <option value="FO">Faroe Islands</option>
                                        <option value="FJ">Fiji</option>
                                        <option value="FI">Finland</option>
                                        <option value="FR">France</option>
                                        <option value="GF">French Guiana</option>
                                        <option value="PF">French Polynesia</option>
                                        <option value="TF">French Southern Territories</option>
                                        <option value="GA">Gabon</option>
                                        <option value="GM">Gambia, The</option>
                                        <option value="GE">Georgia</option>
                                        <option value="DE">Germany</option>
                                        <option value="GH">Ghana</option>
                                        <option value="GI">Gibraltar</option>
                                        <option value="GR">Greece</option>
                                        <option value="GL">Greenland</option>
                                        <option value="GD">Grenada</option>
                                        <option value="GP">Guadeloupe</option>
                                        <option value="GU">Guam</option>
                                        <option value="GT">Guatemala</option>
                                        <option value="GN">Guinea</option>
                                        <option value="GW">Guinea-Bissau</option>
                                        <option value="GY">Guyana</option>
                                        <option value="HT">Haiti</option>
                                        <option value="HM">Heard Island and the McDonald Islands</option>
                                        <option value="VA">Holy See</option>
                                        <option value="HN">Honduras</option>
                                        <option value="HK">Hong Kong</option>
                                        <option value="HU">Hungary</option>
                                        <option value="IS">Iceland</option>
                                        <option value="IN">India</option>
                                        <option value="ID">Indonesia</option>
                                        <option value="IE">Ireland</option>
                                        <option value="IL">Israel</option>
                                        <option value="IT">Italy</option>
                                        <option value="JM">Jamaica</option>
                                        <option value="JP">Japan</option>
                                        <option value="JO">Jordan</option>
                                        <option value="KZ">Kazakhstan</option>
                                        <option value="KE">Kenya</option>
                                        <option value="KI">Kiribati</option>
                                        <option value="KR">Korea, Republic of</option>
                                        <option value="XK">Kosovo</option>
                                        <option value="KW">Kuwait</option>
                                        <option value="KG">Kyrgyzstan</option>
                                        <option value="LA">Lao People's Democratic Republic</option>
                                        <option value="LV">Latvia</option>
                                        <option value="LB">Lebanon</option>
                                        <option value="LS">Lesotho</option>
                                        <option value="LR">Liberia</option>
                                        <option value="LY">Libya</option>
                                        <option value="LI">Liechtenstein</option>
                                        <option value="LT">Lithuania</option>
                                        <option value="LU">Luxembourg</option>
                                        <option value="MO">Macao</option>
                                        <option value="MK">Macedonia, The Former Yugoslav Republic of</option>
                                        <option value="MG">Madagascar</option>
                                        <option value="MW">Malawi</option>
                                        <option value="MY">Malaysia</option>
                                        <option value="MV">Maldives</option>
                                        <option value="ML">Mali</option>
                                        <option value="MT">Malta</option>
                                        <option value="MH">Marshall Islands</option>
                                        <option value="MQ">Martinique</option>
                                        <option value="MR">Mauritania</option>
                                        <option value="MU">Mauritius</option>
                                        <option value="YT">Mayotte</option>
                                        <option value="MX">Mexico</option>
                                        <option value="FM">Micronesia, Federated States of</option>
                                        <option value="MD">Moldova, Republic of</option>
                                        <option value="MC">Monaco</option>
                                        <option value="MN">Mongolia</option>
                                        <option value="ME">Montenegro</option>
                                        <option value="MS">Montserrat</option>
                                        <option value="MA">Morocco</option>
                                        <option value="MZ">Mozambique</option>
                                        <option value="NA">Namibia</option>
                                        <option value="NR">Nauru</option>
                                        <option value="NP">Nepal</option>
                                        <option value="NL">Netherlands</option>
                                        <option value="AN">Netherlands Antilles</option>
                                        <option value="NC">New Caledonia</option>
                                        <option value="NZ">New Zealand</option>
                                        <option value="NI">Nicaragua</option>
                                        <option value="NE">Niger</option>
                                        <option value="NG">Nigeria</option>
                                        <option value="NU">Niue</option>
                                        <option value="NF">Norfolk Island</option>
                                        <option value="MP">Northern Mariana Islands</option>
                                        <option value="NO">Norway</option>
                                        <option value="OM">Oman</option>
                                        <option value="PK">Pakistan</option>
                                        <option value="PW">Palau</option>
                                        <option value="PA">Panama</option>
                                        <option value="PG">Papua New Guinea</option>
                                        <option value="PY">Paraguay</option>
                                        <option value="PE">Peru</option>
                                        <option value="PH">Philippines</option>
                                        <option value="PN">Pitcairn</option>
                                        <option value="PL">Poland</option>
                                        <option value="PT">Portugal</option>
                                        <option value="PR">Puerto Rico</option>
                                        <option value="QA">Qatar</option>
                                        <option value="RE">Reunion</option>
                                        <option value="RO">Romania</option>
                                        <option value="RU">Russian Federation</option>
                                        <option value="RW">Rwanda</option>
                                        <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                                        <option value="KN">Saint Kitts and Nevis</option>
                                        <option value="LC">Saint Lucia</option>
                                        <option value="PM">Saint Pierre and Miquelon</option>
                                        <option value="VC">Saint Vincent and the Grenadines</option>
                                        <option value="WS">Samoa</option>
                                        <option value="SM">San Marino</option>
                                        <option value="ST">Sao Tome and Principe</option>
                                        <option value="SA">Saudi Arabia</option>
                                        <option value="SN">Senegal</option>
                                        <option value="RS">Serbia</option>
                                        <option value="SC">Seychelles</option>
                                        <option value="SL">Sierra Leone</option>
                                        <option value="SG">Singapore</option>
                                        <option value="SX">Sint Maarten</option>
                                        <option value="SK">Slovakia</option>
                                        <option value="SI">Slovenia</option>
                                        <option value="SB">Solomon Islands</option>
                                        <option value="SO">Somalia</option>
                                        <option value="ZA">South Africa</option>
                                        <option value="GS">South Georgia and the South Sandwich Islands</option>
                                        <option value="ES">Spain</option>
                                        <option value="LK">Sri Lanka</option>
                                        <option value="SR">Suriname</option>
                                        <option value="SJ">Svalbard and Jan Mayen</option>
                                        <option value="SZ">Swaziland</option>
                                        <option value="SE">Sweden</option>
                                        <option value="CH">Switzerland</option>
                                        <option value="TW">Taiwan</option>
                                        <option value="TJ">Tajikistan</option>
                                        <option value="TZ">Tanzania, United Republic of</option>
                                        <option value="TH">Thailand</option>
                                        <option value="TL">Timor-leste</option>
                                        <option value="TG">Togo</option>
                                        <option value="TK">Tokelau</option>
                                        <option value="TO">Tonga</option>
                                        <option value="TT">Trinidad and Tobago</option>
                                        <option value="TN">Tunisia</option>
                                        <option value="TR">Turkey</option>
                                        <option value="TM">Turkmenistan</option>
                                        <option value="TC">Turks and Caicos Islands</option>
                                        <option value="TV">Tuvalu</option>
                                        <option value="UG">Uganda</option>
                                        <option value="UA">Ukraine</option>
                                        <option value="AE">United Arab Emirates</option>
                                        <option value="GB">United Kingdom</option>
                                        <option value="US">United States</option>
                                        <option value="UM">United States Minor Outlying Islands</option>
                                        <option value="UY">Uruguay</option>
                                        <option value="UZ">Uzbekistan</option>
                                        <option value="VU">Vanuatu</option>
                                        <option value="VE">Venezuela</option>
                                        <option value="VN">Vietnam</option>
                                        <option value="VG">Virgin Islands, British</option>
                                        <option value="VI">Virgin Islands, U.S.</option>
                                        <option value="WF">Wallis and Futuna</option>
                                        <option value="EH">Western Sahara</option>
                                        <option value="YE">Yemen</option>
                                        <option value="ZM">Zambia</option>
                                        <option value="ZW">Zimbabwe</option>
                                    </select>
                                </div>
                                <div class="large-4 small-12 columns">
                                    <label>Ciudad</label>
                                    <input type="text" id="city" value="" />
                                    @*<select name="" class="select_2">
                                        <option>Bogotá</option>
                                    </select>*@
                                </div>
                                <div class="large-4 small-12 columns">
                                    <label>Cod. Postal</label>
                                    <input type="text" id="postalCode" value="00000" placeholder="Opcional" />
                                </div>
                            </div>
                            @*<div class="large-12 small-12 columns margin_top">
                                <div class="large-5 small-12 columns large-centered">
                                    <a href="#" class="bot_guardar cancelar">CANCELAR</a>
                                    <a href="#" class="bot_guardar margin_left guardar">GUARDAR</a>
                                </div>
                            </div>*@
                        </div>
                        <div class="small-12 columns bg-azul7" style="padding:0 !important">
                            <div class="large-2 small-12 columns select_1">
                                <span class="text_cuota">Cuotas ( Seleccione el número de cuotas a cargar en su tarjeta )</span>
                                <input type="text" id="installements" value="" />
                                @*<select name="" class="large-2 small-12 columns select_1">
                <option>6</option>
            </select>*@
                            </div>
                            <div class="large-6 small-12 columns padding">
                                <div class="large-7 small-12 columns">
                                    <span class="txt_valor">VALOR TOTAL </span>
                                    <span class="txt_cargo">EL CUAL SERÁ CARGADO A SU TARJETA DE CRÉDITO</span>
                                </div>
                                <div class="large-5 small-12 columns">
                                    <span class="txt_precio">$185.000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </dd>
                <dd class="accordion-navigation">
                    <div class="accordion_item">
                        <a href="#panel2b" class="flecha_accordion"></a>
                        <input type="radio" name="radiog_dark" id="radio5" class="css-checkbox " />
                        <label for="radio5" class="css-label radGroup3">Débito PSE <a href="#">(Abre el proceso de PAYU)<img src="/Content/img/ver_mas.png" alt="" /></a></label>
                    </div>

                    </a>
                    <div id="panel2b" class="content" style="padding:0 !important">
                        <div class="small-11 columns margin_top small-centered" style="padding:0 !important">
                            <div class="large-4 small-12 columns">
                                <label>Tipo de cliente *</label>
                                <select id="tipoPersona">
                                    <option value="-1">Seleccione</option>
                                    <option value="N" selected="selected">Natural</option>
                                    <option value="J">Juridica</option>
                                </select>
                            </div>
                            <div class="large-4 small-12 columns">
                                <label>Banco *</label>
                                <select id="listaBancos">
                                    @foreach (Bank banco in @ViewBag.listaBancos)
                                    {
                                        if (banco.description == "Banco Union Colombiano")
                                        {
                                            <option value="@banco.pseCode" selected="selected">@banco.description</option>
                                        }
                                        else
                                        {
                                            <option value="@banco.pseCode">@banco.description</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="large-3 small-12 columns">
                                <label>Nombre *</label>
                                <input name="" type="text" placeholder="Como aparece en la tarjeta">
                            </div>
                            <div class="large-1 small-12 columns">
                                <img src="/Content/img/logo_pse.png" alt="" />
                            </div>

                            <div class="small-12 columns">
                                <div class="large-3 small-12 columns">
                                    <label>Tipo de doc. de identificación *</label>
                                    <select id="tipoDocumento">
                                        @foreach (KeyValuePair<string, string> doc in @baseController.isoDOcumentos())
                                        {
                                            <option value="@doc.Key">@doc.Value</option>
                                        }
                                    </select>
                                </div>
                                <div class="large-3 small-12 columns">
                                    <label>No. Doc. de identificación</label>
                                    <input type="text" id="numeroDocumento" value="" placeholder="Ingrese número de ID" />
                                </div>
                                <div class="large-3 small-12 columns">
                                    <label>Nombres y apellidos</label>
                                    <input type="text" id="nomrbesYApellidos" value="" placeholder="Ingrese nombre y apellidos" />
                                </div>
                                <div class="large-3 small-12 columns">
                                    <label>Teléfono</label>
                                    <input type="text" id="telefonoDiurno" value="" placeholder="Ingrese número de telefono" />
                                </div>
                                <div class="large-3 small-12 columns">
                                    <label>Correo electrónico</label>
                                    <input type="text" id="Email" value="" placeholder="Ingrese correo electrónico" />
                                </div>
                                <div class="large-3 small-12 columns">
                                    <label>Valor</label>
                                    <input type="text" id="valor" value="@ViewBag.valueToPay" />
                                </div>
                                <div class="large-3 small-12 columns">
                                    <label>Referencia</label>
                                    <input type="text" id="Referencia" value="@ViewBag.reference" />
                                </div>
                            </div>
                        </div>
                        <div class="small-12 columns bg-azul7" style="padding:0 !important">
                            <div class="large-6 small-12 columns padding right">
                                <div class="large-7 small-12 columns">
                                    <span class="txt_valor">VALOR TOTAL </span>
                                    <span class="txt_cargo">EL CUAL SERÁ COBRADO</span>
                                </div>
                                <div class="large-5 small-12 columns">
                                    <span class="txt_precio">$185.000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </dd>
                <dd class="accordion-navigation">
                    <div class="accordion_item">
                        <a href="#panel3b" class="flecha_accordion"></a>
                        <input type="radio" name="radiog_dark" id="radio6" class="css-checkbox " />
                        <label for="radio6" class="css-label radGroup3">Efectivo<a href="#"> ( Pago en puntos Efecty  ó VIA Baloto )<img src="/Content/img/ver_mas.png" alt="" /></a></label>
                    </div>
                    <div id="panel3b" class="content">
                        <div class="large-12 medium-12 small-12 columns">
                            Seleccione el método que prefiere para pagar en efectivo
                        </div>
                        <div class="large-12 medium-12 small-12 columns margin_top">
                            <div class="small-4 columns">
                                <input type="radio" name="radiog_dark" id="radioEfecty" class="css-checkbox " />
                                <label for="radio7" class="css-label radGroup2">  </label> <img src="/Content/img/logo_efecty.png" alt="" />
                            </div>
                            <div class="small-4 columns">
                                <input type="radio" name="radiog_dark" id="radioBaloto" class="css-checkbox" />
                                <label for="radio8" class="css-label radGroup2"> </label> <img src="/Content/img/logo_baloto.png" alt="" />
                            </div>
                            <div class="small-4 columns">
                                <input type="radio" name="radiog_dark" id="radioBanco" class="css-checkbox" />
                                <label for="radio9" class="css-label radGroup2">   </label> <img src="/Content/img/banco-de-bogota.png" alt="" />
                            </div>
                        </div>
                    </div>
                </dd>
            </dl>
            <div class="small-12 columns bg-azul9" style="border-top: solid 1px #045394;">
                <div class="small-9 columns small-centered">
                    <div class="small-7 columns" style="padding-top:5px;">
                        <input type="checkbox" name="radiog_dark" id="radio11" class="css-checkbox" />
                        <label for="radio11" class="css-label radGroup4" style="padding-top:3px;">ACEPTACIÓN DE CONTRATO DE TRANSPORTE</label>

                    </div>
                    <div class="small-5 columns">
                        <a href="#" class="contrato_trans">Ver contrato de transporte</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <input type="button" id="pay" class="large-5 medium-12 small-12 large-centered columns bot_naranja margin-top" value="COMPLETAR LA COMPRA" />
            @*<a href="#" class="large-5 medium-12 small-12 large-centered columns bot_naranja margin-top">COMPLETAR LA COMPRA</a>*@
        </div>
    </div>
</div> 
<div>

    <table>
        <tr>
            <td><a href="/payment/debit" target="_blank">Debito</a></td>
        </tr>
        <tr>
            <td><a href="/payment/Credit" target="_blank">Crédito</a></td>
        </tr>
        <tr>
            <td><a href="/payment/Tokenization">Tokenizado</a></td>
        </tr>
        <tr>
            <td><a href="/payment/cash">Efectivo</a></td>
        </tr>
    </table>

</div>
<script>
    $(document).foundation();
</script>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#pay").click(function () {;
                if ($("#panel1b").show() == true)
                { transactionPaymentCredit(); };
                if ($("#panel2b").show() == true)
                { transactionPaymentDebit(); };
                if ($("#panel3b").show() == true)
                { transactionPaymentCash(); };
            });
        });

        function transactionPaymentCredit() {

            $.blockUI({
                message: $('#domMessage'),
                css: { backgroundColor: 'transparent', color: '#fff', border: "none" }
            });

            log('creating post object');

            var postObject = {

                "deviceSessionId": "@ViewBag.deviceSessionId",
                "paymentMethod": $("#paymentMethod option:selected").val(),
                "personType": $("#tipoPersona option:selected").val(),
                "documentType": $("#tipoDocumento option:selected").val(),
                "documentNumber": $("#numeroDocumento").val(),
                "fullName": $("#nomrbesYApellidos").val(),
                "reference": $("#Referencia").val(),
                "value": $("#valor").val(),
                "phone": $("#telefonoDiurno").val(),
                "email": $("#Email").val(),
                //  BUYER ADDRESS
                "street": $("#direccion").val(),
                "city": $("#city").val(),
                "state": $("#state").val(),
                "country": $("#country").val(),
                "postalCode": $("#postalCode").val(),
                // CREDIT CARD
                "cardNumber": $("#cardNumber").val(),
                "securityCode": $("#securityCode").val(),
                "expirationMonth": $("#expirationMonth").val(),
                "expirationYear": $("#expirationYear").val(),
                "installements": $("#installements").val(),
                "nameOnCard": $("#nameOnCard").val()
            };

            var urlPayment = "/payment/creditCardPayment";

            // SENDS DATA
            $.ajax({
                url: urlPayment,
                data: { postObject: JSON.stringify(postObject) },
                traditional: true,
                success: okTransactionPostedCredit
            })
                .fail(function (data, textStatus, jqXHR) {
                    $.unblockUI();
                    errorObject = JSON.parse(data.responseText);
                    log("error:" + errorObject.Message);
                })

            log('payment request sent');
        }
        function okTransactionPostedCredit(data, textStatus, jqXHR) {

            var handle = "";
            log('okTransactionPosted');
            log('data.OK:' + data.OK);
            log('data.data:' + data.data);

            var rows = [];

            responseObject = JSON.parse(data.data);

            log("State =" + responseObject.state);
            log("responseCode =" + responseObject.responseCode);
            log("trazabilityCode =" + responseObject.trazabilityCode);
            log("orderId =" + responseObject.orderId);
            log("transactionId =" + responseObject.transactionId);
            log("paymentNetworkResponseCode =" + responseObject.paymentNetworkResponseCode);

            $.unblockUI();
        }
        function transactionPaymentDebit() {

            $.blockUI({
                message: $('#domMessage'),
                css: { backgroundColor: 'transparent', color: '#fff', border: "none" }
            });

            log('creating post object');

            var postObject = {
                "bank": $("#listaBancos option:selected").val(),
                "personType": $("#tipoPersona option:selected").val(),
                "documentType": $("#tipoDocumento option:selected").val(),
                "documentNumber": $("#numeroDocumento").val(),
                "fullName": $("#nomrbesYApellidos").val(),
                "reference": $("#Referencia").val(),
                "value": $("#valor").val(),
                "phone": $("#telefonoDiurno").val(),
                "email": $("#Email").val()
            };

            var urlPayment = "/payment/debitPayment";

            // SENDS DATA
            $.ajax({
                url: urlPayment,
                data: { postObject: JSON.stringify(postObject) },
                traditional: true,
                success: okTransactionPostedDebit
            })
                .fail(function (data, textStatus, jqXHR) {
                    $.unblockUI();
                    errorObject = JSON.parse(data.responseText);
                    log("error:" + errorObject.Message);
                })

            log('payment request sent');
        }
        function okTransactionPostedDebit(data, textStatus, jqXHR) {
            var handle = "";
            log('okTransactionPosted');
            log('data.OK:' + data.OK);
            log('data.data:' + data.data);

            var rows = [];

            responseObject = JSON.parse(data.data);

            if ((responseObject.state == "PENDING") &&
                (responseObject.responseCode == "PENDING_AWAITING_PSE_CONFIRMATION")) {
                $.unblockUI();
                handle = window.location.replace(responseObject.extraParameters.BANK_URL, "Payment", "width=600,height=600,scrollbars=yes");
            }
            else {
                log("State =" + responseObject.state);
                log("responseCode =" + responseObject.responseCode);
            }

            log('payment form shown');

            $.unblockUI();
        }
        function transactionPaymentCash() {
            var method = "";
            $.blockUI({
                message: $('#domMessage'),
                css: { backgroundColor: 'transparent', color: '#fff' }
            });

            log('creating post object');
            if ($("#radioEfecty").is(':checked')) {
                method = "EFECTY";
            }
            if ($("#radioBaloto").is(':checked')) {
                method = "BALOTO";
            }
            var postObject = {
                "reference": $("#Referencia").val(),
                "value": $("#valor").val(),
                "cashMethod" : method,
            };

            var urlPayment = "/payment/cashPayment";

            // SENDS DATA
            $.ajax({
                url: urlPayment,
                data: { postObject: JSON.stringify(postObject) },
                traditional: true,
                success: okTransactionPosted
            })
                .fail(function (data, textStatus, jqXHR) {
                    $.unblockUI();
                    errorObject = JSON.parse(data.responseText);
                    log("error:" + errorObject.Message);
                })

            log('payment request sent');
        }
        function okTransactionPostedCash(data, textStatus, jqXHR) {
            var handle = "";
            log('okTransactionPosted');
            log('data.OK:' + data.OK);
            log('data.data:' + data.data);

            var rows = [];

            responseObject = JSON.parse(data.data);

            log("State =" + responseObject.state);
            log("responseCode =" + responseObject.responseCode);
            log("trazabilityCode =" + responseObject.trazabilityCode);
            log("orderId =" + responseObject.orderId);
            log("transactionId =" + responseObject.transactionId);
            log("paymentNetworkResponseCode =" + responseObject.paymentNetworkResponseCode);

            $.unblockUI();
        }
    </script>
}




