﻿@using AWESMVCCommon.Security;
@{
    byte[] itemLogoArray = ViewBag.itemLogoArray;
    AWESCommon.bannerSupport.POCOBannerEntry itemLogoInfo = ViewBag.itemLogoInfo;
}
<!DOCTYPE html>
<html>
<head lang="@ViewBag.acceptLang">
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html" />
    <meta name="description" content="@ViewBag.descSEO">
    <meta name="keywords" content="@ViewBag.keySEO">
    <title>@ViewBag.title</title>

    <link href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATPbAgVs6hrUkH4r-MdIXjikTzm9tOGJ8&sensor=true&callback=initialize"></script>

        @*@Styles.Render("~/Content/css/foundation.min.css")
    @Styles.Render("~/Content/css/styles.css")
    @Styles.Render("~/Content/css/calendar.css")
    @Styles.Render("~/Content/css/foundation.css")
    @Styles.Render("~/Content/css/font-awesome.css")*@

        @Styles.Render("~/bundles/themes", "~/bundles/themes/site")

        @Styles.Render("~/Content/css/icons/foundation-icons.css")
        @*SITE SCRIPTS - AWES -  DO NOT DELETE/COMMENT*@
        @*@Styles.Render("~/Content/css/siteStyles.css")*@

        @*@Scripts.Render("~/Content/js/jQuery/jquery-1.9.1.js")
    @Scripts.Render("~/Content/js/jQuery/jquery1.11.4-ui.min.js")*@
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/vendor")
    @*@Scripts.Render("~/Content/js/vendor/foundation.min.js")*@


    <!-- start Mixpanel -->
    <script type="text/javascript">
        (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
            for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
        mixpanel.init("f4ed6edced505604e85706033f594407");
    </script>
    <!-- end Mixpanel -->


        </head>
        <body>
            <header>
                @{
                if (ViewBag.hasOtherError != null) { 
                    if (ViewBag.hasOtherError)
                    {
                        <input type="hidden" id="@ViewBag.otherError" message="@ViewBag.otherErrorMessage" />
                    }
                    if (ViewBag.url == "/payment" || ViewBag.url == "error")
                    {
                        <input type="hidden" id="cannotUseBack" value="@ViewBag.url" />
                    }
                }
                }

                @*<div class="divPagina" style="background-color:#2A2A2A; height:25px; text-align:center;"><a class="mensajePagina" href="http://www.easyfly.com.co/"><strong>¿Quieres volar de regreso a la página antigua? Haz click aquí.</strong></a></div>*@
                <div class="divPagina" style="background-color:#2A2A2A; height:25px; text-align:center;"><a class="mensajePagina" href="javascript:goToOldPage()"><strong>¿Quieres volar de regreso a la página antigua? Haz click aquí.</strong></a></div>
                <div id="logoLayout" class="row header" style="min-height: 25px; padding-top: 11px; background-repeat:no-repeat; background:url('data:image;base64,@System.Convert.ToBase64String(itemLogoArray)')" title="@itemLogoInfo.title" @*onclick="backToHome()"*@>
                    <div tabindex="1" style="margin-top:-20px; width:327px; height:65px; max-width:327px; max-height:65px; display: inline; position:absolute" onclick="backToHome()"></div>
                    <div class="large-8 medium-12 small-12 columns right">
                        <form action="get" method="get">

                            @if (userAdministrator.instance.user.isAuthenticated)
                            {
                                <div class="large-4 medium-1 small-1 columns right">
                                    <a href="#" class="bot_perfil margin_left"><img src="/Content/img/ico_perfil.png" alt="" /> </a>
                                    <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="dropdown_perfil perfil1">@userAdministrator.instance.user.name @userAdministrator.instance.user.lastName</button>
                                    <ul id="drop1" data-dropdown-content class="profileOptions f-dropdown f-open-dropdown_perfil" aria-hidden="false" tabindex="5">
                                        @*<li><a href="#">Estado de cuenta</a></li>*@
                                        <li><a id="statePNR">Estado de mi reserva</a></li>
                                        @*<li><a href="#">Mi familia y amigos</a></li>*@
                                        <li><a href="/profile/Index">Ver y editar mi perfil</a></li>
                                    </ul>
                                </div>

                                <div class="large-3 medium-5 small-5 left margin_left right" style="display:none;">
                                    <div class="small-6 left left puntos_txt">
                                        PESOS EASYFLYER
                                    </div>
                                    <div class="small-6 left right " id="divAccumulation" tabindex="4">
                                        @*<input name="" type="text" class="puntos_ef" value="0">*@
                                    </div>
                                </div>
                            }
                            else
                            {
                                using (Html.BeginForm("logInHome", "access", FormMethod.Post,

                                new { @action = Url.Action("logInHome", "access", ViewContext.RouteData.Values, "https") }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="large-1 medium-1 small-1 left margin_left right" id="divLogIn" tabindex="6">
                                        <input name="" type="button" class="bot-ir" value=" "><span class="ir">IR</span>
                                    </div>
                                    <div class="large-3 medium-5 small-5 left margin_left right">
                                        <input name="" type="password" class="clave" id="passwordHome" tabindex="5">
                                        @*@Html.PasswordFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })*@
                                    </div>
                                    <div class="large-3 medium-5 small-5 left margin_left right">
                                        <input name="" type="text" class="usuario" id="emailHome" tabindex="4">
                                        @*@Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", onkeyup = "emailValidation(this.value)" } })
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })*@
                                    </div>
                                }
                            }

                            <div class="large-2 medium-6 small-6 right">
                                <input id="telphone" name="" type="text" class="telefonos" value="" tabindex="3">
                            </div>
                            <div class="large-2  small-6 right">
                                <select id="citiesContact" name="" class="telefonos1" tabindex="2"></select>
                            </div>
                        </form>
                        @if (!userAdministrator.instance.user.isAuthenticated)
                        {
                            <a href="/access/passwordRecovery" class="olvido_cont">¿OLVIDO SU CONTRASEÑA?</a>
                        }
                    </div>
                </div>
            </header>
            <input type="hidden" id="SelectedDepartureDate" />
            <input type="hidden" id="SelectedReturnDate" />
            <input type="hidden" id="fechaSalidaHidden">
            <input type="hidden" id="fechaRegresoHidden">
            <a href="#" id="modalToTest" style="display:none" data-reveal-id="revealToTest"></a>
            <div id="revealToTest" class="reveal-modal modal1 modal4" data-reveal>
                <p id="errorMessageGlobal"></p>
                <a class="close-reveal-modal"></a>
            </div>
            <div id="modal3" class="reveal-modal modal1 modal4" data-reveal>
                <h2>Registrese como EasyFlyer</h2>
                <h4>Ingrese sus datos para registrarse a EasyFlyer</h4>
                <span>Utilice un e/mail y clave fácil de recordar</span>
                <div class="modal_inner bg_azul3">
                    <div class="small-6 columns">
                        <label>E-MAIL</label>
                        <input name="" type="text" placeholder="ESCRIBA SU E-MAIL" id="emailRegister">
                        @*@Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", onkeyup = "emailValidation(this.value)" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })*@
                        <label>CLAVE</label>
                        <input name="" type="password" id="passRegister">
                        @*@Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })*@
                        <label>NOMBRE</label>
                        <input name="" type="text" placeholder="ESCRIBA SU NOMBRE" id="nameRegister">
                        @*Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })*@
                        <label>DOCUMETO</label>
                        <input name="" type="text" placeholder="NÚEMRO DE DOCUMENTO" id="documentRegister">
                        @*@Html.EditorFor(model => model.documentNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.documentNumber, "", new { @class = "text-danger" })*@
                    </div>
                    <div class="small-6 columns">
                        <label>CONFIRMAR SU E-MAIL</label>
                        <input name="" type="text" placeholder="CONFIRME SU E-MAIL" id="emailRegisterConfirm">
                        @*@Html.EditorFor(model => model.emailConfirmation, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.emailConfirmation, "", new { @class = "text-danger" })*@
                        <label>CONFIRMAR SU CLAVE</label>
                        <input name="" type="password" id="passRegisterConfirm">
                        @*@Html.EditorFor(model => model.passwordConfirmation, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.passwordConfirmation, "", new { @class = "text-danger" })*@
                        <label>APELLIDO</label>
                        <input name="" type="text" placeholder="ESCRIBA SU APELLIDO" id="lastNameRegister">
                        @*@Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="small-12 columns">
                    <input type="submit" value="ENVIAR" class="bot_buscar" id="btnRegister" />
                    @*<a href="" class="bot_buscar">ENVIAR</a>*@
                </div>
                <a class="close-reveal-modal"></a>
                <br />
                <div id="divResponseRegister"></div>
            </div>
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="large-2 columns columnas">
                                <h3>Cliente corporativo</h3>
                                <a href="http://corporativo.easyfly.com.co" target="_blank">Ir a página corporativa</a>


                                @if (userAdministrator.instance.user.isAuthenticated)
                        {
                            <h3 style="margin-top:10px">Mi perfil</h3>
                            <a href="/Profile/">Perfil</a>
                            <a href="/tokenization/">Medios de pago</a>
                            if (userAdministrator.instance.user.network != null)
                            {
                                string network = userAdministrator.instance.user.network;

                                if (!string.IsNullOrEmpty(network) && (network == "local"))
                                {
                                    <a href="/access/passwordChange">Cambio de contraseña</a>
                                }
                            }
                            <a href="/access/logOut">Salir</a>
                        }
                        else
                        {
                            <h3 style="margin-top:10px">Acceso</h3>
                            <a href="/access/gmailAccess">Login gmail</a>
                            <a href="/access/login">Login local</a>
                            <a href="/access/signIn" data-reveal-id="modal3">Registro</a>
                            <a href="/access/passwordRecovery">Recuperar contraseña</a>
                        }
                            </div>
                            <div class="large-2 columns columnas">
                                <h3>Gestionar reserva</h3>
                                <a data-reveal-id="modal2">Reenvío E-ticket</a>
                                <a data-reveal-id="modal1">Retoma de compra</a>
                                <a id="statePNR">Estado de la reserva</a>
                            </div>
                            <div class="large-2 columns columnas">
                                <h3>Destinos</h3>
                                <a href="/vuelos">Rutas</a>
                                <a id="cityFooter" href="/vuelos/tiquetes/vuelos-desde-apartado">Ciudades</a>
                                <a href="/promociones/ofertas">Promociones</a>
                                @*<h3 style="margin-top:10px">Sobre Easyfly</h3>
                        <a href="/Content/Empresa">Empresa</a>
                        <a href="/Content/Empleo">Empleo</a>
                        <a href="/Content/AcercaDe">Sobre nosotros</a>*@
                            </div>
                            <div class="large-2 columns columnas">
                                <h3>Buscar</h3>
                                <a href="/contacto" target="_blank">FAQ</a>
                                @*<a href="#">Política de privacidad</a>*@
                                <a href="/terminos-de-uso" target="_blank">@AWESAirline.Controllers.baseController.getStringResource("termOfUseFooter", "Términos de uso", Request.Url.ToString(), Request.UserLanguages, true, true)</a>
                                @*<a href="#">Mapa del sitio</a>*@
                                <a href="/contacto" target="_blank">@AWESAirline.Controllers.baseController.getStringResource("contactFooter", "Contacto", Request.Url.ToString(), Request.UserLanguages, true, true)</a>
                                <a href="/contrato-de-transporte" target="_blank">Contrato de transporte</a>
                            </div>
                            <div class="large-4 columns">
                                <h3>
                                    Regístrese para recibir información
        sobre las mejores tarifas
    </h3>
    <form>
        <div class="row">
            <div class="large-12 columns">
                <div class="row collapse">
                    <div class="small-9 columns">
                        <input type="text" id="emailToRegister" placeholder="Correo electrónico">
                    </div>
                    <div class="small-3 columns">
                        <a id="inscriptionLayout" class="button postfix">OK</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div id="giveOpinion" class="opinion">¡Denos su opinión!</div>
    <h3>
        Encuéntrenos, síganos, descargue
        nuestra aplicación
    </h3>

    <a href="http://www.facebook.com/pages/EASYFLY/171074545562" target="_blank" class="social tw"></a>
    <a href="https://twitter.com/EASYFLY_" target="_blank" class="social in"></a>
    @*<a href="#" target="_blank" class="social yt"></a>*@
    @*<a href="#" target="_blank" class="social ap"></a>*@
    @*<a href="#" target="_blank" class="social and"></a>*@
</div>

<div class="large-12 columns">
    <p id="telephonesFooter" class="telefonos">
        @*<span>• Bogotá   4148111</span>*@
        @*<span>•  Medellín   6041290   </span>
                                <span>•  Bucaramanga    6970333   </span>
                                <span>•  Barranquilla    3850676   </span>
                                <span>•  Cúcuta   5955005   </span>
                                <span>•  Cartagena    6930400</span>
                                <span>•  Montería    7898915   </span>
                                <span>•  Neiva    8630101   </span>
                                <span>•  Pereira    3400909   </span>
                                <span>•  Yopal   6334033   </span>
                                <span>•  Arauca    018000123279   </span>
                                <span>•  Valledupar   5894010 </span>
                                <span>•  Apartadó 018000123279   </span>
                                <span>•  Barrancabermeja   018000123279   </span>
                                <span>•  Quibdo 018000123279</span>*@

        <span style="margin-top:16px">@AWESAirline.Controllers.baseController.getStringResource("CallCenterScheduleFooter", "Horario Call Center: Lunes a viernes de 05:00AM a 09:00 PM - Sábado, domingo y feriados de 06:00AM a 08:00 PM", Request.Url.ToString(), Request.UserLanguages, true, true)</span>
    </p>
</div>
</div>
</div>
</footer>
</div>
<div class="large-12 small-12 columns footer_bottom">
    <div class="row">
        <span><strong>2015</strong> © <strong>EASYFLY S.A.</strong> Todos los derechos reservados.</span>
        <span style=" float:right">@AWESAirline.Controllers.baseController.getStringResource("rightsFooter", "Easyfly, hace fácil volar", Request.Url.ToString(), Request.UserLanguages, true, true)</span>
    </div>
</div>
<div id="domMessage" style="display:none; ">
    <img src="/Content/img/plane_loading.gif" style="width:6vw;" />
</div>

@*SCRIPT VARIABLES INITIALIZATION*@
<script>
    var  recordLog = @ViewBag.jscriptLogEnabled;
        $(document).foundation();
    </script>

    @*@Scripts.Render("~/Content/js/siteScripts/layout.js")
    @Scripts.Render("~/Content/js/siteScripts/functions.js")*@
    @Scripts.Render("~/bundles/siteScripts/all")
    @*@Scripts.Render("~/Content/js/vendor/sprintf.min.js")
    @Scripts.Render("~/Content/js/vendor/modernizr.js")
    @Scripts.Render("~/Content/js/vendor/enscroll-0.js")*@
    @Scripts.Render("~/bundles/vendor/all")
    @*@Scripts.Render("~/Content/js/jquery-ui-1.10.3.custom.min.js")*@
    @*@Scripts.Render("~/Content/js/jQuery/jquery.blockUI.js")*@
    @Scripts.Render("~/bundles/jquery/all")
    @*IN PAGE SCRIPTS*@
    @RenderSection("Scripts", false)
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-69881825-1', 'auto');
    ga('send', 'pageview');

    </script>
            
</body>
</html>
