﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string terms = ViewBag.terms;
}

<div class="row margin_top">
    <h2>Condiciones de Uso</h2>
    <div class="large-12 medium-12 small-12 columns bg-azul ">

        <div tabindex="0" style="padding-right: 20px; outline: medium none; overflow: hidden; width:100% !important" class="scrollbox">
            <div class="content">
                <div id="terms" class="columnas">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-4 medium-4 small-12 columns margin_top">
        <div class="call_center">
            <h3>Call Center</h3>
            <span class="span1">Llámenos vía telefónica en:</span>
            <div class="large-12 columns margin_top">
                <div class="large-7 columns small-centered">
                    <div class="large-6 medium-6 small-6 right">
                        <input id="telphonePage" name="" type="text" class="telefonos" value="414  8111">
                    </div>
                    <div class="large-6 small-6 right">
                        <select id="citiesPage" name="" class="telefonos1">
                        </select>
                    </div>
                </div>
            </div>
            <p>
                <strong>Horario de Atención Call Center:</strong><br>
                Lunes a viernes de 05:00AM a 09:00PM <br>
                Sábado, domingo y feriados06:00AM a 08:00PM
            </p>
        </div>
    </div>
    <div class="large-4 medium-4 small-12 columns margin_top">
        <div class="whatsapp">
            <h3>Whatsapp</h3>
            <span class="span1">Escríbanos por WhatsApp al</span>
            <span class="span2">(316) 456 4566</span>
            <p>
                Horario de atención del servicio Whatsapp:<br>
                Lunes a viernes 08:00AM - 05:00PM <br>
                Sábado 08:00AM - 04:00PM
            </p>
        </div>
    </div>
    <div class="large-4 medium-4 small-12 columns margin_top">
        <div class="email">
            <h3>E-mail</h3>
            <span class="span1">Escribenos por correo electrónico al</span>
            <span class="span2">mediosdigitales@easyfly.com.co </span>
            <p>
                Si desea hacer una consulta o sugerencia <br>
                sobre el sitio web www.easyfly.com.co,<br>
                aplicación móvil o Call Center.
            </p>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        chargeTerms();
        $('.scrollbox').enscroll();
    })
    function chargeTerms() {
        //$.blockUI();
        $.getJSON("/termOfUse/getTerms", null, function (data, textStatus, jqXHR) {
            var loadedData = JSON.parse(data.data);
            $.each(loadedData, function (key,value) {
                $("#terms").html(value);
            })
            $.unblockUI();
        }).fail(function (jqXHR, textStatus, data) {
            $.unblockUI();
            mixpanel.track("Error", { "Number": "10001", "Page": "termUse", "url": "/termOfUse/getTerms", "Details": "no se pudo traer contenido de terminos" });
            errorObject = JSON.parse(jqXHR.responseText);
            log("processPurchase::error:" + errorObject.data);
        });
    }
</script>
