﻿@using AWESAirline.Models
@using AWESAirline.Controllers
@{
    ViewBag.Title = "cash";
}

<h2>@string.Format("cash pago de {0:c}", ViewBag.valueToPay)</h2>

<table>
    <tr>
        <td>Valor</td>
        <td><input type="text" id="valor" value="@ViewBag.valueToPay" /></td>
    </tr>
    <tr>
        <td>Referencia</td>
        <td><input type="text" id="Referencia" value="ABCFRD20150429" /></td>
    </tr>

    <tr>
        <td colspan="2"><input type="button" id="pagar" value="pagar" /></td>
    </tr>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {

            $("#pagar").click(transactionPayment);
        });

        function transactionPayment() {

            $.blockUI({
                message: $('#domMessage'),
                css: { backgroundColor: 'transparent', color: '#fff' }
            } );

            log('creating post object');

            var postObject = {
                "reference": $("#Referencia").val(),
                "value": $("#valor").val(),
            };

            var urlPayment = "/payment/cashPayment";

            // SENDS DATA
            $.ajax({
                url: urlPayment,
                data: { postObject: JSON.stringify(postObject) },
                traditional: true,
                success: okTransactionPosted
            })
                .fail(function (data, textStatus, jqXHR) {
                    $.unblockUI();
                    errorObject = JSON.parse(data.responseText);
                    log("error:" + errorObject.Message);
                })

            log('payment request sent');
        }
        function okTransactionPosted(data, textStatus, jqXHR) {
            var handle = "";
            log('okTransactionPosted');
            log('data.OK:' + data.OK);
            log('data.data:' + data.data);

            var rows = [];

            responseObject = JSON.parse(data.data);

            log("State =" + responseObject.state);
            log("responseCode =" + responseObject.responseCode);
            log("trazabilityCode =" + responseObject.trazabilityCode);
            log("orderId =" + responseObject.orderId);
            log("transactionId =" + responseObject.transactionId);
            log("paymentNetworkResponseCode =" + responseObject.paymentNetworkResponseCode);

            $.unblockUI();
        }

    </script>
}