﻿
<div class="row margin_top">
    <div class="large-7 columns">
        <h2>Confirmación de pago</h2>
    </div>
    <div class="large-5 columns">
        <div class="row">
            <div class="pasos">
                <div class="paso1">
                    <span class="numero active">3</span>
                    <span class="pasos_tit">Pago</span>
                </div>
                <div class="paso1">
                    <span class="numero selected">2</span>
                    <span class="pasos_tit">Pasajeros</span>
                </div>
                <div class="paso1">
                    <span class="numero selected">1</span>
                    <span class="pasos_tit">Vuelos</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="divConfirmationPSE">
    <div class="large-7 medium-12 small-12 left">
        <div class="large-12 medium-12 small-12 columns aprobacion">
            @if (ViewBag.state != "PENDING")
            {
                @:Transacción rechazada
                }
            else
            {
                @:Transacción pendiente
                }

        </div>
        <div class="large-12 medium-12 small-12 columns referencia">
            ID: @ViewBag.ID
            <a href="#" class="margin_right"><img src="/Content/img/ico_info2.png" alt="" /></a>
        </div>
    </div>
    <div class="large-5 medium-6 small-7 columns">
        <div class="info_easyflyer">
            <h5>Resumen de la compra </h5>
        </div>
        <div class="small-12 columns bg-azul12">
            <div class="small-6 columns columna1">
                <span class="txt_azul2">Referencia: @ViewBag.Code</span>
                @*<span class="txt_azul2">Total compra</span>
                    <span class="txt_azul2">Tasas e impuestos</span>*@
            </div>
            <div class="small-6 columns columna2">
                <span class="txt_azul4">Descripción: Pago de reserva</span>
                @*<span class="txt_azul3">COP $125.000</span>
                    <span class="txt_azul3">COP $125.000</span>*@
            </div>
        </div>
        <div class="resumen_total">
            <div class="small-6 columns ">TOTAL</div>
            <div class="small-6 columns ">COP @string.Format("{0:$ #,###}", ViewBag.valueToPay)</div>
        </div>
    </div>
    <div class="large-12 medium-12 small-12 columns">
        <h4 class="txt_azul">Fecha: @ViewBag.date</h4>
    </div>
    <div class="large-12 medium-12 small-12 columns bg-azul11">
        <h4>Medio de pago</h4>
    </div>
    <div class="large-12 medium-12 small-12 columns bg-azul10 margin_top2">
        <div class="large-1 medium-3 small-3 columns">

        </div>
        <div class="large-11 medium-9 small-9 columns pse">
            <span>DIRECCION IP: @ViewBag.IP</span>
            @if (ViewBag.state != "PENDING")
            {
                <span>ESTADO: Transacción rechazada</span>
            }
            else
            {
                <span>ESTADO: Transacción pendiente</span>
            }
        </div>
        @if (ViewBag.state != "PENDING")
        {
            <div class="small-5 columns margin_top3 large-offset-1">
                <div class="small-9 columns left">
                    <a href="../payment" class="bot_naranja4">Intenta Realizar el pago nuevamente</a>
                </div>
            </div>
        }
    </div>
    <div class="large-12 medium-12 small-12 columns bg-azul11 margin_top">
        <h4>Datos de contacto en Easyfly</h4>
    </div>
    <div class="large-12 medium-12 small-12 columns bg-azul10 margin_top2">
        <div class="large-7 medium-12 small-12 columns datos_ef">
            <h4>EASYFLY S.A. </h4>
            <span>NIT. 800.185.781-1</span>
            <span>Av. El Dorado Cra 103 - 8 Puerta 1 hangar 14</span>
            <span>Teléfonos: 4148095 - 94  -  Fax: 4139311</span>
            <span>Email: reservas.call@easyfly.com.co</span>
        </div>
        @*<div class="large-3 medium-12 small-12 columns">
                <a href="/" class="regresar_EF">Finalizar</a>
            </div>*@
    </div>
    <div class="small-5 columns margin_top3 large-offset-1">
        <div class="small-2 columns">
            <img src="/Content/img/imprimir.png" alt="" class="right" />
        </div>
        <div class="small-9 columns left">
            <a class="bot_naranja4" id="confirmationPrint">Imprimir comprobante</a>
        </div>
    </div>
    @*<div class="small-5 columns margin_top3 left">
            <a class="right bot_naranja4 margin_left">Descargar comprobante</a>
            <a class="right margin_top4"><img src="/Content/img/bot_download.png" alt="" /></a>
        </div>*@
</div>
<script>
    jQuery('#confirmationPrint').click(function () {

        var stSeparador = "<hr><br />";
        var stHtml = new String();
        stHtml += jQuery("#divConfirmationPSE").html(); stHtml += stSeparador;

        //Get the HTML of whole page
        var oldPage = document.body.innerHTML;

        //Reset the page's HTML with div's HTML only
        document.body.innerHTML =
          "<html><head><title></title></head><body>" + stHtml + "</body>";

        //Print Page
        window.print();

        //Restore orignal HTML
        document.body.innerHTML = oldPage;

    });
</script>