﻿@using AWESAirline.Models
@using AWESAirline.Controllers
@{
    ViewBag.Title = "Crédito";
}

<h2>@string.Format("credito pago de {0:c}", ViewBag.valueToPay)</h2>

<div>
    <p style="background:url(https://maf.pagosonline.net/ws/fp?id=@ViewBag.deviceSessionId)"></p>

    <img src="https://maf.pagosonline.net/ws/fp/clear.png?id=@ViewBag.deviceSessionId">

    <script src="https://maf.pagosonline.net/ws/fp/check.js?id=@ViewBag.deviceSessionId"></script>

    <object type="application/x-shockwave-flash"
            data="https://maf.pagosonline.net/ws/fp/fp.swf?id=@ViewBag.deviceSessionId" width="1" height="1"
            id="thm_fp">

        <param name="movie" value="https://maf.pagosonline.net/ws/fp/fp.swf?id=@ViewBag.deviceSessionId" />
    </object>
</div>

<table>
    <tr>

        <td>
            deviceSessionId (eliminar esta fila de la tabla)
        </td>
        <td>
            @ViewBag.deviceSessionId
        </td>
    </tr>
    <tr>
        <td>Tipo de persona</td>
        <td>

            <select id="tipoPersona">
                <option value="-1">Seleccione</option>
                <option value="N" selected="selected">Natural</option>
                <option value="J">Juridica</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Tipo de documento</td>
        <td>
            <select id="tipoDocumento">
                @foreach (KeyValuePair<string, string> doc in @baseController.isoDOcumentos())
                {
                    <option value="@doc.Key">@doc.Value</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td>Numero de identificacion</td>
        <td><input type="text" id="numeroDocumento" value="" /></td>
    </tr>
    <tr>
        <td>Nombres y apellidos</td>
        <td><input type="text" id="nomrbesYApellidos" value="" /></td>
    </tr>
    <tr>
        <td>Dirección</td>
        <td><input type="text" id="direccion" value="" /></td>
    </tr>
    <tr>
        <td>city</td>
        <td><input type="text" id="city" value="" /></td>
    </tr>
    <tr>
        <td>state</td>
        <td><input type="text" id="state" value="" /></td>
    </tr>
    <tr>
        <td>country</td>
        <td>
            <select name="country" id="country">
                <option value="">--</option>
                <option value="AF">Afghanistan</option>
                <option value="AL">Albania</option>
                <option value="DZ">Algeria</option>
                <option value="AS">American Samoa</option>
                <option value="AD">Andorra</option>
                <option value="AI">Anguilla</option>
                <option value="AQ">Antarctica</option>
                <option value="AG">Antigua and Barbuda</option>
                <option value="AR">Argentina</option>
                <option value="AM">Armenia</option>
                <option value="AW">Aruba</option>
                <option value="AU">Australia</option>
                <option value="AT">Austria</option>
                <option value="AZ">Azerbaijan</option>
                <option value="BS">Bahamas, The</option>
                <option value="BH">Bahrain</option>
                <option value="BD">Bangladesh</option>
                <option value="BB">Barbados</option>
                <option value="BY">Belarus</option>
                <option value="BE">Belgium</option>
                <option value="BZ">Belize</option>
                <option value="BJ">Benin</option>
                <option value="BM">Bermuda</option>
                <option value="BT">Bhutan</option>
                <option value="BO">Bolivia</option>
                <option value="BQ">Bonaire, Saint Eustatius and Saba</option>
                <option value="BA">Bosnia and Herzegovina</option>
                <option value="BW">Botswana</option>
                <option value="BV">Bouvet Island</option>
                <option value="BR">Brazil</option>
                <option value="IO">British Indian Ocean Territory</option>
                <option value="BN">Brunei Darussalam</option>
                <option value="BG">Bulgaria</option>
                <option value="BF">Burkina Faso</option>
                <option value="BI">Burundi</option>
                <option value="KH">Cambodia</option>
                <option value="CM">Cameroon</option>
                <option value="CA" selected="">Canada</option>
                <option value="CV">Cape Verde</option>
                <option value="KY">Cayman Islands</option>
                <option value="CF">Central African Republic</option>
                <option value="TD">Chad</option>
                <option value="CL">Chile</option>
                <option value="CN">China</option>
                <option value="CX">Christmas Island</option>
                <option value="CC">Cocos (Keeling) Islands</option>
                <option value="CO">Colombia</option>
                <option value="KM">Comoros</option>
                <option value="CG">Congo</option>
                <option value="CD">Congo, The Democratic Republic of the</option>
                <option value="CK">Cook Islands</option>
                <option value="CR">Costa Rica</option>
                <option value="CI">Cote D'ivoire</option>
                <option value="HR">Croatia</option>
                <option value="CW">Curaçao</option>
                <option value="CY">Cyprus</option>
                <option value="CZ">Czech Republic</option>
                <option value="DK">Denmark</option>
                <option value="DJ">Djibouti</option>
                <option value="DM">Dominica</option>
                <option value="DO">Dominican Republic</option>
                <option value="EC">Ecuador</option>
                <option value="EG">Egypt</option>
                <option value="SV">El Salvador</option>
                <option value="GQ">Equatorial Guinea</option>
                <option value="ER">Eritrea</option>
                <option value="EE">Estonia</option>
                <option value="ET">Ethiopia</option>
                <option value="FK">Falkland Islands (Malvinas)</option>
                <option value="FO">Faroe Islands</option>
                <option value="FJ">Fiji</option>
                <option value="FI">Finland</option>
                <option value="FR">France</option>
                <option value="GF">French Guiana</option>
                <option value="PF">French Polynesia</option>
                <option value="TF">French Southern Territories</option>
                <option value="GA">Gabon</option>
                <option value="GM">Gambia, The</option>
                <option value="GE">Georgia</option>
                <option value="DE">Germany</option>
                <option value="GH">Ghana</option>
                <option value="GI">Gibraltar</option>
                <option value="GR">Greece</option>
                <option value="GL">Greenland</option>
                <option value="GD">Grenada</option>
                <option value="GP">Guadeloupe</option>
                <option value="GU">Guam</option>
                <option value="GT">Guatemala</option>
                <option value="GN">Guinea</option>
                <option value="GW">Guinea-Bissau</option>
                <option value="GY">Guyana</option>
                <option value="HT">Haiti</option>
                <option value="HM">Heard Island and the McDonald Islands</option>
                <option value="VA">Holy See</option>
                <option value="HN">Honduras</option>
                <option value="HK">Hong Kong</option>
                <option value="HU">Hungary</option>
                <option value="IS">Iceland</option>
                <option value="IN">India</option>
                <option value="ID">Indonesia</option>
                <option value="IE">Ireland</option>
                <option value="IL">Israel</option>
                <option value="IT">Italy</option>
                <option value="JM">Jamaica</option>
                <option value="JP">Japan</option>
                <option value="JO">Jordan</option>
                <option value="KZ">Kazakhstan</option>
                <option value="KE">Kenya</option>
                <option value="KI">Kiribati</option>
                <option value="KR">Korea, Republic of</option>
                <option value="XK">Kosovo</option>
                <option value="KW">Kuwait</option>
                <option value="KG">Kyrgyzstan</option>
                <option value="LA">Lao People's Democratic Republic</option>
                <option value="LV">Latvia</option>
                <option value="LB">Lebanon</option>
                <option value="LS">Lesotho</option>
                <option value="LR">Liberia</option>
                <option value="LY">Libya</option>
                <option value="LI">Liechtenstein</option>
                <option value="LT">Lithuania</option>
                <option value="LU">Luxembourg</option>
                <option value="MO">Macao</option>
                <option value="MK">Macedonia, The Former Yugoslav Republic of</option>
                <option value="MG">Madagascar</option>
                <option value="MW">Malawi</option>
                <option value="MY">Malaysia</option>
                <option value="MV">Maldives</option>
                <option value="ML">Mali</option>
                <option value="MT">Malta</option>
                <option value="MH">Marshall Islands</option>
                <option value="MQ">Martinique</option>
                <option value="MR">Mauritania</option>
                <option value="MU">Mauritius</option>
                <option value="YT">Mayotte</option>
                <option value="MX">Mexico</option>
                <option value="FM">Micronesia, Federated States of</option>
                <option value="MD">Moldova, Republic of</option>
                <option value="MC">Monaco</option>
                <option value="MN">Mongolia</option>
                <option value="ME">Montenegro</option>
                <option value="MS">Montserrat</option>
                <option value="MA">Morocco</option>
                <option value="MZ">Mozambique</option>
                <option value="NA">Namibia</option>
                <option value="NR">Nauru</option>
                <option value="NP">Nepal</option>
                <option value="NL">Netherlands</option>
                <option value="AN">Netherlands Antilles</option>
                <option value="NC">New Caledonia</option>
                <option value="NZ">New Zealand</option>
                <option value="NI">Nicaragua</option>
                <option value="NE">Niger</option>
                <option value="NG">Nigeria</option>
                <option value="NU">Niue</option>
                <option value="NF">Norfolk Island</option>
                <option value="MP">Northern Mariana Islands</option>
                <option value="NO">Norway</option>
                <option value="OM">Oman</option>
                <option value="PK">Pakistan</option>
                <option value="PW">Palau</option>
                <option value="PA">Panama</option>
                <option value="PG">Papua New Guinea</option>
                <option value="PY">Paraguay</option>
                <option value="PE">Peru</option>
                <option value="PH">Philippines</option>
                <option value="PN">Pitcairn</option>
                <option value="PL">Poland</option>
                <option value="PT">Portugal</option>
                <option value="PR">Puerto Rico</option>
                <option value="QA">Qatar</option>
                <option value="RE">Reunion</option>
                <option value="RO">Romania</option>
                <option value="RU">Russian Federation</option>
                <option value="RW">Rwanda</option>
                <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                <option value="KN">Saint Kitts and Nevis</option>
                <option value="LC">Saint Lucia</option>
                <option value="PM">Saint Pierre and Miquelon</option>
                <option value="VC">Saint Vincent and the Grenadines</option>
                <option value="WS">Samoa</option>
                <option value="SM">San Marino</option>
                <option value="ST">Sao Tome and Principe</option>
                <option value="SA">Saudi Arabia</option>
                <option value="SN">Senegal</option>
                <option value="RS">Serbia</option>
                <option value="SC">Seychelles</option>
                <option value="SL">Sierra Leone</option>
                <option value="SG">Singapore</option>
                <option value="SX">Sint Maarten</option>
                <option value="SK">Slovakia</option>
                <option value="SI">Slovenia</option>
                <option value="SB">Solomon Islands</option>
                <option value="SO">Somalia</option>
                <option value="ZA">South Africa</option>
                <option value="GS">South Georgia and the South Sandwich Islands</option>
                <option value="ES">Spain</option>
                <option value="LK">Sri Lanka</option>
                <option value="SR">Suriname</option>
                <option value="SJ">Svalbard and Jan Mayen</option>
                <option value="SZ">Swaziland</option>
                <option value="SE">Sweden</option>
                <option value="CH">Switzerland</option>
                <option value="TW">Taiwan</option>
                <option value="TJ">Tajikistan</option>
                <option value="TZ">Tanzania, United Republic of</option>
                <option value="TH">Thailand</option>
                <option value="TL">Timor-leste</option>
                <option value="TG">Togo</option>
                <option value="TK">Tokelau</option>
                <option value="TO">Tonga</option>
                <option value="TT">Trinidad and Tobago</option>
                <option value="TN">Tunisia</option>
                <option value="TR">Turkey</option>
                <option value="TM">Turkmenistan</option>
                <option value="TC">Turks and Caicos Islands</option>
                <option value="TV">Tuvalu</option>
                <option value="UG">Uganda</option>
                <option value="UA">Ukraine</option>
                <option value="AE">United Arab Emirates</option>
                <option value="GB">United Kingdom</option>
                <option value="US">United States</option>
                <option value="UM">United States Minor Outlying Islands</option>
                <option value="UY">Uruguay</option>
                <option value="UZ">Uzbekistan</option>
                <option value="VU">Vanuatu</option>
                <option value="VE">Venezuela</option>
                <option value="VN">Vietnam</option>
                <option value="VG">Virgin Islands, British</option>
                <option value="VI">Virgin Islands, U.S.</option>
                <option value="WF">Wallis and Futuna</option>
                <option value="EH">Western Sahara</option>
                <option value="YE">Yemen</option>
                <option value="ZM">Zambia</option>
                <option value="ZW">Zimbabwe</option>
            </select>

        </td>
    </tr>
    <tr>
        <td>postalCode</td>
        <td><input type="text" id="postalCode" value="00000" /></td>
    </tr>
    <tr>
        <td>Telefono diurno</td>
        <td><input type="text" id="telefonoDiurno" value="" /></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><input type="text" id="Email" value="" /></td>
    </tr>
    <tr>
        <td>Valor</td>
        <td><input type="text" id="valor" value="@ViewBag.valueToPay" /></td>
    </tr>
    <tr>
        <td>Referencia</td>
        <td><input type="text" id="Referencia" value="@ViewBag.reference" /></td>
    </tr>
    <tr>
        <td>
            Selecciona tu medio de pago
        </td>
        <td>
            <select id="paymentMethod">
                <option id="MASTERCARD">MASTERCARD</option>
                <option id="AMEX">AMEX</option>
                <option id="VISA">VISA</option>
                <option id="DINERS">DINERS</option>
            </select>
        </td>
    </tr>
    <tr><td>cardNumber</td><td><input type="text" id="cardNumber" value="" /></td></tr>
    <tr><td>securityCode</td><td><input type="text" id="securityCode" value="" /></td></tr>
    <tr><td>expirationMonth</td><td><input type="text" id="expirationMonth" value="" /></td></tr>
    <tr><td>expirationYear</td><td><input type="text" id="expirationYear" value="" /></td></tr>
    <tr><td>installements</td><td><input type="text" id="installements" value="" /></td></tr>
    <tr><td>nameOnCard</td><td><input type="text" id="nameOnCard" value="" /></td></tr>

    <tr>
        <td colspan="2"><input type="button" id="pagar" value="pagar" /></td>
    </tr>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {

            $("#pagar").click(transactionPayment);
        });

        function transactionPayment() {

            $.blockUI({
                message: $('#domMessage'),
                css: { backgroundColor: 'transparent', color: '#fff', border: "none" }
            });

            log('creating post object');

            var postObject = {
                
                "deviceSessionId": "@ViewBag.deviceSessionId",
                "paymentMethod": $("#paymentMethod option:selected").val(),
                "personType": $("#tipoPersona option:selected").val(),
                "documentType": $("#tipoDocumento option:selected").val(),
                "documentNumber": $("#numeroDocumento").val(),
                "fullName": $("#nomrbesYApellidos").val(),
                "reference": $("#Referencia").val(),
                "value": $("#valor").val(),
                "phone": $("#telefonoDiurno").val(),
                "email": $("#Email").val(),
                //  BUYER ADDRESS
                "street": $("#direccion").val(),
                "city": $("#city").val(),
                "state": $("#state").val(),
                "country": $("#country").val(),
                "postalCode": $("#postalCode").val(),
                // CREDIT CARD
                "cardNumber": $("#cardNumber").val(),
                "securityCode": $("#securityCode").val(),
                "expirationMonth": $("#expirationMonth").val(),
                "expirationYear": $("#expirationYear").val(),
                "installements": $("#installements").val(),
                "nameOnCard": $("#nameOnCard").val()
            };

            var urlPayment = "/payment/creditCardPayment";

            // SENDS DATA
            $.ajax({
                url: urlPayment,
                data: { postObject: JSON.stringify(postObject) },
                traditional: true,
                success: okTransactionPosted
            })
                .fail(function (data, textStatus, jqXHR) {
                    $.unblockUI();
                    errorObject = JSON.parse(data.responseText);
                    log("error:" + errorObject.Message);
                })

            log('payment request sent');
        }
        function okTransactionPosted(data, textStatus, jqXHR) {
            
            var handle = "";
            log('okTransactionPosted');
            log('data.OK:' + data.OK);
            log('data.data:' + data.data);

            var rows = [];

            responseObject = JSON.parse(data.data);

            log("State =" + responseObject.state);
            log("responseCode =" + responseObject.responseCode);
            log("trazabilityCode =" + responseObject.trazabilityCode);
            log("orderId =" + responseObject.orderId);
            log("transactionId =" + responseObject.transactionId);
            log("paymentNetworkResponseCode =" + responseObject.paymentNetworkResponseCode);

            $.unblockUI();
        }

    </script>
}