﻿@model AWESAirline.Models.debitPaymentResponse

@*@{
    ViewBag.Title = "debitoResponse";
}

<h2>debitoResponse</h2>

<table style="width:60%;" border="1">

    <tr>
        <td>
            Empresa
        </td>
        <td>
            @Model.merchant_name
        </td>
    </tr>
    <tr>
        <td>NIT</td>
        <td>@Model.
</td>
    </tr>
    <tr>
        <td>Fecha</td>
        <td>Fecha de la transacción</td>
    </tr>
    <tr>
        <td>Estado</td>
        <td>@Model.lapResponseCodeAsString</td>
    </tr>
    <tr>
        <td>Referencia del pedido</td>
        <td>@Model.referenceCode</td>
    </tr>
    <tr>
        <td>Referencia Transacción</td>
        <td>@Model.reference_pol</td>
    </tr>
    <tr>
        <td>Nro. Transacción/CUS</td>
        <td>@Model.cus</td>
    </tr>
    <tr>
        <td>
            Banco
        </td>
        <td>@Model.pseBank</td>
    </tr>
    <tr>
        <td>Valor</td>
        <td>@Model.TX_VALUE</td>
    </tr>
    <tr>
        <td>Moneda</td>
        <td>@Model.currency</td>
    </tr>
    <tr>
        <td>Descripción</td>
        <td>@Model.description</td>
    </tr>
    <tr>
        <td>IP Origen</td>
        <td>@Model.pseReference1</td>
    </tr>

</table>
<div id="linkReintento">
    <a href="@Model.retryLink">Retry (because it failed!!)</a>
</div>
<div id="linkFinalizar">
    <a href="@Model.endTransactionLink">Finaliza (home?)</a>
</div>*@

@{
    bool isOtherResponseCode = false;
    string responseCode = ViewBag.BadResponseCode;
    string statusBadResponse = ViewBag.StatusBadResponse;
    if (string.IsNullOrEmpty(statusBadResponse)) {
        statusBadResponse = "";
    }
    if (!string.IsNullOrEmpty(responseCode)) {
        isOtherResponseCode = true;
    }
}


<div class="row margin_top">
    <div class="large-7 columns">
        <h2>Confirmación de pago</h2>
    </div>
    <div class="large-5 columns">
        <div class="row">
            <div class="pasos">
                <div class="paso1">
                    <span class="numero active">3</span>
                    <span class="pasos_tit">Pago</span>
                </div>
                <div class="paso1">
                    <span class="numero selected">2</span>
                    <span class="pasos_tit">Pasajeros</span>
                </div>
                <div class="paso1">
                    <span class="numero selected">1</span>
                    <span class="pasos_tit">Vuelos</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="divConfirmationPSE">
    @if (!isOtherResponseCode) { 
    <div class="large-7 medium-12 small-12 left">
        <div class="large-12 medium-12 small-12 columns aprobacion" style="height:78px;">
            @Model.lapResponseCodeAsString
        </div>
        <div class="large-12 medium-12 small-12 columns referencia" style="height:77px;">
            Referencia transacción: @Model.reference_pol
            <a href="#" class="margin_right"><img src="/Content/img/ico_info2.png" alt="" /></a>
        </div>
    </div>
    <div class="large-5 medium-6 small-7 columns">
        <div class="info_easyflyer">
            <h5>Resumen de la compra </h5>
        </div>
        <div class="small-12 columns bg-azul12" style="height: 83px;">
            <div class="small-6 columns columna1">
                <span class="txt_azul2">Referencia: @Model.referenceCode</span>
                @*<span class="txt_azul2">Total compra</span>
                <span class="txt_azul2">Tasas e impuestos</span>*@
            </div>
            <div class="small-6 columns columna2">
                <span class="txt_azul4">Descripción: @Model.description</span>
                @*<span class="txt_azul3">COP $125.000</span>
                <span class="txt_azul3">COP $125.000</span>*@
            </div>
        </div>
        <div class="resumen_total">
            <div class="small-6 columns ">TOTAL</div>
            <div class="small-6 columns ">COP @string.Format("{0:$ #,###}", Convert.ToDouble(Model.TX_VALUE.Split('.')[0]))</div>
        </div>
    </div>
    }
    else
    {
        <div class="large-7 medium-12 small-12 left">
            <div class="large-12 medium-12 small-12 columns aprobacion" style="height:78px;">
                @statusBadResponse
            </div>
            <div class="large-12 medium-12 small-12 columns referencia" style="height:77px;">
                <a href="#" class="margin_right"><img src="/Content/img/ico_info2.png" alt="" /></a>
            </div>
        </div>
    }
    <div class="large-12 medium-12 small-12 columns">
        <h4 class="txt_azul">Fecha: @Model.processingDate</h4>
    </div>
    <div class="large-12 medium-12 small-12 columns bg-azul11">
        <h4>Medio de pago</h4>
    </div>
    <div class="large-12 medium-12 small-12 columns bg-azul10 margin_top2">
        <div class="large-1 medium-3 small-3 columns">
            <img src="/Content/img/logo_pse.png" alt="" />
        </div>
        <div class="large-11 medium-9 small-9 columns pse" style="width: 410px; float:left">
            @if (!isOtherResponseCode)
            {
                <span>BANCO: @Model.pseBank</span>
                <span>CUS: @Model.cus</span>
                <span>DIRECCION IP: @ViewBag.IP</span>
                <span>ESTADO: @Model.lapResponseCodeAsString</span>
            }
            else
            {
                <span>@ViewBag.MessageBadResponse</span>
            }
        </div>
        @if (Model.lapTransactionState == "DECLINED")
        {
            <div class="small-5 columns margin_top3 large-offset-1" style="margin-top: 0px; height: 98px;">
                <div class="small-9 columns left">
                    <a href="@Model.retryLink" class="bot_naranja4">Intenta Realizar el pago nuevamente</a>
                </div>
            </div>
        }
        @if (Model.lapTransactionState == "APPROVED")
        {
            <div class="small-5 columns margin_top3 large-offset-1" style="margin-top: 0px; height: 98px;">
                <div class="small-9 columns left">
                    <a href="@Model.endTransactionLink" class="bot_naranja4">Continuar</a>
                </div>
            </div>
        }
    </div>
    <div class="large-12 medium-12 small-12 columns bg-azul11 margin_top">
        <h4 class="h4TransactionResult">Datos de contacto en Easyfly</h4>
    </div>
    <div class="large-12 medium-12 small-12 columns bg-azul10 margin_top2">
        <div class="large-7 medium-12 small-12 columns datos_ef">
            <h4 class="h4TransactionResult">EASYFLY S.A. </h4>
            <span>NIT. 800.185.781-1</span>
            <span>Av. El Dorado Cra 103 - 8 Puerta 1 hangar 14</span>
            <span>Teléfonos: 4148095 - 94  -  Fax: 4139311</span>
            <span>Email: reservas.call@easyfly.com.co</span>
        </div>
        <div class="large-3 medium-12 small-12 columns">
            <a href="/Home/Index" class="regresar_EF">Finalizar</a>
        </div>
    </div>
    <div class="small-5 columns margin_top3 large-offset-1">
        <div class="small-2 columns">
            <img src="/Content/img/imprimir.png" alt="" class="right" />
        </div>
        <div class="small-9 columns left">
            <a class="bot_naranja4" id="confirmationPrint">Imprimir comprobante</a>
        </div>
    </div>
    @*<div class="small-5 columns margin_top3 left">
        <a class="right bot_naranja4 margin_left">Descargar comprobante</a>
        <a class="right margin_top4"><img src="/Content/img/bot_download.png" alt="" /></a>
    </div>*@
</div>
<script>
    //jQuery('#confirmationPrint').click(function () {

    //    var stSeparador = "<hr><br />";
    //    var stHtml = new String();
    //    stHtml += jQuery("#divConfirmationPSE").html(); stHtml += stSeparador;

    //    //Get the HTML of whole page
    //    var oldPage = document.body.innerHTML;

    //    //Reset the page's HTML with div's HTML only
    //    document.body.innerHTML =
    //      "<html><head><title></title></head><body>" + stHtml + "</body>";

    //    //Print Page
    //    window.print();

    //    //Restore orignal HTML
    //    document.body.innerHTML = oldPage;

    //});
</script>