﻿@using AWESAirline.Models
@using AWESAirline.Controllers
@{
    ViewBag.Title = "debito";
}

<h2>@string.Format("debito pago de {0:c}", ViewBag.valueToPay)</h2>

<table>
    <tr>
        <td>
            Selecciona tu banco
        </td>
        <td>
            <select id="listaBancos">
                @foreach (Bank banco in @ViewBag.listaBancos)
                {
                    if (banco.description == "Banco Union Colombiano")
                    {
                        <option value="@banco.pseCode" selected="selected">@banco.description</option>
                    }
                    else
                    {
                        <option value="@banco.pseCode">@banco.description</option>
                    }
                }
            </select>
        </td>
    </tr>
    <tr>
        <td>Tipo de persona</td>
        <td>

            <select id="tipoPersona">
                <option value="-1">Seleccione</option>
                <option value="N" selected="selected">Natural</option>
                <option value="J">Juridica</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Tipo de documento</td>
        <td>
            <select id="tipoDocumento">
                @foreach (KeyValuePair<string, string> doc in @baseController.isoDOcumentos())
                {
                    <option value="@doc.Key">@doc.Value</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td>Numero de identificacion</td>
        <td><input type="text" id="numeroDocumento" value="87654321" /></td>
    </tr>
    <tr>
        <td>Nombres y apellidos</td>
        <td><input type="text" id="nomrbesYApellidos" value="nombres y apellidos" /></td>
    </tr>
    <tr>
        <td>Telefono diurno</td>
        <td><input type="text" id="telefonoDiurno" value="6543233" /></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><input type="text" id="Email" value="email@dominio.com.co" /></td>
    </tr>
    <tr>
        <td>Valor</td>
        <td><input type="text" id="valor" value="@ViewBag.valueToPay" /></td>
    </tr>
    <tr>
        <td>Referencia</td>
        <td><input type="text" id="Referencia" value="@ViewBag.reference" /></td>
    </tr>

    <tr>
        <td colspan="2"><input type="button" id="pagar" value="pagar" /></td>
    </tr>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {

            $("#pagar").click(transactionPayment);
        });

        function transactionPayment() {

            $.blockUI({
                message: $('#domMessage'),
                css: { backgroundColor: 'transparent', color: '#fff', border: "none" }
            });

            log('creating post object');

            var postObject = {
                "bank": $("#listaBancos option:selected").val(),
                "personType": $("#tipoPersona option:selected").val(),
                "documentType": $("#tipoDocumento option:selected").val(),
                "documentNumber": $("#numeroDocumento").val(),
                "fullName": $("#nomrbesYApellidos").val(),
                "reference": $("#Referencia").val(),
                "value": $("#valor").val(),
                "phone": $("#telefonoDiurno").val(),
                "email": $("#Email").val()
            };

            var urlPayment = "/payment/debitPayment";

            // SENDS DATA
            $.ajax({
                url: urlPayment,
                data: { postObject: JSON.stringify(postObject) },
                traditional: true,
                success: okTransactionPosted
            })
                .fail(function (data, textStatus, jqXHR) {
                    $.unblockUI();
                    errorObject = JSON.parse(data.responseText);
                    log("error:" + errorObject.Message);
                })

            log('payment request sent');
        }
        function okTransactionPosted(data, textStatus, jqXHR) {
            var handle = "";
            log('okTransactionPosted');
            log('data.OK:' + data.OK);
            log('data.data:' + data.data);

            var rows = [];

            responseObject = JSON.parse(data.data);

            if ((responseObject.state == "PENDING") &&
                (responseObject.responseCode == "PENDING_AWAITING_PSE_CONFIRMATION")) {
                $.unblockUI();
                handle = window.location.replace(responseObject.extraParameters.BANK_URL, "Payment", "width=600,height=600,scrollbars=yes");
            }
            else {
                log("State =" + responseObject.state);
                log("responseCode =" + responseObject.responseCode);
            }

            log('payment form shown');

            $.unblockUI();
        }

    </script>
}