﻿@using AWESAirline.Models
@using AWESAirline.Controllers
@{
    ViewBag.Title = "Tokenization";
}

<h2>@string.Format("Tokenization pago de {0:c}", ViewBag.valueToPay)</h2>
<div>
    <p style="background:url(https://maf.pagosonline.net/ws/fp?id=@ViewBag.deviceSessionId)"></p>

    <img src="https://maf.pagosonline.net/ws/fp/clear.png?id=@ViewBag.deviceSessionId">

    <script src="https://maf.pagosonline.net/ws/fp/check.js?id=@ViewBag.deviceSessionId"></script>

    <object type="application/x-shockwave-flash"
            data="https://maf.pagosonline.net/ws/fp/fp.swf?id=@ViewBag.deviceSessionId" width="1" height="1"
            id="thm_fp">

        <param name="movie" value="https://maf.pagosonline.net/ws/fp/fp.swf?id=@ViewBag.deviceSessionId" />
    </object>
</div>

<table>
    <tr>
        <td>
            Selecciona tu medio de pago tokenizado
        </td>
        <td>
            <select id="token">
                @foreach (tokenBind token in ViewBag.PaymentMethods)
                {
                    <option id="@token.token" value="@token.token" ref="@token.paymentMethod" title="@token.notes">@token.name - @token.paymentMethod</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td>Valor</td>
        <td><input type="text" id="valor" value="@ViewBag.valueToPay" /></td>
    </tr>
    <tr>
        <td>Cuotas</td>
        <td><input type="text" id="installements" value="" /></td>
    </tr>
    <tr>
        <td>Referencia</td>
        <td><input type="text" id="Referencia" value="@ViewBag.reference" /></td>
    </tr>

    <tr>
        <td colspan="2"><input type="button" id="pagar" value="pagar" /></td>
    </tr>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {

            $("#pagar").click(transactionPayment);
        });

        function transactionPayment() {

            $.blockUI({ message: $('#domMessage') });

            log('creating post object');

            var postObject = {
                "deviceSessionId": "@ViewBag.deviceSessionId",
                "paymentMethod": $("#" + $("#token option:selected").val()).attr("ref"),
                "token": $("#token option:selected").val(),
                "reference": $("#Referencia").val(),
                "value": $("#valor").val(),
                "installements": $("#installements").val()
            };

            var urlPayment = "/payment/tokenizationPayment";

            // SENDS DATA
            $.ajax({
                url: urlPayment,
                data: { postObject: JSON.stringify(postObject) },
                traditional: true,
                success: okTransactionPosted
            })
                .fail(function (data, textStatus, jqXHR) {
                    $.unblockUI();
                    errorObject = JSON.parse(data.responseText);
                    log("error:" + errorObject.Message);
                })

            log('payment request sent');
        }
        function okTransactionPosted(data, textStatus, jqXHR) {
            var handle = "";
            log('okTransactionPosted');
            log('data.OK:' + data.OK);
            log('data.data:' + data.data);

            var rows = [];

            responseObject = JSON.parse(data.data);

            log("State =" + responseObject.state);
            log("responseCode =" + responseObject.responseCode);
            log("trazabilityCode =" + responseObject.trazabilityCode);
            log("orderId =" + responseObject.orderId);
            log("transactionId =" + responseObject.transactionId);
            log("paymentNetworkResponseCode =" + responseObject.paymentNetworkResponseCode);


            $.unblockUI();
        }

    </script>
}