﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Dictionary<string, string> dictCities = ViewBag.dictCities;
}

<div class="row">
    <div class="tit_naranja">
        Dónde Volamos
    </div>
    <div id="mapa" class="mapa1">
        <div class="buscador_promos2">
            <form action="" id="form">
                <div class="large-2 columns">
                    <select id="origins" name="origins" class="ciudad origen">
                        @foreach (KeyValuePair<int, string> origin in ViewBag.origin)
                        {
                            string name = "";
                            if (dictCities.Keys.Contains(origin.Value))
                            {
                                name = dictCities[origin.Value];
                            }
                            <option value="@origin.Key">@name (@origin.Value)</option>
                        }
                    </select>
                    <span class="fi-marker icon_origen2"></span>
                </div>
                <div class="large-2 columns">
                    <select id="destinations" name="destinations" class="ciudad destino"></select>
                    <span class="fi-marker icon_destino2"></span>
                </div>
                <div class="large-2 columns">
                    <input id="fechaSalida" type="text" class="fecha_ida cityDateDeparture" placeholder="Fecha de Salida" data-dptxt="Seleccione la fecha de Salida">
                    <span class="fi-thumbnails icon_salida2"></span>
                </div>
                <div class="large-2 columns">
                    <input id="fechaRegreso" type="text" class="fecha_regreso notDesapear cityDateArrival" placeholder="Fecha de Regreso" data-dptxt="Seleccione la fecha de regreso">
                    <span class="fi-thumbnails icon_regreso2"></span>
                </div>
                <div class="large-2 columns">
                    <input id="pax" type="text" class="input_pasajeros" placeholder="1 Adulto, 0 Niños" />
                    <span class="fi-torso ico_pasajeros2"></span>
                </div>
                <div id="cityPax" class="pasajeros">
                    <h2>Seleccione los pasajeros</h2>
                    <h4 class="large-6 columns">Adultos</h4>
                    <div class="large-6 columns">
                        <input name="" type="button" class="menos left" value=" " onclick="decreaseAdult();"><input id="adt" name="" type="text" class="numero_pasajeros left" value="1"><input name="" type="button" class="mas left" value=" " onclick="increaseAdult();">
                    </div>
                    <h4 class="large-6 columns">
                        Niños<br>
                        <span>2 a 11 años</span>
                    </h4>
                    <div class="large-6 columns">
                        <input name="" type="button" class="menos left" value=" " onclick="decreaseChild();"><input id="chd" name="" type="text" class="numero_pasajeros left" value="0"><input name="" type="button" class="mas left" value=" " onclick="increaseChild();">
                    </div>


                    <div class="large-12 columns nota">
                        Para niños que viajan solos de edades entre 5 hasta 11 años, se debe reservar un servicio de acompañamiento.<br>
                        Lea más acerca de viajar con niños.
                    </div>

                    <h4 class="large-6 columns">
                        Bebés<br>
                        <span>0 a 2 años</span>
                    </h4>
                    <div class="large-6 columns">
                        <input name="" type="button" class="menos left" value=" " onclick="decreaseInfant();"><input id="inf" name="" type="text" class="numero_pasajeros left" value="0"><input name="" type="button" class="mas left" value=" " onclick="increaseInfant();">
                    </div>

                </div>
                <div class="large-2 columns buscar_ofertas">
                    <a href="javascript:flightsFind()" class="bot_azul" style="text-align: center;">BUSCAR OFERTAS</a>
                </div>
                <div class="large-2 columns" style="bottom:20px; width: 19%;">
                    <input id="rdoVuelta" type="radio" checked="checked" name="radiog_dark">
                    <label class="radGroup1 radGroup2" for="radio4">Ida y regreso</label>
                    <input id="rdoIda" type="radio" name="radiog_dark">
                    <label class="radGroup1 radGroup2" for="radio5">Solo Ida</label>
                </div>
                <div class="large-3 columns left small-offset-5">
                    <input id="promotionID" type="text" placeholder="Tiene un Código Promocional?" class="codigo_prom" style="bottom: 20px;">
                    <span class="fi-price-tag ico_codigo" style="color: rgb(225, 113, 37); bottom: 15px;"></span>
                </div>
            </form>
        </div>
        <div class="trayectos">
            <div class="small-12">
                <div class="small-3 left desde">desde: </div>
                <div class="small-9 left">
                    <select id="originSelect" class="sel_origen">
                        @foreach (KeyValuePair<int, string> origin in ViewBag.origin)
                        {
                            string name = "";
                            if (dictCities.Keys.Contains(origin.Value))
                            {
                                name = dictCities[origin.Value];
                            }
                            <option value="@origin.Key">@name</option>
                        }
                    </select>
                </div>
            </div>
            @*<div class="info_trayecto">
                Tiempo de vuelo: 1 Hora<br>
                Vuelos semanales: 14<br>
                Días: Lunes a Domingo
            </div>
            <a href="#" class="bot_naranja4 small-5 columns margin_left3 margin_top4">RESERVAR YA!</a>*@
        </div>
    </div>
    <div id="contentMap">
    </div>
</div>
<script>
    var listCities = [];
    var citiesHtml = {};
    $(document).ready(function () {
        $("#origins option").each(function () {
            var city = $(this).html();
            var citieMasked = city.split(' ')[0];
            listCities.push(citieMasked);
        })
        //$.blockUI();
        $.getJSON("/map/getContentByList", { listCitiesStr: JSON.stringify(listCities) }, function (data, textStatus, jqXHR) {
            $.each(data.data, function (key, value) {
                citiesHtml[key] = value;
            });
            updateHTML();
            $.unblockUI();
        }).fail(function (jqXHR, textStatus, data) {
            $.unblockUI();
            mixpanel.track("Error", { "Number": "8001", "Page": "map", "url": "/map/getContentByList", "Details": "no se pudo conseguir contenido de mapa" });
            errorObject = JSON.parse(jqXHR.responseText);
            log("processPurchase::error:" + errorObject.Message);
        });
        getLonLat(true);
    })
    function updateHTML() {
        $("#contentMap").html('');
        var city = $($("#originSelect option:selected")).html();
        $("#contentMap").html(citiesHtml[city]);
    }
    $("#originSelect").change(function () {
        updateHTML();
    })
$(".direccion a").click(function(){
	 $(".direccion span").hide();
     $(".direccion input").show();
});

 $('select').change(function(){
    $('#mapa').removeAttr('class').attr('class', '').addClass(
      'ciudad_' + ($(this).children('option:selected').index()+1));
})
.change();


</script>


