/* Reset */
.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
	margin: 0;
	padding: 0;
	border: none;
	border-spacing: 0;
}

/* Calendar Wrapper */

#calendar{
	position:absolute;
	}
.ui-datepicker {

	display: none;
	padding: 50px 35px;
	cursor: default;
	text-transform: uppercase;
	font-family: Tahoma;
	font-size: 12px;
	background: #fff;	
	width: 600px !important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 200px;
	-webkit-box-shadow: 0px 5px 40px -8px rgba(0,0,0,0.48);
-moz-box-shadow: 0px 5px 40px -8px rgba(0,0,0,0.48);
box-shadow: 0px 5px 40px -8px rgba(0,0,0,0.48);
}
.ui-datepicker-group {
	float: left !important;
	width:300px !important;
}
.ui-datepicker-group-last{
	padding-left:20px;
	border-left:solid 1px #CCC;
}
/* Calendar Header */
.ui-datepicker-header {
	position: relative;
	padding-bottom: 10px;
}

/* Month */
.ui-datepicker-month {
	position: relative;
	padding-left: 15px;
	color: #a8a8a8;
}


/* Year */
.ui-datepicker-year {
	color: #a8a8a8;
}

/* Prev Next Month */
.ui-datepicker-prev,
.ui-datepicker-next {
	position: absolute;
	top: 80px;
	padding: 0;
	cursor: pointer;
}

.ui-datepicker-prev {
	left: -35px;
	padding-left: 0;
}

.ui-datepicker-next {
	right: -35px;
	padding-right: 0;
}

.ui-datepicker-prev span,
.ui-datepicker-next span{
	display: block;
	width: 27px;
	height: 54px;
	text-indent: -9999px;
	background-image: url(/Content/img/calendar_flecha.jpg);
}

.ui-datepicker-prev span { background-position: -27px 0px; }

.ui-datepicker-next span { background-position:0px 0px;  }

.ui-datepicker-prev-hover span { background-position: -27px -54px; }

.ui-datepicker-next-hover span { background-position: 0 -54px; }

/* Calendar "Days" */
.ui-datepicker-calendar th {
	padding-top: 15px;
	padding-bottom: 10px;
	text-align: center;
	font-weight: bold;
	color: #333333;
}

.ui-datepicker-calendar td {
	padding: 0 7px;
	
	text-align: center;
	line-height: 26px;
}

.ui-datepicker-calendar .ui-state-default {
	display: block;
	width: 26px;
	outline: none;
	text-decoration: none;
	color: #045394;
}
.ui-state-hover {
	background:url(/Content/img/cl_over.png) no-repeat;
}
/* Day Active State*/
.ui-datepicker-calendar .ui-state-active {
	background: none repeat scroll 0 0 #f7941e;
    border-color: #6a9113;
    border-radius: 40px;
    color: #ffffff;
}
.ui-state-highlight{
	background:url(/Content/img/cl_over.png) no-repeat;
    border-radius: 40px;
}
/* Other Months Days*/
.ui-datepicker-other-month .ui-state-default { color: #cccccc; }

.ui-datepicker:before { width: 0;
height: 0;
border-style: solid;
border-width: 20px 20px 20px 0;
border-color: transparent #fff transparent transparent;
line-height: 0px;
_border-color: #000000 #fff #000000 #000000;
_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
z-index:9000;
content:"";
position:absolute;
left:-20px;
top:20px;
}
.datepicker_tit1{
	position:absolute;
	top: 10px;
	left:20px;
	color: #045394;
	font-size:22px;
	}
.datepicker_tit2{
	position:absolute;
	top: 10px;
	left:20px;
	color: #f78325;
	font-size:22px;
	}
.content_dp{
	float:left;
	}
.ui-datepicker-unselectable span{
	color: #cccccc !important;
	}
.date-range-selected {
   background: none;
   background-color: #edf0f3;
}
.ui-datepicker{
	box-sizing: content-box !important;
	}