/* Tiny Carousel */
#slider1 {
    height: 1%;
    margin: 30px 0 0;
    overflow: hidden;
    position: relative;
    padding: 0 50px 10px;
}

#slider1 .viewport {
    height: 190px;
    overflow: hidden;
    position: relative;
}

#slider1 .buttons {
    background: rgba(0, 0, 0, 0) url("../img/orbit_arrow.png") no-repeat scroll 0 0;
    position: absolute;
    top: 40%;
    left: 0;
    width: 28px;
    height: 27px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    font-size: 22px;
}

#slider1 .next {
    right: 0;
    left: auto;
    top: 40%;
	background:rgba(0, 0, 0, 0) url("../img/orbit_arrow.png") no-repeat scroll 0 -27px;
}

#slider1 .disable {
    visibility: hidden;
}

#slider1 .overview {
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 240px;
    left: 0;
    top: 0;
}

#slider1 .overview li {
    float: left;
    margin: 0 5px 0 0;
    padding: 1px;
    width: 198px;
 }
ul.overview span{
	color:#045394;
	text-align:center;
	float:left;
	width:100%;
	font-size:14px;
 }