﻿@using AWESMVCCommon.Security
@using AWESAirline.Models
@using AWESAirline.Controllers
@using wwweasyflyawes.Models
@{
    ViewBag.Title = "Profile";
}
@Scripts.Render("/Content/js/siteScripts/tokens.js")

<div class="row">
    <div class="large-12 columns margin_top3 tit_perfil">
        Perfil de usuario
    </div>
    <div class="large-12 columns bg-perfil">
        <div class="large-3 columns" style="">
            <div id="avatar" style="padding-left: 0px; margin-left: 50px;">
                <div class="border_avatar"></div>
            </div>
            <a href="#" class="bot_avatar"> Editar Avatar</a>
            <a href="javascript:changeValues()" class="bot_editar_perfil" style="margin-left: 92px;"> Editar Perfil</a>
        </div>
        <div class="ediar_avatar">
            <div class="perfil_arrow"></div>
            <h4 style="text-align:center">Seleccione su avatar preferido</h4>
            <input type="radio" name="RadioGroup1" id="rad1" class="css-checkbox" checked>
            <label for="rad1" class="css-label label2"></label>
            <input type="radio" name="RadioGroup1" id="rad2" class="css-checkbox">
            <label for="rad2" class="css-label label2"></label>
            <input type="radio" name="RadioGroup1" id="rad3" class="css-checkbox">
            <label for="rad3" class="css-label label2"></label>
            <input type="radio" name="RadioGroup1" id="rad4" class="css-checkbox">
            <label for="rad4" class="css-label label2"></label>
            <input type="radio" name="RadioGroup1" id="rad5" class="css-checkbox">
            <label for="rad5" class="css-label label2"></label>
            <input type="radio" name="RadioGroup1" id="rad6" class="css-checkbox">
            <label for="rad6" class="css-label label2"></label>
            <input type="radio" name="RadioGroup1" id="rad7" class="css-checkbox">
            <label for="rad7" class="css-label label2"></label>
            <input type="radio" name="RadioGroup1" id="rad8" class="css-checkbox">
            <label for="rad8" class="css-label label2"></label>
            <input type="radio" name="RadioGroup1" id="rad9" class="css-checkbox">
            <label for="rad9" class="css-label label2"></label>
            <a href="#" class="bot_guardar margin_top margin_left2">Cancelar</a>
            <a href="#" class="bot_guardar margin_top margin_left">Guardar</a>
        </div>


        <div class="large-9 columns perfil_editable">
            <div class="large-6 small-12 columns">
                <label class="Loginlabel">Nombre</label>
                <input name="" type="text" id="name" defaultvalue="@ViewBag.User.name" value="@ViewBag.User.name" class="value valueReadOnly" readonly="readonly" placeholder="Nombre">
            </div>
            <div class="large-6 small-12 columns">
                <label class="Loginlabel">Apellido</label>
                <input name="" type="text" id="lastName" defaultvalue="@ViewBag.User.lastName" value="@ViewBag.User.lastName" class="value valueReadOnly" readonly="readonly" placeholder="Apellido">
            </div>
            <div class="large-6 small-12 columns">
                <label class="Loginlabel">Documento identificación</label>
                <input name="" type="text" id="document" defaultvalue="@ViewBag.document" value="@ViewBag.document" class="value valueReadOnly" readonly="readonly" placeholder="Ingrese número de identificación">
            </div>
            <div class="large-6 small-12 columns">
                <label class="Loginlabel">Correo Electrónico</label>
                <input name="" type="text" id="email" defaultvalue="@ViewBag.User.email" value="@ViewBag.User.email" class="value valueReadOnly" readonly="readonly" placeholder="Ingrese su correo electrónico aquí">
            </div>
            <div class="large-6 small-12 columns">
                <label class="Loginlabel">Celular</label>
                <input name="" type="text" id="mobilePhone" defaultvalue="@ViewBag.mobilePhone" value="@ViewBag.mobilePhone" class="value valueReadOnly" readonly="readonly" placeholder="Ingrese su celular aquí">
            </div>
            <div class="large-6 small-12 columns">
                <label class="Loginlabel">Teléfono</label>
                <input name="" type="text" id="landLine" defaultvalue="@ViewBag.landLine" value="@ViewBag.landLine" class="value valueReadOnly" readonly="readonly" placeholder="Ingrese número de teléfono">
            </div>
            <div class="large-3 small-12 columns">
                <label class="Loginlabel">País</label>
                <select class="select_2" name="" id="country" defaultvalue="@ViewBag.country">
                    <option value="">--</option>
                    <option value="AF">Afghanistan</option>
                    <option value="AL">Albania</option>
                    <option value="DZ">Algeria</option>
                    <option value="AS">American Samoa</option>
                    <option value="AD">Andorra</option>
                    <option value="AI">Anguilla</option>
                    <option value="AQ">Antarctica</option>
                    <option value="AG">Antigua and Barbuda</option>
                    <option value="AR">Argentina</option>
                    <option value="AM">Armenia</option>
                    <option value="AW">Aruba</option>
                    <option value="AU">Australia</option>
                    <option value="AT">Austria</option>
                    <option value="AZ">Azerbaijan</option>
                    <option value="BS">Bahamas, The</option>
                    <option value="BH">Bahrain</option>
                    <option value="BD">Bangladesh</option>
                    <option value="BB">Barbados</option>
                    <option value="BY">Belarus</option>
                    <option value="BE">Belgium</option>
                    <option value="BZ">Belize</option>
                    <option value="BJ">Benin</option>
                    <option value="BM">Bermuda</option>
                    <option value="BT">Bhutan</option>
                    <option value="BO">Bolivia</option>
                    <option value="BQ">Bonaire, Saint Eustatius and Saba</option>
                    <option value="BA">Bosnia and Herzegovina</option>
                    <option value="BW">Botswana</option>
                    <option value="BV">Bouvet Island</option>
                    <option value="BR">Brazil</option>
                    <option value="IO">British Indian Ocean Territory</option>
                    <option value="BN">Brunei Darussalam</option>
                    <option value="BG">Bulgaria</option>
                    <option value="BF">Burkina Faso</option>
                    <option value="BI">Burundi</option>
                    <option value="KH">Cambodia</option>
                    <option value="CM">Cameroon</option>
                    <option value="CA">Canada</option>
                    <option value="CV">Cape Verde</option>
                    <option value="KY">Cayman Islands</option>
                    <option value="CF">Central African Republic</option>
                    <option value="TD">Chad</option>
                    <option value="CL">Chile</option>
                    <option value="CN">China</option>
                    <option value="CX">Christmas Island</option>
                    <option value="CC">Cocos (Keeling) Islands</option>
                    <option value="CO" selected="">Colombia</option>
                    <option value="KM">Comoros</option>
                    <option value="CG">Congo</option>
                    <option value="CD">Congo, The Democratic Republic of the</option>
                    <option value="CK">Cook Islands</option>
                    <option value="CR">Costa Rica</option>
                    <option value="CI">Cote D'ivoire</option>
                    <option value="HR">Croatia</option>
                    <option value="CW">Curaçao</option>
                    <option value="CY">Cyprus</option>
                    <option value="CZ">Czech Republic</option>
                    <option value="DK">Denmark</option>
                    <option value="DJ">Djibouti</option>
                    <option value="DM">Dominica</option>
                    <option value="DO">Dominican Republic</option>
                    <option value="EC">Ecuador</option>
                    <option value="EG">Egypt</option>
                    <option value="SV">El Salvador</option>
                    <option value="GQ">Equatorial Guinea</option>
                    <option value="ER">Eritrea</option>
                    <option value="EE">Estonia</option>
                    <option value="ET">Ethiopia</option>
                    <option value="FK">Falkland Islands (Malvinas)</option>
                    <option value="FO">Faroe Islands</option>
                    <option value="FJ">Fiji</option>
                    <option value="FI">Finland</option>
                    <option value="FR">France</option>
                    <option value="GF">French Guiana</option>
                    <option value="PF">French Polynesia</option>
                    <option value="TF">French Southern Territories</option>
                    <option value="GA">Gabon</option>
                    <option value="GM">Gambia, The</option>
                    <option value="GE">Georgia</option>
                    <option value="DE">Germany</option>
                    <option value="GH">Ghana</option>
                    <option value="GI">Gibraltar</option>
                    <option value="GR">Greece</option>
                    <option value="GL">Greenland</option>
                    <option value="GD">Grenada</option>
                    <option value="GP">Guadeloupe</option>
                    <option value="GU">Guam</option>
                    <option value="GT">Guatemala</option>
                    <option value="GN">Guinea</option>
                    <option value="GW">Guinea-Bissau</option>
                    <option value="GY">Guyana</option>
                    <option value="HT">Haiti</option>
                    <option value="HM">Heard Island and the McDonald Islands</option>
                    <option value="VA">Holy See</option>
                    <option value="HN">Honduras</option>
                    <option value="HK">Hong Kong</option>
                    <option value="HU">Hungary</option>
                    <option value="IS">Iceland</option>
                    <option value="IN">India</option>
                    <option value="ID">Indonesia</option>
                    <option value="IE">Ireland</option>
                    <option value="IL">Israel</option>
                    <option value="IT">Italy</option>
                    <option value="JM">Jamaica</option>
                    <option value="JP">Japan</option>
                    <option value="JO">Jordan</option>
                    <option value="KZ">Kazakhstan</option>
                    <option value="KE">Kenya</option>
                    <option value="KI">Kiribati</option>
                    <option value="KR">Korea, Republic of</option>
                    <option value="XK">Kosovo</option>
                    <option value="KW">Kuwait</option>
                    <option value="KG">Kyrgyzstan</option>
                    <option value="LA">Lao People's Democratic Republic</option>
                    <option value="LV">Latvia</option>
                    <option value="LB">Lebanon</option>
                    <option value="LS">Lesotho</option>
                    <option value="LR">Liberia</option>
                    <option value="LY">Libya</option>
                    <option value="LI">Liechtenstein</option>
                    <option value="LT">Lithuania</option>
                    <option value="LU">Luxembourg</option>
                    <option value="MO">Macao</option>
                    <option value="MK">Macedonia, The Former Yugoslav Republic of</option>
                    <option value="MG">Madagascar</option>
                    <option value="MW">Malawi</option>
                    <option value="MY">Malaysia</option>
                    <option value="MV">Maldives</option>
                    <option value="ML">Mali</option>
                    <option value="MT">Malta</option>
                    <option value="MH">Marshall Islands</option>
                    <option value="MQ">Martinique</option>
                    <option value="MR">Mauritania</option>
                    <option value="MU">Mauritius</option>
                    <option value="YT">Mayotte</option>
                    <option value="MX">Mexico</option>
                    <option value="FM">Micronesia, Federated States of</option>
                    <option value="MD">Moldova, Republic of</option>
                    <option value="MC">Monaco</option>
                    <option value="MN">Mongolia</option>
                    <option value="ME">Montenegro</option>
                    <option value="MS">Montserrat</option>
                    <option value="MA">Morocco</option>
                    <option value="MZ">Mozambique</option>
                    <option value="NA">Namibia</option>
                    <option value="NR">Nauru</option>
                    <option value="NP">Nepal</option>
                    <option value="NL">Netherlands</option>
                    <option value="AN">Netherlands Antilles</option>
                    <option value="NC">New Caledonia</option>
                    <option value="NZ">New Zealand</option>
                    <option value="NI">Nicaragua</option>
                    <option value="NE">Niger</option>
                    <option value="NG">Nigeria</option>
                    <option value="NU">Niue</option>
                    <option value="NF">Norfolk Island</option>
                    <option value="MP">Northern Mariana Islands</option>
                    <option value="NO">Norway</option>
                    <option value="OM">Oman</option>
                    <option value="PK">Pakistan</option>
                    <option value="PW">Palau</option>
                    <option value="PA">Panama</option>
                    <option value="PG">Papua New Guinea</option>
                    <option value="PY">Paraguay</option>
                    <option value="PE">Peru</option>
                    <option value="PH">Philippines</option>
                    <option value="PN">Pitcairn</option>
                    <option value="PL">Poland</option>
                    <option value="PT">Portugal</option>
                    <option value="PR">Puerto Rico</option>
                    <option value="QA">Qatar</option>
                    <option value="RE">Reunion</option>
                    <option value="RO">Romania</option>
                    <option value="RU">Russian Federation</option>
                    <option value="RW">Rwanda</option>
                    <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                    <option value="KN">Saint Kitts and Nevis</option>
                    <option value="LC">Saint Lucia</option>
                    <option value="PM">Saint Pierre and Miquelon</option>
                    <option value="VC">Saint Vincent and the Grenadines</option>
                    <option value="WS">Samoa</option>
                    <option value="SM">San Marino</option>
                    <option value="ST">Sao Tome and Principe</option>
                    <option value="SA">Saudi Arabia</option>
                    <option value="SN">Senegal</option>
                    <option value="RS">Serbia</option>
                    <option value="SC">Seychelles</option>
                    <option value="SL">Sierra Leone</option>
                    <option value="SG">Singapore</option>
                    <option value="SX">Sint Maarten</option>
                    <option value="SK">Slovakia</option>
                    <option value="SI">Slovenia</option>
                    <option value="SB">Solomon Islands</option>
                    <option value="SO">Somalia</option>
                    <option value="ZA">South Africa</option>
                    <option value="GS">South Georgia and the South Sandwich Islands</option>
                    <option value="ES">Spain</option>
                    <option value="LK">Sri Lanka</option>
                    <option value="SR">Suriname</option>
                    <option value="SJ">Svalbard and Jan Mayen</option>
                    <option value="SZ">Swaziland</option>
                    <option value="SE">Sweden</option>
                    <option value="CH">Switzerland</option>
                    <option value="TW">Taiwan</option>
                    <option value="TJ">Tajikistan</option>
                    <option value="TZ">Tanzania, United Republic of</option>
                    <option value="TH">Thailand</option>
                    <option value="TL">Timor-leste</option>
                    <option value="TG">Togo</option>
                    <option value="TK">Tokelau</option>
                    <option value="TO">Tonga</option>
                    <option value="TT">Trinidad and Tobago</option>
                    <option value="TN">Tunisia</option>
                    <option value="TR">Turkey</option>
                    <option value="TM">Turkmenistan</option>
                    <option value="TC">Turks and Caicos Islands</option>
                    <option value="TV">Tuvalu</option>
                    <option value="UG">Uganda</option>
                    <option value="UA">Ukraine</option>
                    <option value="AE">United Arab Emirates</option>
                    <option value="GB">United Kingdom</option>
                    <option value="US">United States</option>
                    <option value="UM">United States Minor Outlying Islands</option>
                    <option value="UY">Uruguay</option>
                    <option value="UZ">Uzbekistan</option>
                    <option value="VU">Vanuatu</option>
                    <option value="VE">Venezuela</option>
                    <option value="VN">Vietnam</option>
                    <option value="VG">Virgin Islands, British</option>
                    <option value="VI">Virgin Islands, U.S.</option>
                    <option value="WF">Wallis and Futuna</option>
                    <option value="EH">Western Sahara</option>
                    <option value="YE">Yemen</option>
                    <option value="ZM">Zambia</option>
                    <option value="ZW">Zimbabwe</option>
                </select>
            </div>
            <div class="large-6 small-12 columns">
                <label class="Loginlabel">Ciudad</label>
                <input name="" type="text" id="city" defaultvalue="@ViewBag.city" value="@ViewBag.city" class="value valueReadOnly" readonly="readonly" placeholder="Ingrese ciudad aquí">
            </div>
            <div class="large-6 small-12 columns">
                <label class="Loginlabel">Dirección Residencia</label>
                <input name="" type="text" id="address" defaultvalue="@ViewBag.address" value="@ViewBag.address" class="value valueReadOnly" readonly="readonly" placeholder="Ingrese dirección aquí">
            </div>
            <div class="large-6 columns large-centered">
                <a href="javascript:cancelSaveValues()" id="cancel" class="bot_guardar margin_top">Cancelar</a>
                <a href="javascript:saveValues()" class="bot_guardar margin_top margin_left">Guardar</a>
            </div>
        </div>


        <div class="large-9 columns perfil_editado">
            <div class="large-6 small-12 columns">
                <label class="Loginlabel">Nombre</label>
                <span id="nameShown"></span>
            </div>
            <div class="large-6 small-12 columns">
                <label class="Loginlabel">Documento identificación</label>
                <span id="documentShown"></span>
            </div>
            <div class="large-6 small-12 columns">
                <label class="Loginlabel">Correo Electrónico</label>
                <span id="emailShown"></span>
            </div>
            <div class="large-6 small-12 columns">
                <label class="Loginlabel">Celular</label>
                <span id="mobilePhoneShown"></span>
            </div>
            @*<div class="large-6 small-12 columns">
                    <label class="Loginlabel">Teléfono</label>
                    <span id="landLineShown">3123896755</span>
                </div>*@
            <div class="large-3 small-12 columns">
                <label class="Loginlabel">Ciudad</label>
                <span id="cityShown"></span>
            </div>
            <div class="large-3 small-12 columns">
                <label class="Loginlabel">País</label>
                <span id="countryShown"></span>
            </div>
            <div class="large-6 small-12 columns">
                <label class="Loginlabel">Dirección Residencia</label>
                <span id="addressShown"></span>
            </div>
        </div>
    </div>
</div>
@*<div class="row">
    <div class="large-12 columns bg-azul5 border_top">
        <div class="large-6 columns">
            <h4>PESOS EASYFLYER </h4>
            <p>
                Los pesos Easyflyer se adquieren por compras y consumos en Easyfly.com, se pueden redimir en compras de pasajes y servicios de la aerolínea, la equivalencia es la siguiente:<br><br>

                UN PESO COLOMBIANO  =  UN PESO EASYFLYER
            <p>
        </div>
        <div class="large-6 columns">
            <h4 class="tit_pesos">PESOS EASYFLYER ACUMULADOS </h4>
            <div class="pesos_acumulados" id="EasyFlyerPesos">EF</div>
        </div>
    </div>
</div>*@
<div class="row">
    <dl class="accordion" data-accordion>
        @*<dd class="accordion-navigation">
            <div class="accordion_item">
                <a href="#panel1z" class="flecha_accordion"></a>
                <div class="small-7 columns no_padding">
                    <h4 class="itemProfile">Transacciones realizadas</h4>
                </div>
            </div>

            <div id="panel1z" class="content transacciones" style="padding:0 !important; background:#e5edf4 !important;">
                <div class="large-12 columns header_tab">
                    <div class="large-1 columns">
                        FECHA
                    </div>
                    <div class="large-2 columns">
                        COD. RESERVA
                    </div>
                    <div class="large-1 columns">

                    </div>
                    <div class="large-2 columns">
                        RUTA / VUELO
                    </div>
                    <div class="large-2 columns">
                        PESOS EF$ ACUMULADOS
                    </div>
                    <div class="large-2 columns">
                        FECHA VENCIMIENTO EF$ ACUMULADOS
                    </div>
                    <div class="large-2 columns">
                    </div>
                </div>
            </div>
        </dd>*@
        <dd class="accordion-navigation">
            <div class="accordion_item">
                <a href="#panel1a" class="flecha_accordion"></a>
                <div class="small-7 columns no_padding">
                    <h4 class="itemProfile">Agregar o editar pasajeros frecuentes</h4>
                </div>
                <div class="small-4 left columns ">
                    <span class="agregar_pasajero"> Agregar un pasajero frecuente</span>
                </div>
            </div>
            <div id="panel1a" class="content" style="padding:0 !important; background:#e5edf4 !important;">
                <div class="large-12 columns header_tab">
                    <div class="large-2 columns">
                        Tipo
                    </div>
                    <div class="large-4 columns">
                        Nombre
                    </div>
                    <div class="large-3 columns">
                        Documento
                    </div>
                    <div class="large-3 columns">

                    </div>
                </div>
            </div>
        </dd>
        <dd class="accordion-navigation" id="ddNavigation" rel="1">
            <div class="accordion_item" id="divCredit">
                <a href="#panel1b" class="flecha_accordion" id="aToken"></a>
                <div class="small-7 columns no_padding">
                    <span class="span_css_pago">Tarjeta de Crédito</span>
                </div>
                <div class="small-4 left columns ">
                    <span class="agregar_tajeta"> Agregar Tarjeta a su perfil Easyflyer</span>
                </div>
            </div>
            <div class="large-10 medium-12 small-12 large-centered columns tajeta_new">
                <div class="small-8 columns ">
                    <p>Easyfly recibe las siguientes tarjetas de crédito</p>
                </div>
                <div class="small-4 columns ">
                    <img src="/Content/img/tarjetas.png" width="244" height="39">
                </div>
                @*<div class="small-12 columns margin-top">
                        <div class="large-6 small-12 columns">
                            <label>ID</label>
                            <input type="text" id="payerId" value="@AWESMVCCommon.Security.userAdministrator.instance.user.ID" />
                        </div>
                    </div>*@
                <input type="hidden" id="payerId" value="@AWESMVCCommon.Security.userAdministrator.instance.user.ID" />
                <div class="small-12 columns margin-top">
                    <div class="large-2 small-12 columns">
                        <label>Tipo de tarjeta</label>
                    </div>
                    <div class="large-4 small-12 columns">
                        <select id="paymentMethodToken" class="select_2">
                            <option id="MASTERCARD">MASTERCARD</option>
                            <option id="AMEX">AMEX</option>
                            <option id="VISA">VISA</option>
                            <option id="DINERS">DINERS</option>
                        </select>
                    </div>
                    <div class="large-2 small-12 columns">
                        <label style="text-align:right">No. Tarjeta</label>
                    </div>
                    <div class="large-4 small-12 columns">
                        <input onkeyup="isNumeric(this.value)" type="text" id="cardNumberToken" autocomplete="off" value="" placeholder="0000 0000 0000 0000" maxlength="16" />
                    </div>
                </div>

                <div class="small-12 columns margin-top">
                    <div class="large-6 small-12 columns">
                        <label>Nombre</label>
                        <input type="text" autocomplete="off" id="nameOnCardToken" value="" placeholder="Como aparece en la tarjeta" />
                    </div>
                    <div class="large-4 small-12 columns">
                        <label>Número de documento</label>
                        <input type="text" autocomplete="off" id="identificationNumberToken" value="" placeholder="numeroDocumento" />
                    </div>
                </div>
                <div class="small-12 columns">


                    <div class="large-3 small-12 columns">
                        <label>Caducidad</label>
                        <div class="large-5 small-6 columns">
                            <select name="" class="select_1" id="expirationMonthToken">
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </div>
                        <div class="large-7 small-6 columns">
                            <input type="text" id="expirationYearToken" autocomplete="off" value="" />

                        </div>
                    </div>
                </div>

                <div class="large-12 small-12 columns margin_top">
                    <div class="large-5 small-12 columns large-centered">
                        <a href="#" class="bot_guardar cancelar">CANCELAR</a>
                        <a href="javascript:newToken()" class="bot_guardar margin_left guardar" id="newToken">GUARDAR</a>
                    </div>
                </div>
            </div>
            <div id="panel1b" class="content bg-azul7" style="padding:0 !important">

                <dl class="large-12 accordion" id="TokenCards" data-accordion>
                    <dd class="accordion-navigation">
                        <div class="small-12 columns tarjetas_tit">

                            <div class="large-8 small-12 columns">
                                Tarjetas de crédito guardadas en su perfil Easyflyer
                            </div>
                            <div class="large-4 small-12 columns">
                                ID
                            </div>
                        </div>
                    </dd>
                    @foreach (tokenizationController.tokenBind token in ViewBag.tokenList)
                    {
                        var href = "panel1c" + token.ID;
                        var tokenDetailID = token.token;
                        var paymentMethod = token.paymentMethod.ToLower();
                        if (paymentMethod == "amex")
                        {
                            paymentMethod = "american";
                        }
                        if (paymentMethod == "mastercard")
                        {
                            paymentMethod = "master";
                        }
                        <dd class="accordion-navigation" id="TokenCards">
                            <div class="accordion_item">
                                <input type="radio" name="radiog_dark" id="radioToken-@token.ID" class="css-checkbox " />
                                <label for="radioToken-@token.ID" class="css-label radGroup2">  </label>
                                <a href="#@href" class="flecha_accordion" aria-expanded="false" onclick="seeToken('@token.token', @token.ID);"></a>
                                <div class="@paymentMethod"></div>
                                <div class="small-8 columns">
                                    <span id="spnToken-@token.ID" title="@token.token" rel="@token.paymentMethod" class="@token.name">@token.name - @token.paymentMethod</span>
                                </div>
                                <div class="small-4 columns">
                                    @token.ID
                                </div>
                            </div>
                            <div id="@href" class="content">
                                @*<table>
                                        <tfoot>
                                            <tr>
                                                <td>
                                                    <div id="tokenDetail"></div>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>*@
                                <div id="@tokenDetailID" class="tokenDetailclass" idtoken="@token.ID">
                                    @*<div class="large-3 small-12 columns">
                                            <span>Nombre en la Tarjeta de crédito</span>
                                            Luis E Acuna
                                        </div>
                                        <div class="large-3 small-12 columns">
                                            <span>Dirección de facturación</span>
                                            Luis E. Acuna
                                            Calle 60Bsur #64-22
                                            Madelena
                                            Bogota, 00571, CO
                                            57-3114788860
                                        </div>
                                        <div class="large-2 small-12 columns">
                                            <a href="#" class="bot_eliminar">Eliminar</a>
                                            <a href="#" class="bot_editar" data-reveal-id="modal1">Editar</a>
                                        </div>*@
                                </div>
                            </div>
                        </dd>
                    }
                </dl>
            </div>
        </dd>
    </dl>
</div>

@section scripts
{
    <script>
        var MSG_UPDATE_CONFIRMATION = "Update values?";
        var fields = [];
        var updates = [];

        $(document).ready(function () {
            fields.push("name");
            fields.push("lastName");
            fields.push("email");
            fields.push("mobilePhone");
            fields.push("landLine");
            fields.push("address");
            fields.push("document");
            fields.push("country");
            fields.push("city");

            $("#nameShown").text($("#name").val());
            $("#lastNameShown").text($("#lastName").val());
            $("#emailShown").text($("#email").val());
            $("#mobilePhoneShown").text($("#mobilePhone").val());
            $("#landLineShown").text($("#landLine").val());
            $("#addressShown").text($("#address").val());
            $("#documentShown").text($("#document").val());
            var defaultValue = $("#country").attr("defaultvalue");
            $("#country").val(defaultValue);
            if (defaultValue != "") {
                $("#countryShown").text($("#country option:selected").html());
            } else {
                $("#countryShown").text("not defined");
            }
            $("#cityShown").text($("#city").val());

            $("#buttonChange").click(function () {
                $(".value").removeClass("valueReadOnly");
                $(".value").addClass("valueModifiable");
                $(".value").removeAttr("readonly");
            });

            $("#buttonCancel").click(function () {
                $(".value").removeClass("valueModifiable");
                fields.forEach(revertToDefaultValue);
                $(".value").addClass("valueReadOnly");
                $(".value").attr("readonly", "readonly");
            });

            $("#buttonSave").click(function () {
                $(".value").removeClass("valueModifiable");
                updates = [];
                fields.forEach(addToUpdatesList);
                if (updates.length > 0)
                    updateFields();

                $(".value").addClass("valueReadOnly");
                $(".value").attr("readonly", "readonly");
            });

            $(".bot_editar_perfil").click(function () {
                $(".perfil_editable").show();
                $(".bot_avatar").show();
                $(".perfil_editado").hide();
                $(".bot_editar_perfil").hide();
            });
            $("#cancel").click(function () {
                $(".perfil_editable").hide();
                $(".perfil_editado").show();
                $(".bot_avatar").hide();
                $(".bot_editar_perfil").show();
            });
            $(".agregar_tajeta").click(function(){
                if($(".tajeta_new").is(":visible")){ 
                    $(".tajeta_new").hide();
                }else{
                    $(".tajeta_new").show();
                }
            })
            $(".cancelar").click(function(){
                if($(".tajeta_new").is(":visible")){ 
                    $(".tajeta_new").hide();
                }else{
                    $(".tajeta_new").show();
                }
            })
            accumulationInfoProfile();
            getInfoReservations();
            getPaxInfo();
        });
        function changeValues() {
            $(".value").removeClass("valueReadOnly");
            $(".value").addClass("valueModifiable");
            $(".value").removeAttr("readonly");
        }
        function saveValues() {
            $(".value").removeClass("valueModifiable");
            updates = [];
            fields.forEach(addToUpdatesList);
            if (updates.length > 0)
                updateFields();

            $(".value").addClass("valueReadOnly");
            $(".value").attr("readonly", "readonly");
        }
        function cancelSaveValues() {
            $(".value").removeClass("valueModifiable");
            fields.forEach(revertToDefaultValue);
            $(".value").addClass("valueReadOnly");
            $(".value").attr("readonly", "readonly");
        }
        function revertToDefaultValue(element, index, array) {
            $("#" + element).val($("#" + element).attr("defaultValue"));
        }
        function updateDefaultValue(element, index, array) {
            $("#" + element).attr("defaultValue", $("#" + element).val());
        }
        function addToUpdatesList(element, index, array) {
            if ($("#" + element).val() != $("#" + element).attr("defaultValue"))
                updates.push('{"name": "' + element + '", "value":"' + $("#" + element).val() + '" }');
        }
        function updateFields() {
            if (confirm(MSG_UPDATE_CONFIRMATION)) {
                $.blockUI();
                var urlUpdateProfile = "/profile/updatePersonalProfile";

                // DELETES ENTRY
                $.ajax({
                    url: urlUpdateProfile,
                    data: { updateList: updates },
                    traditional: true,
                    success: okProfileChanged
                })
                    .fail(function (data, textStatus, jqXHR) {
                        $.unblockUI();
                        mixpanel.track("Error", { "Number": "9001", "Page": "profile", "url": "/profile/updatePersonalProfile", "Details": "no se pudo actualizar información de usuario" });
                        console.log("error:" + data.responseJSON.Message);
                        $('#message').html('<tr><td>' + "Error:" + data.responseJSON.Message + '</td></tr>');
                    })
            }
            else
                fields.forEach(revertToDefaultValue);
        }
        function okProfileChanged(data, textStatus, jqXHR) {
            $.unblockUI();
            log('okProfileChanged');

            $('#message').html('<tr><td>' + data.OK + '</tr>');

            $.each(data.data, function (key, item) {
                $("#" + item.Key.substr(0, 1).toLowerCase() + item.Key.substr(1).replace(/\s/g, '')).val(item.Value);
                $("#" + item.Key.substr(0, 1).toLowerCase() + item.Key.substr(1).replace(/\s/g, '')).attr("defaultvalue", item.Value);
                if (item.Key.substr(0, 1).toLowerCase() + item.Key.substr(1).replace(/\s/g, '') + "Shown" != "countryShown") {
                    $("#" + item.Key.substr(0, 1).toLowerCase() + item.Key.substr(1).replace(/\s/g, '') + "Shown").text(item.Value);
                } else {
                    $("#" + item.Key.substr(0, 1).toLowerCase() + item.Key.substr(1).replace(/\s/g, '') + "Shown").text($("#country option:selected").html());
                }
            });

            $(".perfil_editable").hide();
            $(".perfil_editado").show();
            $(".bot_avatar").hide();
            $(".bot_editar_perfil").show();

            log('okProfileListUpdated');

            $('#message').html('<tr><td>Profile updated.</tr>');
        }
        function accumulationInfoProfile() {
            urlLogIn = "/base/accumulationInfoFormatedNotAsync";
            $.getJSON(urlLogIn, null, responseAccumulationProfile)
                    .fail(function (jqXHR, textStatus, data) {
                        mixpanel.track("Error", { "Number": "9002", "Page": "profile", "url": "/base/accumulationInfoFormatedNotAsync", "Details": "no se pudo traer acomulado de usuario" });
                        errorObject = JSON.parse(jqXHR.responseText);
                        log("responseAcumulation::error:" + errorObject.Message);
                    })
        }

        function responseAccumulationProfile(data, textStatus, jqXHR) {

            log('okresponseAcumulation');

            $('#message').html('<tr><td>' + data.OK + '</tr>');

            $("#EasyFlyerPesos").append(" " + data.data);

            $('#message').html('<div>Accumulation obtained.</div>');

        }
        function getInfoReservations() {
            urlLogIn = "/profile/getInfoByUserId";
            $.getJSON(urlLogIn, null, getInfoReservationsResponse)
                    .fail(function (jqXHR, textStatus, data) {
                        mixpanel.track("Error", { "Number": "9003", "Page": "profile", "url": "/profile/getInfoByUserId", "Details": "no se pudo traer información de usuario" });
                        errorObject = JSON.parse(jqXHR.responseText);
                        log("responseAcumulation::error:" + errorObject.Message);
                    })
        }
        function getInfoReservationsResponse(data, textStatus, jqXHR) {
            $.each(data.data, function (key, value) {
                $("#panel1z").append('<div class="large-12 columns">' +
                '<div class="large-1 columns datos_pasajeros">' +
                value[0] +
                '</div>' +
                '<div class="large-2 columns datos_pasajeros">' +
                value[1] +
                '</div>' +
                '<div class="large-1 columns">' +
                '</div>' +
                '<div class="large-2 columns datos_pasajeros">' +
                value[2] +
                '</div>' +
                '<div class="large-2 columns datos_pasajeros">' +
                value[3] +
                '</div>' +
                '<div class="large-2 columns datos_pasajeros">' +
                value[4] +
                '</div>' +
                '<div class="large-2 columns">' +
                '<a href='+"'"+'javascript:sendEmail("'+key+'")'+"'"+' id="' + key + '" class="bot_editar2 right">Enviar ETKT</a>' +
                '</div>' +
                '</div>');
            })
        }
        function getPaxInfo() {
            urlLogIn = "/profile/getPaxesByUserId";
            $.getJSON(urlLogIn, null, getPaxInfoResponse)
                    .fail(function (jqXHR, textStatus, data) {
                        mixpanel.track("Error", { "Number": "9004", "Page": "profile", "url": "/profile/getPaxesByUserId", "Details": "no se pudo traer pasajeros de usuario" });
                        errorObject = JSON.parse(jqXHR.responseText);
                        log("responseAcumulation::error:" + errorObject.Message);
                    })
        }
        function getPaxInfoResponse(data, textStatus, jqXHR) {
            $.each(data.data, function (key, value) {
                $("#panel1a").append('<div id="panelPax'+key+'" class="large-12 columns">' +
                '<div class="large-2 columns datos_pasajeros">' +
                '<select id="type' + key + '" defaultValue="'+value[0]+'" style="line-height: 15px; height: 18px; padding-bottom: 0px; padding-top: 0px; border-bottom-width: 1px;"></select>' +
                '</div>' +
                '<div class="large-2 columns datos_pasajeros">' +
                '<input type="text" id="name' + key + '" defaultValue="'+value[3]+'" value="' + value[3] + '" style="height:5px;">' +
                '</div>' +
                '<div class="large-2 columns datos_pasajeros">' +
                '<input type="text" id="lastName' + key + '" defaultValue="'+value[4]+'" value="' + value[4] + '" style="height:5px;">' +
                '</div>' +
                '<div class="large-3 columns datos_pasajeros">' +
                '<input type="text" id="document' + key + '" defaultValue="'+value[2]+'" value="' + value[2] + '" style="height:5px;">' +
                '</div>' +
                '<div id="paxActions'+key+'" class="large-3 columns">' +
                '<a href='+"'"+'javascript:paxToDelete('+key+')'+"'"+' id="delete'+key+'" class="bot_eliminar2">Eliminar</a>' +
                '<a href='+"'"+'javascript:paxToEdit('+key+',"'+value[3]+'","'+value[4]+'","'+value[5]+'","'+value[6]+'")'+"'"+' id="edit'+key+'" class="bot_editar2">Editar</a>' +
                '<a href='+"'"+'javascript:paxCancel('+key+',"'+value[3]+'","'+value[4]+'","'+value[5]+'","'+value[6]+'")'+"'"+' id="paxCancel'+key+'" class="bot_editar2" style="display:none;">Cancel</a>'+
                '</div>' +
                '</div>');
                
                var type=value[0];
                $("#type" + key).append('<option value="ADT">Adulto</option>');
                $("#type" + key).append('<option value="CNN">Niño</option>');
                $("#type" + key).append('<option value="INF">Infante</option>');
                $("#type" + key).val(value[0]);
                $("#type" + key).prop("disabled", "disabled");
                $("#name" + key).prop("readonly", "readonly");
                $("#lastName" + key).prop("readonly", "readonly");
                $("#document" + key).prop("readonly", "readonly");
            })
        }
        function isNumeric(event) {
            Numer = parseInt(event);
            if (!/^\d*$/.test(Numer)) {
                return false;
            }
            return Numer;
        }
        function sendEmail(trackingCode){
            urlLogIn = "/profile/sendETKTToMail";
            $.getJSON(urlLogIn, {trackingCode:trackingCode}, sendEmailResponse)
                    .fail(function (jqXHR, textStatus, data) {
                        mixpanel.track("Error", { "Number": "9005", "Page": "profile", "url": "/profile/sendETKTToMail", "Details": "no se pudo enviar ETKT al correo" });
                        errorObject = JSON.parse(jqXHR.responseText);
                        log("responseAcumulation::error:" + errorObject.Message);
                    })
        }
        function sendEmailResponse (data, textStatus, jqXHR){
            if(data.OK=="ERROR"){
                alert("Hubo un error, por favor intentelo más tarde o comuniquese con nuestro call center.")
            }
        }
        function paxToEdit(key,name,lastName,docNumber,docType){
            $("#edit" + key).attr("href",'javascript:paxToSave('+key+',"'+name+'","'+lastName+'","'+docNumber+'","'+docType+'")');
            $("#type" + key).prop("disabled", false);
            $("#name" + key).prop("readonly", false);
            $("#lastName" + key).prop("readonly", false);
            $("#document" + key).prop("readonly", false);
            $("#edit"+key).html("Guardar");
            $("#edit"+key).attr("id","save"+key);
            $("#paxCancel" + key).show();
        }
        function paxToSave(key,name,lastName,docNumber,docType){
            $("#type" + key).prop("disabled", "disabled");
            $("#name" + key).prop("readonly", "readonly");
            $("#lastName" + key).prop("readonly", "readonly");
            $("#document" + key).prop("readonly", "readonly");
            $("#paxCancel" + key).hide();
            $("#save"+key).html("Editar");
            $("#save"+key).attr("id","edit"+key);
            $("#edit"+key).attr("href",'javascript:paxToEdit('+key+',"'+name+'","'+lastName+'","'+docNumber+'","'+docType+'")');
            var docNumberToUpdate=$("#document" + key).val()+"";
            docNumberToUpdate=docNumberToUpdate.substr(3,docNumberToUpdate.length);
            urlLogIn = "/profile/updatePaxLoginInfo";
            $.getJSON(urlLogIn, {idPax:key, name:$("#name" + key).val(), lastName:$("#lastName" + key).val(), document:docNumberToUpdate, DocumentType:docType, PaxType:$("#type" + key).val()}, paxToSaveResponse)
                    .fail(function (jqXHR, textStatus, data) {
                        mixpanel.track("Error", { "Number": "9006", "Page": "profile", "url": "/profile/updatePaxLoginInfo", "Details": "no se pudo guardar la información de pax" });
                        errorObject = JSON.parse(jqXHR.responseText);
                        log("responseAcumulation::error:" + errorObject.Message);
                    })
        }
        function paxToSaveResponse(data, textStatus, jqXHR){
            if(data.OK=="ERROR"){
                $("#type" + data.data).val($("#type" + data.data).attr("defaultValue"));
                $("#name" + data.data).html($("#name" + data.data).attr("defaultValue"));
                $("#document" + data.data).html($("#name" + data.data).attr("defaultValue"));
                alert("Hubo un error, por favor intentelo más tarde o comuniquese con nuestro call center.")
            }else{
                $("#type" + data.data).attr("defaultValue",$("#type" + data.data + " option:selected").val());
                $("#name" + data.data).attr("defaultValue",$("#name" + data.data).html());
                $("#document" + data.data).attr("defaultValue",$("#document" + data.data).html());
            }
        }
        function paxCancel(key,name,lastName,docNumber,docType){
            $("#type" + key).val($("#type" + key).attr("defaultValue"));
            $("#name" + key).html($("#name" + key).attr("defaultValue"));
            $("#lastName" + key).html($("#lastName" + key).attr("defaultValue"));
            $("#document" + key).html($("#document" + key).attr("defaultValue"));
            $("#type" + key).prop("disabled", "disabled");
            $("#name" + key).prop("readonly", "readonly");
            $("#lastName" + key).prop("readonly", "readonly");
            $("#document" + key).prop("readonly", "readonly");
            $("#paxCancel" + key).hide();
            $("#save"+key).attr("id","edit"+key);
            $("#edit"+key).html("Editar");
            $("#edit"+key).attr("href",'javascript:paxToEdit('+key+',"'+name+'","'+lastName+'","'+docNumber+'","'+docType+'")');
        }
        function paxToDelete(key){
            urlLogIn = "/base/deletePaxNotAsync";
            $.getJSON(urlLogIn, {idPax:key}, paxToDeleteResponse)
                    .fail(function (jqXHR, textStatus, data) {
                        mixpanel.track("Error", { "Number": "9007", "Page": "profile", "url": "/base/deletePaxNotAsync", "Details": "no se pudo eliminar pasajero de usuario" });
                        errorObject = JSON.parse(jqXHR.responseText);
                        log("responseAcumulation::error:" + errorObject.Message);
                    })
        }
        function paxToDeleteResponse(jqXHR, textStatus, data){
            if(data.OK=="ERROR"){
                alert("El pasajero no pudo ser eliminado, por favor intente más tarde o comuniquese con nuestro call center");
            }else{
                $("#panelPax" + data.data).remove();   
            }
        }
    </script>
}
