﻿@using AWESMVCCommon.Filters
@{
    ViewBag.Title = "Error";
}
<h1>Acceso negado</h1>
<br />
<div class="divError">
    @{
        NotAuthorizedException ex = (NotAuthorizedException)@ViewBag.exception;
    }
    <div title="@ex.StackTrace" class="text-danger">
        Access denied to @ex.controller / @ex.action
    </div>
    <h2>Permisos requeridos</h2>
    <div class="text-danger">
        @ex.permission
        </div>

    </div>
