﻿@{
    ViewBag.Title = "Error";
}
<h1>Error @ViewBag.exception.GetHttpCode()</h1>
<br />
<div class="divError">
    @{
        HttpException ex = (HttpException)@ViewBag.exception;
    }
    <div title="@ex.StackTrace" class="text-danger">
        @ex.Message
    </div>
    @if (ex.InnerException != null)
    {
        <h2>Detail</h2>
        <div title="@ex.InnerException.StackTrace" class="text-danger">
            @ex.InnerException.Message
        </div>
    }
</div>
