﻿@using AWESMVCCommon.Filters
@using AWESMVCCommon.Security
@using System.Net.Mail
@{
    ViewBag.Title = "Additional confirmation required";
}
<h1>ViewBag.Title</h1>
<br />
<div class="divError">
    @{
        NotTwoStepAuthorizedException ex = (NotTwoStepAuthorizedException)@ViewBag.exception;
    }
    <h2>Permission required</h2>

    <div class="text-danger">
        <p>In order to access the requested resource (@ex.controller / @ex.action), you must provide additional ownership evidence. </p>
        <p>Please select the method you want to use:</p>

        @{string validationCode = ViewBag.validationCode;}

        @using (Html.BeginForm("twoStep", "Error", FormMethod.Post))
        {
            <input type="hidden" value="@validationCode" />
            <input type="hidden" value="@ViewBag.action?@ViewBag.controller" name="frhgtsoasdfnakei" />

            if ((userAdministrator.instance.user.email != null) && (userAdministrator.instance.user.email != ""))
            {
                MailAddress email = new MailAddress(userAdministrator.instance.user.email);
                <p>
                    <input type="submit" name="email" value="Send verification code to  @email.User.Substring(0,3)... in @email.Host" />
                </p>
            }

            if ((userAdministrator.instance.profile("mobilePhone") != null) && (userAdministrator.instance.profile("mobilePhone").value != ""))
            {
                string phone = userAdministrator.instance.profile("mobilePhone").value;
                string trimmedPhone = phone.Substring(phone.Length - 4, 4);

                <p>
                    <input type="submit" name="phone" value="Send SMS code to phone that ends in @trimmedPhone..." />
                </p>
            }
        }
    </div>
</div>
