﻿@using AWESMVCCommon.Filters
@using AWESMVCCommon.Security
@using System.Net.Mail
@{
    ViewBag.Title = "Additional confirmation required";
}
<h1>ViewBag.Title</h1>
<br />
<div class="divError">
    @{
        NotTwoStepAuthorizedException ex = (NotTwoStepAuthorizedException)@ViewBag.exception;
    }
    <h2>Permission required</h2>

    <div class="text-danger">
        <p>In order to access the requested resource, you must provide additional ownership evidence. </p>
        <p>Please provide the sent authentication code</p>

        @using (Html.BeginForm("twoStepVerification", "Error", FormMethod.Post))
        {
            <p>
                <label for="sentCode">Verification code</label>
            </p>
            <p>
                <input type="text" id="sentCode" name="sentCode" value="">
            </p>
            <p>
                <input type="submit" name="email" value="confirm" />
            </p>

        }
    </div>
</div>

