﻿@using AWESAirline.Models

@model ICollection<userTraveler>

@{
    string title = "traveler List";
    ViewBag.Title = title;
}

<h2>@title</h2>

<h1>
    List
</h1>
<table border="1">
    <thead>
        <tr>
            <td>type</td>
            <td>FirstName</td>
            <td>LastName</td>
            <td>document</td>
            <td>option</td>
        </tr>
    </thead>
    <tbody id="userList">
        @foreach (userTraveler traveler in Model)
        {
            <tr>
                <td>@traveler.type</td>
                <td>@traveler.FirstName</td>
                <td>@traveler.LastName</td>
                <td>@traveler.document</td>
                <td><a href="javascript:deleteTraveler('@traveler.ID')">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>document</td>
            <td>
                <input type="text" id="document" name="document" />
            </td>
        </tr>
        <tr>
            <td>
                FirstName
            </td>
            <td>
                <input type="text" id="FirstName" name="FirstName" />
            </td>
        </tr>
        <tr>
            <td>
                LastName
            </td>
            <td>
                <input type="text" id="LastName" name="LastName" />
            </td>
        </tr>
        <tr>
            <td>type</td>
            <td>
                <input type="text" id="type" name="type" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" id="addTraveler" value="Add" />
            </td>
        </tr>
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#addTraveler").click(newToken);
        });

        function newToken() {

            var postObject = {
                "document": $("#document").val(),
                "FirstName": $("#FirstName").val(),
                "LastName": $("#LastName").val(),
                "type": $("#type").val()
            };

            var urlAddTraveler = "/userTraveler/addTraveler";

            // SENDS DATA
            $.ajax({
                url: urlAddTraveler,
                data: { postObject: JSON.stringify(postObject) },
                traditional: true,
                success: okTravelerAdded
            })
                .fail(function (data, textStatus, jqXHR) {
                    errorObject = JSON.parse(data.responseText);
                    log("error:" + errorObject.Message);
                })
        }
        function okTravelerAdded(data, textStatus, jqXHR) {
            $.blockUI({ message: $('#domMessage') });

            log(data.OK);

            var rows = [];

            $.each(data.data, function (key, item) {
                rowString = "<tr><td>%1$s</td><td>%2$s</td><td>%3$s</td><td>%4$s</td><td>";
                rowString += "<a href=\"javascript:deleteTraveler('%5$s')\">Delete</a></td></tr>";

                rows.push(sprintf(rowString, item.type, item.FirstName, item.LastName, item.document, item.ID));
            });

            $("#userList").html(rows.join(""));

            log('okTravelerListUpdated');

            $.unblockUI();
        }
        function deleteTraveler(id) {
            $.blockUI({ message: $('#domMessage') });

            var urlDeleteTraveler = "/userTraveler/deleteTraveler?travalerID=" + id;

            // SENDS DATA
            $.ajax({
                url: urlDeleteTraveler,
                data: null,
                traditional: true,
                success: okTravelerAdded
            })
                .fail(function (data, textStatus, jqXHR) {
                    errorObject = JSON.parse(data.responseText);
                    log("Error:" + errorObject.Message);
                })

            log('okTravelerListUpdated');

            $.unblockUI();
        }
    </script>

}