﻿@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!doctype html>
<html class="no-js" lang="en">
<head>
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/Content/js/foundation/foundation.accordion.js")
</head>
<body>
    <div class="row margin_top">
        <h2>Contáctenos</h2>
        <div class="small-12 columns faq">
            <div class="large-5 medium-6 small-12 columns">
                <h3>@AWESAirline.Controllers.baseController.getStringResource("ContactTitle", "Preguntanos y te responderemos", Request.Url.ToString(), Request.UserLanguages)</h3>
                <p class="margin_top left">
                    @AWESAirline.Controllers.baseController.getStringResource("ContactParragraph", "Sus preguntas y comentarios son muy importantes para nosotros, seleccione alguno de nuestros temas o contactenos por teléfono o vía email. /n Haremos lo necesario para resolver sus dudas.", Request.Url.ToString(), Request.UserLanguages)
                </p>
                @*<button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="select_faq left">Elige un tema</button>
                <ul id="drop1" data-dropdown-content class="f-dropdown f-open-select_faq" aria-hidden="true">
                    <li><a href="#">Generalidades</a></li>
                    <li><a href="#">Compras en Medios Digitales EasyFly</a></li>
                    <li><a href="#">Cambios en reserva y reembolsos</a></li>
                    <li><a href="#">Web Checkin</a></li>
                    <li><a href="#">Promociones y ofertas</a></li>
                    <li><a href="#">Políticas sobre Servicios Especiales</a></li>
                    <li><a href="#">Consultas sobre equipaje</a></li>
                    <li><a href="#">Durante el vuelo</a></li>
                    <li><a href="#">Después del vuelo</a></li>
                </ul>*@
                <a class="bot_buscar2" data-reveal-id="modal_faq" style="margin-left: 0px;">BUSCAR FAQ</a>
            </div>
            <div class="large-4 medium-6 small-12 columns large-offset-3">
                <div id="citiesContactPage" class="small-6 columns ciudades2">
                </div>
                <div id="telphonesContactPage" class="small-6 columns telefonos2">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-4 medium-4 small-12 columns margin_top">
            <div class="call_center">
                @Html.Raw(@AWESAirline.Controllers.baseController.getStringResource("callCenterContact", "(316) 456 4566", Request.Url.ToString(), Request.UserLanguages))
            </div>
        </div>
        <div class="large-4 medium-4 small-12 columns margin_top">
            <div class="whatsapp">
                @Html.Raw(@AWESAirline.Controllers.baseController.getStringResource("WhatsappContact", "(316) 456 4566", Request.Url.ToString(), Request.UserLanguages))
            </div>
        </div>
        <div class="large-4 medium-4 small-12 columns margin_top">
            <div class="email">
                @Html.Raw(@AWESAirline.Controllers.baseController.getStringResource("E-MailContact", "mediosdigitales@easyfly.com.co", Request.Url.ToString(), Request.UserLanguages))
            </div>
        </div>
    </div>

    <div id="modal_faq" class="reveal-modal modal_faq modal1" data-reveal>
        <div class="easyfly_faq"><strong>EASYFLY</strong> FAQ</div>
        <h2 id="FAQTitle1">
            <t id="titleModalFAQ">Compras en Medios Digitales EasyFly</t>
            @*<a class="bot_buscar2" data-reveal-id="modal_faq">BUSCAR FAQ</a>*@
            <button id="innerSelect_faq" href="#" data-dropdown="drop2" aria-controls="drop1" aria-expanded="false" class="select_faq right">Elige un tema</button>
        </h2>
        <ul id="drop2" data-dropdown-content class="f-dropdown f-open-select_faq" aria-hidden="true"></ul>
        @*<div class="scroll" data-accordion>
            <dl class="accordion margin_top" data-accordion></dl>
        </div>*@
    </div>

    <script>
    $(document).foundation();
    </script>

        <script>
            var loadedData;
            $(document).ready(function () {
                $(document).foundation();
                $("#dropModal").change(modalFAQChanged);
                faqCharged();
            })
            //document.write('<script src=/Content/js/vendor/' +
            //('__proto__' in {} ? 'zepto' : 'jquery') +
            //'.js><\/script>')
            //CHARGED
            function faqCharged() {
                $.getJSON("/Home/faqCharged", {}, faqChanged)
            }
            //DELEGATE
            function faqChanged(data, textStatus, jqXHR) {
                loadedData = JSON.parse(data.data);
                $("#drop2").empty();
                var cont = 0;
                //CHARGING FAQ TITLES
                $.each(loadedData, function (name, html) {
                    $("#drop2").append('<li><a id=faq"'+cont+'" href="javascript:modalFAQChanged(' + "'" + name + "'" + ',' + cont + ')">' + name + "</a></li>");
                    cont = cont + 1;
                })
                //INITIAL STATE
                modalFAQChanged("", 0);
            }
            function modalFAQChanged(value, id) {
                var cont = 0;
                if (value != "") {
                    //CHANGING TITLE FAQ
                    $("#FAQTitle").empty();
                    $("#FAQTitle").html(value);
                    $("#titleModalFAQ").html(value);
                    $("#innerSelect_faq").html(value);
                    //LOOKING FOR THE HTML APROPIETED
                    $.each(loadedData, function (name, html) {
                        if (cont == id) {
                            $("#modalFAQShow" + cont).show();
                        } else {
                            $("#modalFAQShow" + cont).hide();
                        }
                        cont = cont + 1;
                    })
                } else {
                    cont = 0;
                    $.each(loadedData, function (name, html) {
                        $("#modal_faq").append("<div id='modalFAQShow" + cont + "'>" + "</div>");
                        //$("#modal_faq").append(html);
                        $("#modalFAQShow" + cont).hide();
                        $("#modalFAQShow" + cont).html(html);
                        cont = cont + 1;
                    })
                    modalFAQChanged($("#faq0").html(), 0);
                }
                $(document).foundation();
            }
            
        </script>
</body>
</html>
