﻿@using AWESMVCCommon.Security;
@model AWESAirline.Controllers.signInModel
@{
    //Dictionary<string, string> dictCities = Newtonsoft.Json.JsonConvert.DeserializeObject<Dictionary<string,string>>(Request.Cookies["Cities"]["dictCities"]);
    Dictionary<string, string> dictCities = ViewBag.dictCities;
    byte[] bytePBanner = ViewBag.hBanner;
    AWESCommon.bannerSupport.POCOBannerEntry hBannerInfo = ViewBag.hBannerInfo;
    List<byte[]> pBanner= ViewBag.pBanner;
    List<AWESCommon.bannerSupport.POCOBannerEntry> pBannerInfo= ViewBag.pBannerInfo;
    List<byte[]> sBanner = ViewBag.sBanner;
    List<AWESCommon.bannerSupport.POCOBannerEntry> sBannerInfo = ViewBag.sBannerInfo;
}
<div class="alerta" style="display:none"><span>ALERTA DE VUELOS:</span> Retraso en vuelos desde Bogotá por cierre del dorado</div>
<div class="large-12 medium-12 small-12 banner-load">
    <a href="@hBannerInfo.urlSmall"><img class="fade-in" src="data:image;base64,@System.Convert.ToBase64String(bytePBanner)" alt="@hBannerInfo.altText" title="@hBannerInfo.title"></a>
    <div class="row">
        <div class="quote">@Html.Raw(AWESAirline.Controllers.baseController.getStringResource("HomeTitleBannerQuote", "“Cuanto más se eleva un hombre, más pequeño les parece a los que no saben volar.”", Request.Url.ToString(), Request.UserLanguages)) <span></span></div>
    </div>
    <div class="large-12 top_menu">
        <div class="row">
            <div class="large-12">
                <div class="large-4 columns">
                    <div class="submenu" style="display:block;">
                        <h3 class="vuelos"><span class="fa fa-paper-plane"></span>@AWESAirline.Controllers.baseController.getStringResource("flightsHomeModal", "Vuelos", Request.Url.ToString(), Request.UserLanguages)</h3>
                        <form action="" id="form">
                            @if (userAdministrator.instance.user.isAuthenticated)
                            {
                                <select id="lastestSearch" name="" class="busquedas">
                                    <option value="none">0 Búsquedas recientes</option>
                                </select>
                            }
                            <div class="small-12 columns">
                                <select id="origins" name="origins" class="ciudad origen">
                                    <option value="0">Seleccione origen</option>
                                    @foreach (KeyValuePair<int, string> origin in ViewBag.origin)
                                    {
                                        //string name = "";
                                        //if (dictCities!=null)
                                        //{
                                        //    if (dictCities.Keys.Contains(origin.Value))
                                        //    {
                                        //        name = dictCities[origin.Value];
                                        //    } 
                                        //}
                                        <option value="@origin.Key">@AWESAirline.Controllers.baseController.getNameByIATANotAsync(origin.Value) (@origin.Value)</option>
                                    }
                                </select>
                                <span class="fi-marker icon_origen"></span>
                            </div>
                            <div class="small-12 columns">
                                <select select id="destinations" name="destinations" class="ciudad destino">
                                    <option value="0">Seleccione destino</option>
                                </select>
                                <span class="fi-marker icon_destino"></span>
                            </div>
                                <div id="destinationMessage" style="display:none; position: absolute; width: 210px; height: 25px; padding: 0px; background: #045394; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 5px;">
                                    <div id="pointer" style="content: ''; position: absolute;border-style: solid;border-width: 10px 10px 10px 0;border-color: transparent #045394;display: block;width: 0;z-index: 1;left: -27px;top: 18px;">
                                    </div>
                                    <span style="float:right; color:white;">Debe seleccionar un destino</span>
                                </div>
                                <div style="margin-bottom:20px; padding-left:15px;">
                                    @*<input type="radio" name="radiog_dark" id="rdoVuelta" class="css-checkbox" checked="checked" />*@
                                    <input type="radio" name="radiog_dark" id="rdoVuelta" checked="checked" style="float:left;" />
                                    @*<label for="rdoVuelta" class="css-label radGroup1 radGroup2">Ida y regreso</label>*@
                                    <label for="rdoVuelta" class="radGroup1 radGroup2" style="padding-bottom: 0px; margin-top: -4px;">Ida y regreso</label>
                                    @*<input type="radio" name="radiog_dark" id="rdoIda" class="css-checkbox" />*@
                                    <input type="radio" name="radiog_dark" id="rdoIda" style="float:left;" />
                                    @*<label for="rdoIda" class="css-label radGroup1 radGroup2">Solo Ida</label>*@
                                    <label for="rdoIda" class="radGroup1 radGroup2" style="padding-bottom: 0px; margin-top: -4px;">Solo Ida</label>
                                </div>
                                <div class="small-12 columns">
                                    <label class="radGroup1" style="float:left;">Salida</label>
                                    <input type="text" class="fecha_ida" id="fechaSalida" placeholder="Fecha de Salida">
                                    <span class="fi-thumbnails icon_salida"></span>
                                </div>
                                <div class="small-12 columns returnDateRemove">
                                    <label class="radGroup1" style="float:left;">Regreso</label>
                                    <input type="text" class="fecha_regreso" id="fechaRegreso" placeholder="Fecha de Regreso">
                                    <span class="fi-thumbnails icon_regreso"></span>
                                </div>
                                <div class="small-12 columns">
                                    <label class="radGroup1" style="float:left;">Pasajeros</label>
                                    <input type="text" class="input_pasajeros" placeholder="1 Adulto, 0 Niños" id="pax" readonly="readonly">
                                    <span class="fi-torsos-male-female ico_pasajeros"></span>
                                </div>
                                <div class="pasajeros">
                                    <h2>Seleccione los pasajeros</h2>
                                    <h4 class="large-6 columns">Adultos</h4>
                                    <div class="large-6 columns">
                                        <input name="" type="button" class="menos left" value="" onclick="decreaseAdult();">
                                        <input name="" type="text" id="adt" class="numero_pasajeros left" value="1">
                                        <input name="" type="button" class="mas left" value=" " onclick="increaseAdult();">
                                    </div>
                                    <h4 class="large-6 columns">
                                        Niños<br>
                                        <span>2 a 11 años</span>
                                    </h4>
                                    <div class="large-6 columns">
                                        <input name="" type="button" class="menos left" value=" " onclick="decreaseChild();">
                                        <input name="" type="text" id="chd" class="numero_pasajeros left" value="0">
                                        <input name="" type="button" class="mas left" value=" " onclick="increaseChild();">
                                    </div>


                                    <div class="large-12 columns nota">
                                        Para niños que viajan solos de edades entre 5 hasta 11 años, se debe reservar un servicio de acompañamiento.<br>
                                        Lea más acerca de viajar con niños.
                                    </div>

                                    <h4 class="large-6 columns">
                                        Bebés<br>
                                        <span>0 a 2 años</span>
                                    </h4>
                                    <div class="large-6 columns">
                                        <input name="" type="button" class="menos left" value=" " onclick="decreaseInfant();">
                                        <input name="" type="text" id="inf" class="numero_pasajeros left" value="0">
                                        <input name="" type="button" class="mas left" value=" " onclick="increaseInfant();">
                                    </div>

                                </div>
                                <div class="small-12 columns">
                                    <label class="radGroup1" style="float:left;">Código Promocional</label>
                                    <input type="text" class="input_codigo" placeholder="Ingrese código aquí" id="promotionID">
                                    <span class="fi-pricetag-multiple ico_codigo2"></span>
                                </div>
                                <div style="margin-bottom:8px;">
                                    <input type="checkbox" name="checkboxG4" id="checkboxG4" class="css-checkbox" />

                                </div>
                                <input type='hidden' name='tstPost' value='tstPost' />
                            <div class="small-12 columns">
                                <input name="" type="submit" value="BUSCAR VUELOS" id="btnBuscar" class="boton" style="margin-left:26px">
                            </div>
</form>
                    </div>
                </div>
                <div class="large-8 columns menu_slide">
                    <div class="contai20pxner_menu">
                        <a href="#" class="link link1" style="width: 220px">Check in</a>
                        <div class="submenu box1">
                            <h3 class="checkin"><span></span>@AWESAirline.Controllers.baseController.getStringResource("checkInHomeModal", "Check in", Request.Url.ToString(), Request.UserLanguages)</h3>
                            @using (Html.BeginForm("Index", "webCheckIn", FormMethod.Post))
                            {
                                <label>Ingrese los datos de su reserva</label>
                                <input name="codReservation" type="text" placeholder="Ingrese su código de reserva">
                                <label>Ejemplo: EAZFYTFRRT</label>
                                <input name="lastName" type="text" placeholder="Ingrese su apellido">
                                <label>Enviar web check-in vía e-mail</label>
                                <input id="webCheckInEmail" name="email" type="text" placeholder="Ingrese su e-mail">
                                <p style="text-align:center; text-decoration:underline;margin:0 !important;color:#333!important;">Información para realizar su web Check-in</p>
                                <input style="margin: 15px 0 15px 30px" type="submit" value="ENVIAR" class="boton">
                                <p style="text-align:center; margin:0 !important;color:#333!important;">Si usted ya está chequeado y desea  anularlo, active la casilla de anulación</p>
                                <input type="checkbox" name="cancellation" id="checkboxG6" class="css-checkbox" />
                                <label for="checkboxG6" class="css-label" style="text-decoration:underline; font-size:14px; color:#333; margin-left: 30px; margin-top:8px; ">Anulación de Web Check-in</label>
                            }
                        </div>
                    </div>
                    <div class="container_menu">
                        <a href="#" class="link link2" style="width: 220px">Iniciar sesión</a>
                        @if (!userAdministrator.instance.user.isAuthenticated) { 
                        <div id="inscriptionDiv" class="dropdown">
                            <a id="registerModalOpen" class="large-8 medium-12 small-12 large-centered columns bot_naranja" href="#" data-reveal-id="modal3">REGISTRESE EN EASYFLY</a> <span>Cliente nuevo? <a href="#" id="logInModalOpen" class="link2">Ingrese aquí</a></span>
                        </div>
                        }

                        <div class="submenu box2">
                            <h3 class="easyflyer"><span></span>@AWESAirline.Controllers.baseController.getStringResource("EasyFlyerHomeModal", "EasyFlyer", Request.Url.ToString(), Request.UserLanguages)</h3>
                            <form action="get" method="get" class="bienvenido">
                                <h2 style="text-align:center">BIENVENIDO</h2>
                                <label style="text-align:center; font-size:16px; margin-bottom:15px">Ingrese y descubra  una nueva forma de volar con EASYFLY <br /> ¿Por qué registrarse?<br />
                                    <label style="text-align:left; font-size:13px;">
                                        • Envío de descuentos y ofertas exclusivas para nuestros registrados.<br />
                                        • Más tiempo de reserva en cualquier modalidad de pago.<br />
                                        • Rifa de tiquetes en usuarios registrados con al menos una compra mensual.
                                    </label>
                                </label>
                                <input id="emailModal" name="email" type="text" placeholder="Email">
                                <input id="passModal" name="pass" type="password" placeholder="Password">
                                <input type="checkbox" name="emailRemember" id="emailRememberModal" class="css-checkbox" />

                                <label for="checkboxG7" class="css-label radGroup1" style="margin-bottom:8px;">Recordar Dirección de E-mail</label>

                                <input id="logInHomeSend" name="" type="button" value="Ingresar" class="boton" style=" width:50%; float:left">

                                <a href="#" style=" width:48%; float: right; color:#045394;" data-reveal-id="modal3" class="olvido_contModal">
                                    o
                                    REGISTRARSE<br>
                                    AHORA
                                </a>


                                <a href="javascript:btnRecuperar()" style="width:100%; float:left; color:#333;" class="bot_recuperar olvido_contModal">Olvidó su password?</a>
                            </form>
                            <form action="get" method="get" class="recuperar">
                                <h2 style="text-align:center; margin-bottom:15px;">
                                    Recuperar mi contraseña
                                </h2>
                                <div class="small-5 columns small-centered" style=" margin-bottom:15px;">
                                    <img src="/Content/img/llave.png" alt="" />
                                </div>
                                <p style="text-align:center; margin:0 !important;color:#333!important;">Por favor ingrese el correo electrónico con el cual está registrado, le enviaremos un enlace a su correo para restablecer su contraseña.</p>
                                <label class="margin_top">Usuario</label>
                                <input name="" type="text" placeholder="Escriba su E-mail">
                                <div class="small-6 columns small-centered">
                                    <input name="" type="button" value="ENVIAR" class="boton bot_enviar" style="width:100%;">
                                </div>
                                <a href="javascript:botEnviar()" style="width:100%; float:left; color:#333;" class="bot_recuperar olvido_contModal">Volver</a>
                            </form>
                        </div>
                    </div>
                    <div class="container_menu">
                        <a href="#" class="link link3" style="white-space:nowrap width: 220px">Servicios digitales</a>
                        <div class="submenu box3">
                            <h3 class="servicios"><span></span>@AWESAirline.Controllers.baseController.getStringResource("digitalServicesHomeModal", "Servicios Digitales", Request.Url.ToString(), Request.UserLanguages)</h3>
                            <a href="/promociones/ofertas" class="servicios_link">
                                <h3>Promofertas</h3>
                                <p>@AWESAirline.Controllers.baseController.getStringResource("PromofertasTextDigitalServices", "Promofertas", Request.Url.ToString(), Request.UserLanguages)</p>
                            </a>
                            <a href="/map" class="servicios_link">
                                <h3> A donde volamos</h3>
                                <p>@AWESAirline.Controllers.baseController.getStringResource("DondeVolamosTextDigitalServices", "A donde volamos", Request.Url.ToString(), Request.UserLanguages)</p>
                            </a>
                            <a href="#" class="servicios_link" data-reveal-id="modal1">
                                <h3>Retoma de compra</h3>
                                <p>@AWESAirline.Controllers.baseController.getStringResource("RetomaCompraTextDigitalServices", "Retoma de compra", Request.Url.ToString(), Request.UserLanguages)</p>
                            </a>
                            <a href="/contacto" class="servicios_link">
                                <h3>Contacto</h3>
                                <p>@AWESAirline.Controllers.baseController.getStringResource("ContactoTextDigitalServices", "Contacto", Request.Url.ToString(), Request.UserLanguages)</p>
                            </a>
                            <a href="/contacto" class="servicios_link">
                                <h3>Preguntas Frecuentes</h3>
                                <p>@AWESAirline.Controllers.baseController.getStringResource("FAQTextDigitalServices", "Preguntas Frecuentes", Request.Url.ToString(), Request.UserLanguages)</p>
                            </a>
                            <a href="#" class="servicios_link" data-reveal-id="modal2">
                                <h3>Reenvío Eticket</h3>
                                <p>@AWESAirline.Controllers.baseController.getStringResource("ReenvioETicketTextDigitalServices", "Reenvio Eticket", Request.Url.ToString(), Request.UserLanguages)</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="large-12 columns">

        <div class="row">
            <div class="large-12 columns">
                <div class="row">

                    <div class="large-4 small-12 columns">
                        <div id="" class="panel azul1">
                            @*<h5><a href="#">Bogotá - Neiva</a></h5>

                                <h6 class="subheader">
                                    $120.000
                                </h6>*@
                            <a id="principal0a" href="@pBannerInfo[0].urlSmall" target="_blank"><img src="data:image;base64,@System.Convert.ToBase64String(pBanner[0])" id="principal0" class="principal" alt="@pBannerInfo[0].altText" title="@pBannerInfo[0].title"></a>
                        </div>
                    </div>

                    <div class="large-4 small-12 columns">
                        <div class="panel azul2">
                            @*<h5><a href="#">Bogotá - Neiva</a></h5>

                                <h6 class="subheader">
                                    $120.000
                                </h6>*@
                            <a id="principal1a" href="@pBannerInfo[1].urlSmall" target="_blank"><img src="data:image;base64,@System.Convert.ToBase64String(pBanner[1])" id="principal1" class="principal" alt="@pBannerInfo[1].altText" title="@pBannerInfo[1].title"></a>
                        </div>
                    </div>
                    <div class="large-4 small-12 columns">
                        <div class="panel azul3">
                            @*<h5><a href="#">Bogotá - Neiva</a></h5>
                                <h6 class="subheader">
                                    $120.000
                                </h6>*@
                            <a id="principal2a" href="@pBannerInfo[2].urlSmall" target="_blank"><img src="data:image;base64,@System.Convert.ToBase64String(pBanner[2])" id="principal2" class="principal" alt="@pBannerInfo[2].altText" title="@pBannerInfo[2].title"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <div class="row">

                    <div class="large-6 small-12 columns">
                        <div class="banner_publicidad azul4">
                            @*<div class="titulo_banner">Banner Publicidad 1</div>  <p>
                                    Obtenga una tasa preferencial y el mejor
                                    cubrimiento mundial
                                </p>*@
                            <a id="secundary0a" href="@sBannerInfo[0].urlSmall" target="_blank"><img src="data:image;base64,@System.Convert.ToBase64String(sBanner[0])" id="secundary0" class="secundary" alt="@sBannerInfo[0].altText" title="@sBannerInfo[0].title"></a>
                        </div>

                    </div>


                    <div class="large-6 small-12 columns">
                        <div class="banner_publicidad azul2">
                            @*<div class="titulo_banner">Banner Publicidad 2</div>  <p>
                                    Obtenga una tasa preferencial y el mejor
                                    cubrimiento mundial
                                </p>*@
                            <a id="secundary1a" href="@sBannerInfo[1].urlSmall" target="_blank"><img src="data:image;base64,@System.Convert.ToBase64String(sBanner[1])" id="secundary1" class="secundary" alt="@sBannerInfo[1].altText" title="@sBannerInfo[1].title"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal1" class="reveal-modal modal1" data-reveal>
    <h2>RETOMA DE COMPRA</h2>
    <div class="modal_inner">
        <label>CÓDIGO DE RESERVA</label>
        <input name="" type="text" placeholder="EJEM. XHUAUJ" id="reservationCodePurchase">
        <label>APELLIDO</label>
        <input name="" type="text" placeholder="ESCRIBA SU APELLIDO" id="lastNamePurchase">
        @*<a href="" class="bot_buscar">ENVIAR</a>*@
        <input type="button" class="bot_buscar" id="btnPurchase" value="ENVIAR" />
        <a class="close-reveal-modal"></a>
        <br />
        <div id="divResponsePurchase"></div>
    </div>
</div>


<div id="modal2" class="reveal-modal modal1" data-reveal>
    <h2>REENVIO E-TICKET</h2>
    <div class="modal_inner">
        <label>CÓDIGO DE RESERVA</label>
        <input name="" type="text" placeholder="EJEM. XHUAUJ" id="reservationCodeForwarding">
        <label>APELLIDO</label>
        <input name="" type="text" placeholder="ESCRIBA SU APELLIDO" id="lastNameForwarding">
        <label>E-MAIL</label>
        <input name="" type="text" placeholder="ESCRIBA SU E-MAIL PARA REENVIAR" id="emailForwarding">
        @*<a href="" class="bot_buscar">ENVIAR</a>*@
        <input type="button" class="bot_buscar" id="btnForwarding" value="ENVIAR" />
        <a class="close-reveal-modal"></a>
        <br />
        <div id="divResponseForwarding"></div>
    </div>
</div>
@section Scripts
{
    @*@Scripts.Render("~/Content/js/siteScripts/home.js")*@
    @Scripts.Render("~/bundles/siteScripts")
}

