﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<AWESCommon.authSupport.catalogEntryPOCO> cities = ViewBag.cities;
    Dictionary<string, string> dictCities = ViewBag.dictCities;
}
<h1 style="background-color:white; color:white; font-size:1px; width: 1px; margin-bottom: 0px;">@ViewBag.header</h1>
@{
    int cont=0;
    foreach (string i in ViewBag.hrefSEO)
    {
        <a href="@i" style="background-color:white; color:white; font-size:1px; width: 1px; margin-bottom: 0px;">@ViewBag.hrefInnerText[cont]</a>
        cont++;
    }
}


<div class="row">
    <div class="tit_naranja">
        @ViewBag.headerNameCity
    </div>
    <div class="foto_ciudad" style="background: url(@ViewBag.imageCity);">
        <div class="buscador_promos2">
            <form action="" id="form">
                <div class="large-2 columns">
                    <select id="origins" name="origins" class="ciudad origen">
                        @foreach (KeyValuePair<int, string> origin in ViewBag.origin)
                        {
                            string name = "";
                            if (dictCities.Keys.Contains(origin.Value))
                            {
                                name = dictCities[origin.Value];
                            }
                            <option value="@origin.Key">@name (@origin.Value)</option>
                        }
                    </select>
                    <span class="fi-marker icon_origen2"></span>
                </div>
                <div class="large-2 columns">
                    <select id="destinations" name="destinations" class="ciudad destino"></select>
                    <span class="fi-marker icon_destino2"></span>
                </div>
                <div class="large-2 columns">
                    <input id="fechaSalida" type="text" class="fecha_ida cityDateDeparture" placeholder="Fecha de Salida" data-dptxt="Seleccione la fecha de Salida">
                    <span class="fi-thumbnails icon_salida2"></span>
                </div>
                <div class="large-2 columns returnDateRemove">
                    <input id="fechaRegreso" type="text" class="fecha_regreso notDesapear cityDateArrival" placeholder="Fecha de Regreso" data-dptxt="Seleccione la fecha de regreso">
                    <span class="fi-thumbnails icon_regreso2"></span>
                </div>
                <div class="large-2 columns">
                    <input id="pax" type="text" class="input_pasajeros" placeholder="1 Adulto, 0 Niños" />
                    <span class="fi-torso ico_pasajeros2"></span>
                </div>
                <div class="pasajeros">
                    <h2>Seleccione los pasajeros</h2>
                    <h4 class="large-6 columns">Adultos</h4>
                    <div class="large-6 columns">
                        <input name="" type="button" class="menos left" value=" " onclick="decreaseAdult();"><input id="adt" name="" type="text" class="numero_pasajeros left" value="1"><input name="" type="button" class="mas left" value=" " onclick="increaseAdult();">
                    </div>
                    <h4 class="large-6 columns">
                        Niños<br>
                        <span>2 a 11 años</span>
                    </h4>
                    <div class="large-6 columns">
                        <input name="" type="button" class="menos left" value=" " onclick="decreaseChild();"><input id="chd" name="" type="text" class="numero_pasajeros left" value="0"><input name="" type="button" class="mas left" value=" " onclick="increaseChild();">
                    </div>


                    <div class="large-12 columns nota">
                        Para niños que viajan solos de edades entre 5 hasta 11 años, se debe reservar un servicio de acompañamiento.<br>
                        Lea más acerca de viajar con niños.
                    </div>

                    <h4 class="large-6 columns">
                        Bebés<br>
                        <span>0 a 2 años</span>
                    </h4>
                    <div class="large-6 columns">
                        <input name="" type="button" class="menos left" value=" " onclick="decreaseInfant();"><input id="inf" name="" type="text" class="numero_pasajeros left" value="0"><input name="" type="button" class="mas left" value=" " onclick="increaseInfant();">
                    </div>

                </div>
                <div class="large-2 columns buscar_ofertas">
                    <a href="javascript:flightsFind()" class="bot_azul" style="text-align: center;">BUSCAR OFERTAS</a>
                </div>
                <div class="large-4 columns" style="bottom:20px;">
                    <input id="rdoVuelta" type="radio" checked="checked" name="radiog_dark">
                    <label class="radGroup1 radGroup2" for="radio4">Ida y regreso</label>
                    <input id="rdoIda" type="radio" name="radiog_dark">
                    <label class="radGroup1 radGroup2" for="radio5">Solo Ida</label>
                </div>
                <div class="large-3 columns left small-offset-3">
                    <input id="promotionID" type="text" placeholder="Tiene un Código Promocional?" class="codigo_prom" style="bottom: 20px;">
                    <span class="fi-price-tag ico_codigo" style="color: rgb(225, 113, 37); bottom: 15px;"></span>
                </div>
            </form>
        </div>
        <div class="trayectos" style="top:390px; background-size: 25px; height: 155px;">
            <div class="small-12">
                <div class="small-3 left desde">desde: </div>
                <div class="small-9 left">
                    <select id="originSelect" class="sel_origen">
                        @foreach (KeyValuePair<int, string> origin in ViewBag.origin)
                        {
                            string name = "";
                            if (dictCities.Keys.Contains(origin.Value))
                            {
                                name = dictCities[origin.Value];
                            }
                            <option value="@origin.Key">@name</option>
                        }
                    </select>
                </div>
            </div>
            @*<div class="info_trayecto">
                Tiempo de vuelo: 1 Hora<br>
                Vuelos semanales: 14<br>
                Días: Lunes a Domingo
            </div>
            <a href="#" class="bot_naranja4 small-5 columns margin_left3 margin_top4">RESERVAR YA!</a>*@
        </div>
        <div id="infoCity">
            @Html.Raw(@ViewBag.htmlCity)
        </div>
    </div>
</div>

<script>
    $(document).foundation();
</script>
<script>
    var citiesHtml = {};
    var bannersImage = {};
    $(document).ready(function () {
        //$("#city").change(function () {
        //    updateHTML();
        //    updateImage();
        //})
        //getContentByCity();
        //getImage();
        $(".ciudad_tab").css('margin-top',"106px");
        $("#originSelect").change(function () {
            if ($("#originSelect option:selected").html() != $.trim($(".tit_naranja").html()))
                window.location.href = "/vuelos/tiquetes/vuelos-desde-" + ascentMapped($("#originSelect option:selected").html());
            //updateHTML("originSelect");
            $("#origins").val($("#originSelect option:selected").val());
            $(".tit_naranja").html($("#originSelect option:selected").html());
            getDestinationsFunc($("#originSelect option:selected").val());
        })
        $("#originSelect option").each(function () {
            var selectName = $(this).html();
            if (selectName == $.trim($(".tit_naranja").html())) {
                $("#originSelect").val($(this).val());
                $("#originSelect").change();
            }
        })
    })
    function getContentByCity() {
        //$.blockUI();
        $.getJSON("/city/getContentCity", null, function (data, textStatus, jqXHR) {
            $.each(data.data, function (key, value) {
                citiesHtml[key] = value;
            });
            updateHTML("city");
            $.unblockUI();
        }).fail(function (jqXHR, textStatus, data) {
            $.unblockUI();
            mixpanel.track("Error", { "Number": "7001", "Page": "city", "url": "/city/getContentCity", "Details": "no se pudo conseguir contenido de ciudad" });
            errorObject = JSON.parse(jqXHR.responseText);
            log("processPurchase::error:" + errorObject.Message);
        });
    }

    function getImage() {
        //$.blockUI();
        $.getJSON("/city/getImages", null, function (data, textStatus, jqXHR) {
            $.each(data.data, function (i, value) {
                //var banners = JSON.parse(value);
                var bannerInfo = [];
                bannerInfo.push(value.url);
                bannerInfo.push(value.title);
                bannerInfo.push(value.altText);
                bannersImage[value.name] = bannerInfo;
            });
            updateImage();
            $.unblockUI();
        }).fail(function (jqXHR, textStatus, data) {
            $.unblockUI();
            mixpanel.track("Error", { "Number": "7002", "Page": "city", "url": "/city/getImages", "Details": "no se pudo conseguir imagenes de ciudad" });
            errorObject = JSON.parse(jqXHR.responseText);
            log("processPurchase::error:" + errorObject.Message);
        });
    }
    function updateHTML(select) {
        var IATA = $("#" + select + " option:selected").val();
        if (IATA in citiesHtml) {
            $("#infoCity").html(citiesHtml[IATA]);
        } else {
            $("#infoCity").html("");
        }
        $(document).foundation();
    }
    function updateImage() {
        var IATA = $("#city option:selected").val();
        var banner = bannersImage[IATA];
        if (IATA in bannersImage) {
            $(".foto_ciudad").css("background-image", "url(" + banner[0] + ")");
        } else {
            $(".foto_ciudad").css("background-image", "url()");
        }
        //$("#principal" + i).css("alt", value.altText);
        //$("#principal" + i).css("title", value.title);
    }
</script>
<script>
    
</script>
