﻿@{
    ViewBag.Title = "Tolken list";
}

<h2>Token list</h2>

<table>
    <tbody id="tokenList">
        @foreach (AWESAirline.Controllers.tokenizationController.tokenBind token in ViewBag.entries)
        {
            <tr>
                <td>@token.ID</td>
                <td>@token.name</td>
                <td>@token.notes</td>
                <td>@token.paymentMethod</td>
               
                <td>
                    @if (token.isEnabled)
                    {
                        <a href="javascript:disableToken('@token.token', @token.ID)">Disable</a><br />
                    }
                    else
                    {
                        <a href="javascript:enableToken('@token.token', @token.ID)">Enable</a><br />
                    }
                    <a href="javascript:seeToken('@token.token', @token.ID)">See token</a><br />
                    <a href="javascript:historyToken('@token.token')">See usage history</a><br />
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>
                <div id="tokenDetail"></div>
            </td>
        </tr>
    </tfoot>
</table>
<table>
    <tr>
        <td>
            payerId
        </td>
        <td><input type="text" id="payerId" value="@AWESMVCCommon.Security.userAdministrator.instance.user.ID" /></td>
        <td>
            paymentMethod
        </td>
        <td>
            <select id="paymentMethod">
                @*@foreach (AWESAirline.Controllers.tokenizationController.tokenPaymentMethod payMethod in @ViewBag.paymentMethods)
                    {
                           <option id="@payMethod.ID">@payMethod.description</option>
                    }*@
                <option id="MASTERCARD">MASTERCARD</option>
                <option id="AMEX">AMEX</option>
                <option id="VISA">VISA</option>
                <option id="DINERS">DINERS</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            name
        </td>
        <td><input type="text" id="name" /></td>
        <td>
            identificationNumber
        </td>
        <td><input type="text" id="identificationNumber" /></td>
    </tr>
    <tr>
        <td>
            number
        </td>
        <td><input type="text" id="number" /></td>

        <td>
            expirationDate
        </td>
        <td><input type="text" id="expirationDate" /></td>
    </tr>
    <tr>
        <td colspan="3">
            <input type="button" id="newToken" value="Create new token" />
        </td>
    </tr>
    <tr><td colspan="3"><div id="message"></div></td></tr>
</table>

<script>
    $(this).ready(function () {
        $("#newToken").click(newToken);
    })
</script>

@Scripts.Render("~/Content/js/siteScripts/tokens.js")

